<template>
  <div>
    <v-container
      class="customContainer"
      :class="$store.state.app.viewPort == 'mobile' ? 'mt-0 px-1' : 'mt-3'"
    >
      <!-- eslint-disable-next-line vue/no-v-html -->
      <div class="mb-12" v-html="dataDeatail" />
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dataDeatail: '',
    }
  },
  mounted() {
    this.getFooter()
  },
  methods: {
    getFooter() {
      const data = {
        path: this.$route.params.pathMatch,
      }
      this.$store.dispatch('setting/detailFooter', data).then((res) => {
        if (!res.error) {
          if ((res.data.data || []).length !== 0) {
            this.dataDeatail = res.data.data[0].content
          }
        }
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@media (min-width: 1904px) {
  .customContainer {
    max-width: 1300px !important;
    padding: 0px;
  }
}
</style>
