<template>
  <div>
    <div v-if="data" class="booking">
      <!-- cycle -->
      <v-carousel
        hide-delimiter-background
        show-arrows-on-hover
        hide-delimiters
        :height="$store.state.app.viewPort == 'mobile' ? '10.625rem' : '27rem'"
      >
        <v-carousel-item v-for="(slide, i) in slides" :key="i">
          <v-img :src="UrlImg(slide.bannerUrl)">
            <div class="h-10">
              <detailBanner />
            </div>
            <div class="d-flex flex-column justify-end h-90">
              <div>
                <v-row class="background-linear-gradient">
                  <v-container
                    class="pb-0"
                    :class="
                      $store.state.app.viewPort == 'mobile' ? 'px-0' : 'px-1'
                    "
                  >
                    <v-col
                      cols="12"
                      md="6"
                      class="color-banner"
                      :class="
                        $store.state.app.viewPort == 'mobile' ? 'pa-2' : ''
                      "
                    >
                      <div>
                        <h1
                          style="font-size: 3rem"
                          class="font-weight-medium fs-26"
                        >
                          {{ title }}

                          <v-btn
                            v-if="
                              $store.state.login.role
                                ? $store.state.login.role.includes('ARTIST')
                                : false
                            "
                            icon
                            @click="showProfile()"
                          >
                            <v-icon>mdi-pencil</v-icon>
                          </v-btn>
                        </h1>
                        <div class="fs-14 py-1" style="min-height: 32px">
                          {{ likes(data) }}
                        </div>
                        <div class="fs-14">
                          <span v-if="qualificationName">
                            {{ $vuetify.lang.t('$vuetify.pageBooking.Level') }}:
                            {{ qualificationName }}
                          </span>
                          <span class="font-weight-light px-2">
                            {{ '|' }}
                          </span>

                          <span v-if="levelName">
                            {{ $vuetify.lang.t('$vuetify.pageBooking.Genre') }}:
                          </span>
                          <span style="position: absolute; margin-top: -5px">
                            <v-rating
                              readonly
                              v-model="rating"
                              background-color="orange lighten-3"
                              color="orange"
                              half-increments
                              size="15"
                            ></v-rating>
                          </span>
                          <!--  -->

                          <div
                            class="d-flex"
                            v-if="
                              $route.query.plan === accountId ||
                              $store.state.login.role.includes('CUSTOMER')
                            "
                          >
                            <div style="align-self: center">
                              Chi phí Booking:
                            </div>

                            <div class="pl-1 pt-2" style="align-self: center">
                              <div
                                v-if="hide"
                                class="pl-1 pb-1"
                                style="align-self: center"
                              >
                                {{ $formatMoney({ amount: amountMoney }) }}
                                VND
                              </div>
                              <div v-else>***********</div>
                            </div>

                            <v-btn @click="showAmountMoney" icon class="ml-3">
                              <v-icon v-if="hide">mdi-eye</v-icon>
                              <v-icon v-else>mdi-eye-off</v-icon>
                            </v-btn>

                            <!-- <div>
                              <v-text-field
                                v-model="amountMoney"
                                :type="showPass ? 'text' : 'password'"
                                :append-icon="
                                  showPass ? 'mdi-eye' : 'mdi-eye-off'
                                "
                                class="background-input"
                                solo
                                hide-details
                                dense
                                @click:append="showPass = !showPass"
                              />
                            </div> -->
                          </div>
                        </div>
                        <div
                          style="overflow: auto; max-height: 135px"
                          v-if="!$isNullOrEmpty(data.artist.shortDescription)"
                        >
                          <div
                            :class="'body-1'"
                            v-if="
                              !showMoreDes &&
                              ($store.state.app.viewPort === 'mobile'
                                ? data.artist.shortDescription.length > 130
                                : data.artist.shortDescription.length > 400)
                            "
                            v-html="
                              $store.state.app.viewPort === 'mobile'
                                ? data.artist.shortDescription.slice(0, 130) +
                                  '...'
                                : data.artist.shortDescription.slice(0, 235) +
                                  '...'
                            "
                          ></div>
                          <div
                            :class="'body-1'"
                            v-else
                            v-html="data.artist.shortDescription"
                          ></div>
                          <v-btn
                            x-small
                            text
                            v-if="
                              $store.state.app.viewPort === 'mobile'
                                ? data.artist.shortDescription.length > 130
                                : data.artist.shortDescription.length > 400
                            "
                            class="pt-0 pl-0 text-none primary--text body-1"
                            @click="showMore"
                            >{{ showMoreDes ? 'Thu gọn' : 'Xem thêm' }}</v-btn
                          >
                        </div>

                        <div
                          :class="
                            $store.state.app.viewPort == 'mobile'
                              ? 'mt-2'
                              : 'mt-3'
                          "
                        >
                          <v-btn
                            style="border-radius: 8px"
                            color="#1448C6"
                            depressed
                            :small="$store.state.app.viewPort == 'mobile'"
                          >
                            {{
                              $vuetify.lang.t('$vuetify.pageBooking.ArtistInfo')
                            }}
                            <v-icon right dark color="white">
                              mdi-download
                            </v-icon>
                          </v-btn>
                          <v-btn
                            style="border-radius: 8px"
                            class="ml-2"
                            depressed
                            :small="$store.state.app.viewPort == 'mobile'"
                            :color="statusLike ? 'red' : 'white'"
                            :outlined="!statusLike"
                            :loading="loading"
                            @click="clickLike(statusLike)"
                          >
                            {{
                              statusLike
                                ? $vuetify.lang.t(
                                    '$vuetify.pageBooking.AlreadyLoved'
                                  )
                                : $vuetify.lang.t(
                                    '$vuetify.pageBooking.Favorite'
                                  )
                            }}
                            <v-icon v-if="statusLike" right dark>
                              mdi-cards-heart
                            </v-icon>
                            <v-icon v-else right dark>
                              mdi-heart-outline
                            </v-icon>
                          </v-btn>
                        </div>
                      </div>
                    </v-col>
                  </v-container>
                  <div
                    v-if="
                      $store.state.login.role
                        ? $store.state.login.role.includes('ARTIST')
                        : false
                    "
                    :class="
                      $store.state.app.viewPort == 'mobile'
                        ? 'position-absolute-right-top'
                        : 'position-absolute-right-bottom'
                    "
                  >
                    <v-btn
                      color="#ffffffa1"
                      depressed
                      :small="$store.state.app.viewPort == 'mobile'"
                      style="
                        text-transform: none;
                        font-weight: 400;
                        color: black;
                      "
                      @click="openEditImg(slide)"
                    >
                      <v-img
                        :height="
                          $store.state.app.viewPort == 'mobile' ? 25 : 26
                        "
                        :width="$store.state.app.viewPort == 'mobile' ? 5 : 26"
                        src="/imgFake/diaphragm.png"
                      />
                      <div
                        v-if="$store.state.app.viewPort !== 'mobile'"
                        class="pl-2"
                      >
                        {{
                          $vuetify.lang.t('$vuetify.banner.coverPhotoUpdate')
                        }}
                      </div>
                    </v-btn>
                  </div>
                </v-row>
              </div>
            </div>
          </v-img>
        </v-carousel-item>
      </v-carousel>
      <v-container
        class="px-0 py-0"
        :style="
          $store.state.app.viewPort == 'mobile'
            ? 'width:100% ; padding: 0px;'
            : ''
        "
      >
        <v-row class="centerRow">
          <v-col
            :cols="12"
            sm="12"
            md="12"
            class="text-center tabs-home px-0 py-0"
          >
            <v-tabs
              v-model="tab"
              background-color="#FFFFFF"
              color="red"
              grow
              class="py-3 pb-2"
              hide-slider
            >
              <v-tab style="text-transform: none" class="my-1">
                {{ $vuetify.lang.t('$vuetify.pageBooking.profile') }}
              </v-tab>
              <v-icon v-if="checkToken()" style="font-size: 13px">
                mdi-dots-vertical
              </v-icon>

              <v-tab
                v-if="checkToken()"
                style="text-transform: none"
                class="my-1"
              >
                {{ $vuetify.lang.t('$vuetify.pageBooking.Booking') }}
              </v-tab>
              <v-icon v-if="checkToken()" style="font-size: 13px" class="my-1">
                mdi-dots-vertical
              </v-icon>
              <v-tab
                v-if="checkToken()"
                style="text-transform: none"
                class="my-1"
              >
                {{ $vuetify.lang.t('$vuetify.pageBooking.Schedule') }}
              </v-tab>
            </v-tabs>
            <v-tabs-items v-model="tab">
              <v-tab-item>
                <v-row class="py-6 pt-2">
                  <!-- Embed -->
                  <v-col
                    cols="12"
                    md="4"
                    sm="6"
                    class="px-1 pt-0 pr-3"
                    :order="$store.state.app.viewPort == 'mobile' ? 12 : ''"
                  >
                    <viewEmbed
                      :embedded="socialEmbedded"
                      :role="
                        $store.state.login.role
                          ? $store.state.login.role.includes('ARTIST')
                          : false
                      "
                      @success="getList()"
                    />
                  </v-col>
                  <!-- Story -->
                  <v-col
                    v-if="(data.stories || []).length !== 0"
                    cols="12"
                    md="4"
                    sm="6"
                    class="pt-0 px-2"
                  >
                    <v-hover>
                      <v-card elevation="3" rounded="lg" max-width="26rem">
                        <v-carousel
                          cycle
                          hide-delimiter-background
                          hide-delimiters
                          :show-arrows="false"
                          :height="
                            $store.state.app.viewPort == 'mobile'
                              ? '24.09rem'
                              : '34.09rem'
                          "
                        >
                          <v-carousel-item
                            v-for="(stories, i) in data.stories"
                            :key="i"
                          >
                            <v-img
                              :src="UrlImg(stories.imageUrl)"
                              class="BookingImg"
                            >
                              <div
                                v-if="
                                  $store.state.login.role
                                    ? $store.state.login.role.includes('ARTIST')
                                    : ''
                                "
                                class="position-absolute"
                                style="
                                  right: 5px;
                                  top: 3px;
                                  cursor: pointer;
                                  z-index: 6;
                                "
                              >
                                <v-menu
                                  left
                                  transition="scroll-y-transition"
                                  offset-y
                                  offset-x
                                  nudge-right="52"
                                >
                                  <template #activator="{ on }">
                                    <div class="box-menu" v-on="on">
                                      <v-icon large color="white">
                                        mdi-dots-horizontal
                                      </v-icon>
                                    </div>
                                  </template>
                                  <v-list
                                    dense
                                    width="190"
                                    class="pa-2 border-list"
                                    style="background-color: #22318b !important"
                                  >
                                    <v-list-item-group v-model="action">
                                      <v-list-item
                                        class="pl-0"
                                        @click="openAdd"
                                      >
                                        <v-list-item-icon class="mr-2">
                                          <v-img
                                            height="20"
                                            width="20"
                                            src="/logo/add.png"
                                          />
                                        </v-list-item-icon>
                                        <v-list-item-content>
                                          <v-list-item-title
                                            class="white--text"
                                          >
                                            <div style="font-weight: 400">
                                              {{
                                                $vuetify.lang.t('$vuetify.Add')
                                              }}
                                              story
                                            </div>
                                          </v-list-item-title>
                                        </v-list-item-content>
                                      </v-list-item>
                                      <v-divider color="#525478" />
                                      <v-list-item
                                        class="pl-0"
                                        @click="showDetail"
                                      >
                                        <v-list-item-icon class="mr-2">
                                          <v-img
                                            height="20"
                                            width="20"
                                            src="/logo/detail.png"
                                          />
                                        </v-list-item-icon>
                                        <v-list-item-content>
                                          <v-list-item-title
                                            class="white--text"
                                          >
                                            <div style="font-weight: 400">
                                              {{
                                                $vuetify.lang.t(
                                                  '$vuetify.Update'
                                                )
                                              }}
                                              story
                                            </div>
                                          </v-list-item-title>
                                        </v-list-item-content>
                                      </v-list-item>
                                      <v-divider color="#525478" />
                                      <v-list-item
                                        class="pl-0"
                                        @click="dialogTutorial('playlist')"
                                      >
                                        <v-list-item-icon class="mr-2">
                                          <v-img
                                            height="20"
                                            width="20"
                                            src="/logo/hoicham.png"
                                          />
                                        </v-list-item-icon>
                                        <v-list-item-content>
                                          <v-list-item-title
                                            class="nuxt-link white--text"
                                          >
                                            <div style="font-weight: 400">
                                              {{
                                                $vuetify.lang.t(
                                                  '$vuetify.Tutorial'
                                                )
                                              }}
                                            </div>
                                          </v-list-item-title>
                                        </v-list-item-content>
                                      </v-list-item>
                                    </v-list-item-group>
                                  </v-list>
                                </v-menu>
                              </div>
                              <div>
                                <!-- <v-container
                                  class="
                                    w-100
                                    d-flex
                                    flex-column
                                    justify-end
                                    h-100
                                    pa-0
                                  "
                                  style="text-align: start"
                                >
                                  <h1
                                    class="font-weight-regular"
                                    style="
                                      text-shadow: black 10px 0 10px;
                                      font-weight: 500 !important;
                                    "
                                  >
                                    {{ stories.title }}
                                  </h1>
                                  <div style="text-shadow: black 10px 0 10px">
                                    {{ TextCapture(stories.content) }}
                                  </div>
                                </v-container> -->
                              </div>
                            </v-img>
                            <div
                              class="w-100 h-100"
                              style="
                                position: absolute;
                                z-index: 1;
                                top: 0;
                                margin-top: 25px;
                              "
                            >
                              <div
                                class="pl-3 pr-2 pb-3 h-100 d-flex flex-column justify-end background-linear-gradient"
                                style="text-align: start"
                              >
                                <h1
                                  class="font-weight-regular p"
                                  style="
                                    text-shadow: black 10px 0 10px;
                                    font-weight: 500 !important;
                                  "
                                >
                                  {{ stories.title }}
                                </h1>
                                <div
                                  class="mb-10"
                                  style="text-shadow: black 10px 0 10px"
                                >
                                  {{ TextCapture(stories.content) }}
                                </div>
                              </div>
                            </div>
                          </v-carousel-item>
                        </v-carousel>
                      </v-card>
                    </v-hover>
                  </v-col>
                  <!-- Thêm story -->
                  <v-col v-else cols="12" md="4" sm="6" class="px-2 pt-0">
                    <v-card
                      v-if="
                        $store.state.login.role
                          ? $store.state.login.role.includes('ARTIST')
                          : ''
                      "
                      max-width="26rem"
                      :height="
                        $store.state.app.viewPort == 'mobile'
                          ? '24.09rem'
                          : '34.09rem'
                      "
                      elevation="4"
                      rounded="lg"
                      @click="openAdd"
                    >
                      <v-img
                        :height="
                          $store.state.app.viewPort == 'mobile'
                            ? '24.09rem'
                            : '34.09rem'
                        "
                        src="/logo/null.png"
                      />
                    </v-card>
                    <!-- ko có tk story  -->
                    <v-card v-else elevation="3" rounded="lg">
                      <v-img
                        src="/logo/hinhnen.png"
                        class="BookingImg"
                        :height="
                          $store.state.app.viewPort == 'mobile'
                            ? '24.09rem'
                            : '34.09rem'
                        "
                      />
                    </v-card>
                  </v-col>
                  <!-- date -->
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                    class="px-1 pt-0 d-flex justify-content-flex-end"
                  >
                    <v-card
                      max-width="26rem"
                      elevation="4"
                      rounded="lg"
                      :height="
                        $store.state.app.viewPort == 'mobile'
                          ? '30.09rem'
                          : '34.09rem'
                      "
                    >
                      <v-date-picker
                        v-model="dates"
                        full-width
                        class="data-picker"
                        :min="minBooking()"
                        range
                      />
                      <div class="px-5">
                        <v-btn
                          :disabled="
                            $store.state.login.role
                              ? !$store.state.login.role.includes('CUSTOMER')
                              : ''
                          "
                          class="colorGradient"
                          width="100%"
                          dark
                          depressed
                          large
                          @click="openBooking = true"
                        >
                          Booking
                        </v-btn>
                      </div>
                      <div class="pt-2 px-5">
                        <v-btn
                          :disabled="
                            $store.state.login.role
                              ? !$store.state.login.role.includes('CUSTOMER')
                              : ''
                          "
                          outlined
                          width="100%"
                          color="indigo"
                          class="d-block"
                          large
                          @click="resetDate"
                        >
                          {{ $vuetify.lang.t('$vuetify.pageBooking.reset') }}
                        </v-btn>
                      </div>
                    </v-card>
                  </v-col>
                </v-row>

                <v-row v-if="checkProduct()">
                  <v-col cols="1" />
                  <v-col cols="10" class="text-center py-0 px-1">
                    <h2 style="font-size: 28px">
                      {{
                        $vuetify.lang.t(
                          '$vuetify.pageBooking.featuredPproducts'
                        )
                      }}
                    </h2>
                  </v-col>
                  <v-col cols="1" class="py-0 pr-0">
                    <div
                      v-if="
                        $store.state.login.role
                          ? $store.state.login.role.includes('ARTIST')
                          : false
                      "
                      class="d-flex"
                      style="justify-content: flex-end"
                    >
                      <v-menu
                        v-model="menuProduct"
                        left
                        transition="scroll-y-transition"
                        offset-y
                        offset-x
                        nudge-bottom="5"
                        nudge-right="52"
                      >
                        <template #activator="{ on }">
                          <div v-on="on">
                            <div class="box-menu" v-on="on">
                              <v-icon large color="#00000073">
                                mdi-dots-horizontal
                              </v-icon>
                            </div>
                          </div>
                        </template>
                        <v-list
                          dense
                          width="15.4375rem"
                          class="pa-2 border-list"
                          style="background-color: #22318b !important"
                        >
                          <v-list-item-group v-model="actionProduct">
                            <v-list-item class="pl-0" @click="openDetail">
                              <v-list-item-icon class="mr-2">
                                <v-img
                                  height="20"
                                  width="20"
                                  src="/logo/add.png"
                                />
                              </v-list-item-icon>
                              <v-list-item-content>
                                <v-list-item-title class="white--text">
                                  <div style="font-weight: 400">
                                    {{ $vuetify.lang.t('$vuetify.addProduct') }}
                                  </div>
                                </v-list-item-title>
                              </v-list-item-content>
                            </v-list-item>
                            <v-divider color="#525478" />
                            <v-list-item
                              class="pl-0"
                              @click="addProduct = true"
                            >
                              <v-list-item-icon class="mr-2">
                                <v-img
                                  height="20"
                                  width="20"
                                  src="/logo/detail.png"
                                />
                              </v-list-item-icon>
                              <v-list-item-content>
                                <v-list-item-title class="white--text">
                                  <div style="font-weight: 400">
                                    {{
                                      $vuetify.lang.t(
                                        '$vuetify.updateProductHot'
                                      )
                                    }}
                                  </div>
                                </v-list-item-title>
                              </v-list-item-content>
                            </v-list-item>
                            <!-- <v-divider color="#525478" />
                            <v-list-item class="pl-0">
                              <v-list-item-icon class="mr-2">
                                <v-img
                                  height="20"
                                  width="20"
                                  src="/logo/deleteIcon.png"
                                />
                              </v-list-item-icon>
                              <v-list-item-content>
                                <v-list-item-title
                                  class="nuxt-link white--text"
                                >
                                  <div style="font-weight: 400">
                                    {{
                                      $vuetify.lang.t('$vuetify.deleteProduct')
                                    }}
                                  </div>
                                </v-list-item-title>
                              </v-list-item-content>
                            </v-list-item> -->
                            <v-divider color="#525478" />
                            <v-list-item
                              class="pl-0"
                              @click="openTutorialHot = true"
                            >
                              <v-list-item-icon
                                class="mr-2"
                                @click="dialogTutorial('hotProduct')"
                              >
                                <v-img
                                  height="20"
                                  width="20"
                                  src="/logo/hoicham.png"
                                />
                              </v-list-item-icon>
                              <v-list-item-content>
                                <v-list-item-title
                                  class="nuxt-link white--text"
                                >
                                  <div style="font-weight: 400">
                                    {{ $vuetify.lang.t('$vuetify.Tutorial') }}
                                  </div>
                                </v-list-item-title>
                              </v-list-item-content>
                            </v-list-item>
                          </v-list-item-group>
                        </v-list>
                      </v-menu>
                    </div>
                  </v-col>
                  <!-- Sản phẩm nổi bật -->
                  <v-col
                    v-if="(dataProduct || []).length !== 0"
                    cols="12"
                    class="px-0 py-6"
                  >
                    <v-carousel
                      v-model="carousel"
                      cycle
                      show-arrows-on-hover
                      hide-delimiters
                      height="342px"
                    >
                      <v-carousel-item v-for="(item, i) in listAnh" :key="i">
                        <div
                          class="px-1 d-flex"
                          style="justify-content: space-between"
                        >
                          <div
                            v-for="(img, idx) in item"
                            :key="idx"
                            :style="
                              $store.state.app.viewPort === 'mobile'
                                ? 'width: 47%'
                                : 'width: 23%'
                            "
                          >
                            <v-hover v-if="JSON.stringify(img) !== '{}'">
                              <template #default="{ hover }">
                                <v-card
                                  color="white"
                                  rounded="lg"
                                  target="_blank"
                                  :href="
                                    !$isNullOrEmpty(actionProduct)
                                      ? ''
                                      : img.embeddedUrl
                                  "
                                  class="transition-swing my-3"
                                  :elevation="hover ? 3 : 0"
                                >
                                  <v-img
                                    style="border-radius: 8px"
                                    :src="UrlImg(img.imageUrl)"
                                    :height="
                                      $store.state.app.viewPort == 'mobile'
                                        ? '7.79rem'
                                        : '13.79rem'
                                    "
                                    width="100%"
                                  />
                                  <h3
                                    class="pa-2 black--text"
                                    style="text-align: start !important"
                                  >
                                    {{ textNews(img.name) }}
                                  </h3>
                                  <div
                                    class="caption pb-2 px-2 black--text"
                                    style="text-align: start !important"
                                  >
                                    {{ title }}
                                  </div>
                                </v-card>
                              </template>
                            </v-hover>
                          </div>
                        </div>
                      </v-carousel-item>
                    </v-carousel>
                    <div class="text-center">
                      <template
                        v-for="(item, index) in Math.ceil(
                          dataProduct.length /
                            ($store.state.app.viewPort == 'mobile' ? 2 : 4)
                        )"
                      >
                        <v-btn
                          :key="index"
                          :ripple="{ center: true }"
                          fab
                          dark
                          class="icon-23"
                          :color="carousel == index ? '#2456ca3d' : 'white'"
                          depressed
                          @click="carousel = index"
                        >
                          <v-icon
                            style="font-size: 16px"
                            dark
                            :color="carousel == index ? '#2456ca' : '#2c2c2c47'"
                          >
                            mdi-circle
                          </v-icon>
                        </v-btn>
                      </template>
                    </div>
                  </v-col>
                </v-row>
                <div class="pt-6">
                  <product-other
                    v-if="checkProductOther()"
                    :listnghesi="listNgheSi"
                    @success="getList"
                  />
                </div>
              </v-tab-item>
              <v-tab-item>
                <history v-if="tab == 1" :id="data.artist.id" />
              </v-tab-item>
              <v-tab-item>
                <schedule v-if="tab == 2" :id="data.artist.id" />
              </v-tab-item>
            </v-tabs-items>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <v-overlay :value="overlay" align="center">
      <v-progress-circular indeterminate size="30" />
      <div>{{ $vuetify.lang.t('$vuetify.PleaseWaitAMoment') }}</div>
    </v-overlay>
    <dialog-banner
      :open="editBanner"
      :listimg="slides"
      :artistid="data ? data.artist.id : null"
      @toggle="editBanner = !editBanner"
      @success="getList"
    />
    <dialogBooking
      :id="data ? data.artist.id : null"
      :open="openBooking"
      :data="dates ? dates : []"
      :avatar="avatar"
      :title="title"
      :amountMoney="amountMoney"
      @toggle="openBooking = !openBooking"
    />
    <addStory
      :artistid="data ? data.artist.id : null"
      :open="addStory"
      @toggle="addStory = !addStory"
      @success="getList"
    />
    <addProduct
      :open="addProduct"
      :data="data ? data : {}"
      @toggle="addProduct = !addProduct"
      @success="getList"
    />
    <addProductHot
      :open="updateProduct"
      @toggle="updateProduct = !updateProduct"
      @success="getList"
    />
    <detailStory
      :open="detailStory"
      :data="data ? data : {}"
      @toggle="detailStory = !detailStory"
      @success="getList"
    />
    <yes-no-alert
      :alertmsg="$vuetify.lang.t('$vuetify.sureDelete')"
      :open="opendelete"
      @toggle="opendelete = !opendelete"
      @OK="deletePRD"
    />
    <profile
      :open="openProfile"
      :data="data ? data : {}"
      :title="title"
      @toggle="openProfile = !openProfile"
      @success="getList"
    />
    <tutorialBooking
      :open="openTutorial"
      path="/huong-dan-story"
      @toggle="openTutorial = !openTutorial"
    />
    <tutorialBooking
      :open="openTutorialHot"
      path="/huong-dan-product"
      @toggle="openTutorialHot = !openTutorialHot"
    />
  </div>
</template>
<script>
import moment from 'moment'
import Cookies from 'js-cookie'
import YesNoAlert from '~/components/YesNoAlert'
import URL from '~/assets/configurations/Base_Url'
import tutorialBooking from '~/components/booking/tutorialBooking/index'
import detailStory from '~/components/booking/detailStory'
import addStory from '~/components/booking/addStory'
import addProduct from '~/components/booking/addProduct'
import addProductHot from '~/components/booking/addProductHot'
import dialogBooking from '~/components/booking/dialogBooking'
import profile from '~/components/booking/profile/profile'
import productOther from '~/components/booking/profile/productOther'
import history from '~/components/booking/history/history'
import schedule from '~/components/booking/schedule/index'
import viewEmbed from '~/components/booking/viewEmbed'
import detailBanner from '~/components/booking/bannerBooking/index'
import dialogBanner from '~/components/booking/bannerBooking/dialogBanner'
export default {
  components: {
    profile,
    productOther,
    viewEmbed,
    dialogBooking,
    history,
    schedule,
    addStory,
    detailStory,
    YesNoAlert,
    addProduct,
    addProductHot,
    detailBanner,
    dialogBanner,
    tutorialBooking,
  },

  data() {
    return {
      showPass: false,
      rating: null,
      levelName: '',
      qualificationName: '',
      openTutorialHot: false,
      listAnh: [],
      openTutorial: false,
      listNgheSi: [],
      avatar: '',
      editBanner: false,
      carousel: 0,
      openProfile: false,
      tab: 0,
      opendelete: false,
      iconDetail: false,
      dataDetail: {},
      updateProduct: false,
      addProduct: false,
      actionProduct: '',
      action: '',
      menuProduct: '',
      addStory: false,
      idSp: '',
      detailStory: false,
      statusLike: true,
      openBooking: false,
      data: '',
      loading: false,
      dates: [],
      title: '',
      socialEmbedded: '',
      slides: [],
      overlay: false,
      dataProduct: [],
      showMoreDes: false,
      amountMoney: null,
      hide: false,
      accountId: null,
    }
  },
  head() {
    return {
      title: this.title ? this.title + ' -' : null,
    }
  },
  watch: {
    '$store.state.app.dataLanguage'() {
      this.getList()
    },
    '$store.state.app.callInfo'() {
      this.getList()
    },
    '$store.state.app.viewPort'() {
      this.chonAnh()
    },
    listNgheSi() {
      this.checkProductOther()
    },
    dataProduct() {
      this.checkProduct()
    },
  },
  mounted() {
    if (this.$isNullOrEmpty(Cookies.get('token'))) {
      window.location.replace('/')
    }
    this.getList()
  },
  created() {
    this.accountId = Cookies.get('accountId')
  },
  methods: {
    showAmountMoney() {
      this.hide = !this.hide
    },
    showMore() {
      this.showMoreDes = !this.showMoreDes
    },
    level() {
      this.$store
        .dispatch('booking/level', {
          artistId: this.data.artist.id,
        })
        .then((res) => {
          if (!res.error) {
            this.levelName = res.data.data.levelName
            this.qualificationName = res.data.data.qualificationName
          }
        })
    },
    chonAnh() {
      const listAnh = []
      let childList = []
      const mobile = this.$store.state.app.viewPort === 'mobile' ? 2 : 4
      for (let index = 0; index < this.dataProduct.length; index++) {
        if ((index + 1) % mobile === 0) {
          childList.push(this.dataProduct[index])
          listAnh.push(childList)
          childList = []
        } else {
          childList.push(this.dataProduct[index])
        }
      }
      if ((childList || []).length !== 0) {
        if (childList.length === 3) {
          childList.push({})
        } else if (childList.length === 2) {
          childList.push({})
          childList.push({})
        } else if (childList.length === 1) {
          childList.push({})
          childList.push({})
          childList.push({})
        }
        listAnh.push(childList)
      }
      this.listAnh = listAnh
    },
    dialogTutorial(value) {
      this.openTutorial = true
    },
    minBooking() {
      return moment().format('YYYY-MM-DD')
    },
    openEditImg(itemImg) {
      this.editBanner = true
    },
    checkToken() {
      if (this.$store.state.login.role.includes('CUSTOMER')) {
        return true
      } else if (this.$store.state.login.role.includes('ARTIST')) {
        return true
      } else {
        return false
      }
    },
    showProfile() {
      this.openProfile = true
    },
    deleteSp(value) {
      this.opendelete = true
      this.idSp = value.id
    },
    deletePRD() {
      this.$store
        .dispatch('profile/deleteProduct', {
          productId: this.idSp,
        })
        .then((res) => {
          if (!res.error) {
            this.$store.dispatch('notification/set_notifications', {
              type: 'success',
              color: 'success',
              text: 'Xóa sản phẩm nổi bật thành công',
              dark: true,
            })
            this.getList()
          }
        })
    },
    openDetail(value) {
      this.updateProduct = !this.updateProduct
    },
    openAdd() {
      if (this.data.roles.includes('ARTIST')) {
        this.addStory = true
      }
    },
    UrlImg(value) {
      console.log(value)
      return URL.urlImg + value
    },
    showDetail() {
      this.detailStory = true
    },
    textNews(text) {
      if (text) {
        if (text.length > 40) {
          return text.slice(0, 40) + '...'
        } else {
          return text
        }
      }
    },
    clickLike() {
      if (!Cookies.get('token')) {
        this.$store.commit('login/setLogin')
      } else if (!this.statusLike) {
        this.statusLike = !this.statusLike
        this.loading = true
        this.$store
          .dispatch('profile/favorite', {
            artistId: this.data.artist.id,
          })
          .then((res) => {
            this.loading = false
            this.getList()
          })
      } else {
        this.statusLike = !this.statusLike
        this.loading = true
        this.$store
          .dispatch('profile/unFavorite', {
            artistId: this.data.artist.id,
          })
          .then((res) => {
            if (!res.error) {
              if (!res.error) {
                this.loading = false
                this.getList()
              }
            }
          })
      }
    },
    checkProduct() {
      if ((this.dataProduct || []).length !== 0) {
        return true
      } else if (this.data.roles.includes('ARTIST')) {
        return true
      } else {
        return false
      }
    },
    checkProductOther() {
      if ((this.listNgheSi || []).length !== 0) {
        return true
      } else if (this.data.roles.includes('ARTIST')) {
        return true
      } else {
        return false
      }
    },
    likes(value) {
      return value.artist.favoriteScore === 0
        ? ''
        : value.artist.favoriteScore +
            this.$vuetify.lang.t('$vuetify.pageBooking.favorites')
    },
    resetDate() {
      this.dates = []
    },
    TextCapture(value) {
      if (value) {
        return value
      }
    },

    getList() {
      this.overlay = true
      this.$store
        .dispatch('login/detailProfile', {
          artistId: Number(this.$route.query.plan),
        })
        .then((res) => {
          if (!res.error) {
            this.actionProduct = ''
            this.overlay = false
            this.data = res.data.data
            if (this.data) {
              this.socialEmbedded = this.data.artist.socialEmbedded
              this.title = this.data.artist.artisticName
              this.avatar = this.data.artist.avatar
              this.amountMoney = this.data.artist.amountMoney
              this.dataProduct = []
              this.listNgheSi = []
              for (let i = 0; i < this.data.products.length; i++) {
                if (this.data.products[i].status === 2) {
                  this.dataProduct.push(this.data.products[i])
                } else {
                  this.listNgheSi.push(this.data.products[i])
                }
              }
              this.slides =
                (this.data.banners || []).length !== 0
                  ? this.data.banners
                  : [{ bannerUrl: '/logo/anhNenNgang.jpg', id: 0 }]
              this.statusLike = this.data.isFavorite === 1
              this.rating = this.data.artist.star
              this.chonAnh()
              this.level()
            }
          }
        })
        .catch((e) => {
          this.overlay = false
        })
    },
  },
}
</script>
<style lang="scss">
.ImgProduct {
  .v-responsive__content {
    display: grid;
    justify-content: flex-end;
    cursor: pointer;
  }
}
.justify-content-space-between {
  .VueCarousel-inner {
    justify-content: space-between;
  }
}
.VueCarousel-slide {
  max-width: 24% !important;
  .v-responsive__content {
    border-radius: 4px !important;
  }
}
@media (min-width: 1904px) {
  .VueCarousel-slide {
    flex-basis: 333px !important;
  }
}
@media (max-width: 375px) {
  .VueCarousel-slide {
    max-width: 50% !important;
  }
}
.booking {
  .background-linear-gradient {
    background: linear-gradient(
      0deg,
      rgba(40, 40, 43, 1) 0%,
      rgba(226, 226, 227, 0) 95%,
      transparent
    ) !important;
  }
  .position-absolute-right-top {
    position: absolute;
    right: 5px;
    top: 5px;
  }
  .position-absolute-right-bottom {
    position: absolute;
    right: 20px;
    bottom: 12px;
  }
  // .color-banner {
  //   background: rgb(33, 33, 36);
  //   background: linear-gradient(
  //     22deg,
  //     rgba(33, 33, 36, 1) 0%,
  //     rgba(40, 40, 43, 1) 0%,
  //     rgba(119, 119, 121, 1) 0%,
  //     rgba(40, 40, 43, 1) 0%,
  //     rgba(226, 226, 227, 0) 62%,
  //     rgba(255, 255, 255, 0) 95%
  //   );

  // }
  .border-list {
    border-radius: 7px !important;
    background-color: #eff4ff !important;
  }
  .v-slide-group__prev {
    min-width: 0px !important;
  }
  .v-slide-group__next {
    min-width: 0px !important;
  }
  .tabs-home {
    .v-tab {
      color: black !important;
    }
    .v-tab--active {
      color: #2f55ed !important;
    }
    .v-tabs-slider {
      display: none;
    }
  }
  .custom-btn {
    font-weight: 200 !important;
    width: 120px;
    height: 26px !important;
    border-radius: 28px;
    text-transform: none !important;
    color: white;
  }
  .data-picker {
    height: 73%;
    .v-picker__title.primary {
      display: none;
    }
    table {
      border-spacing: 10px;
    }
    @media (min-width: 768px) {
      table {
        border-spacing: 14px;
      }
    }
  }
  .v-overlay__content {
    height: 100%;
  }
  .BookingImg {
    color: white;
    padding: 10px;
    display: flex;
    justify-items: end;
  }
  .boder-radi {
    font-size: 14px;
    background-color: #f2f2f2;
    padding: 12px;
    border-radius: 5px;
  }
}
</style>
