<template>
  <div>
    <v-dialog
      :value="open"
      max-width="700px"
      persistent
      @keydown="$event.key === 'Escape' && toggle()"
    >
      <v-card>
        <v-img src="/logo/anhNen.png" class="customImg">
          <v-card-title
            class="pt-1 pb-1 w-100"
            style="font-size: 1.12rem !important"
          >
            {{ lang('$vuetify.pageBooking.addOtherProduct') }}
          </v-card-title>
          <v-card-text class="px-1">
            <v-container class="pa-0">
              <v-row>
                <v-col cols="6" class="px-1">
                  <v-img
                    height="19rem"
                    width="100%"
                    :src="$isNullOrEmpty(img.data) ? img.url : img.data"
                    @click="selectFileOpen"
                  />
                  <div
                    v-if="imgError"
                    style="color: #ff5252 !important; font-size: 12px"
                    class="pl-2"
                  >
                    {{ lang('$vuetify.NotBlank') }}
                  </div>
                  <v-file-input
                    id="input_file_other"
                    accept="image/png, image/jpeg, image/bmp"
                    :value="file"
                    class="d-none"
                    @change="inputFile($event)"
                  />
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    v-model="nameSong"
                    :error-messages="nameSongErrors"
                    class="fs-15px fs-15"
                    :label="lang('$vuetify.pageBooking.addProduct.productName')"
                    dense
                    required
                    outlined
                    @input="nameSongErrors = []"
                  />
                  <v-text-field
                    v-model="singer"
                    :error-messages="singerErrors"
                    :label="lang('$vuetify.pageBooking.hotProduct.codeProduct')"
                    class="fs-15px fs-15"
                    dense
                    required
                    outlined
                    @input="singerErrors = []"
                  />

                  <v-text-field
                    v-model="price"
                    :error-messages="priceErrors"
                    :label="
                      lang('$vuetify.pageBooking.hotProduct.priceProduct')
                    "
                    class="fs-15px fs-15"
                    dense
                    required
                    outlined
                    @keyup="checkValuePrice"
                    onKeyPress="if(this.value.length==20) return false;"
                    @input="priceErrors = []"
                  />
                  <v-textarea
                    v-model="embeddedUrl"
                    :error-messages="embeddedUrlErrors"
                    label="Link embed"
                    class="fs-15px"
                    rows="3"
                    dense
                    required
                    outlined
                    @input="embeddedUrlErrors = []"
                  />
                  <div class="d-flex justify-end pt-4">
                    <v-btn
                      depressed
                      width="110"
                      class="custom-btn-normal mr-2"
                      color="#1448C6"
                      @click="checkValidate"
                    >
                      <div class="font_size">
                        {{ $vuetify.lang.t('$vuetify.Update') }}
                      </div>
                    </v-btn>
                    <v-btn
                      depressed
                      width="110"
                      class="custom-btn-normal"
                      color="#EF9C0E"
                      @click="toggle"
                    >
                      <div class="font_size">
                        {{ $vuetify.lang.t('$vuetify.cancel') }}
                      </div>
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
        </v-img>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import Folder from '~/assets/configurations/Folder_Config'
export default {
  components: {},
  props: {
    open: {
      type: Boolean,
    },
    data: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      imgError: false,
      nameSong: '',
      nameSongErrors: [],
      singer: '',
      singerErrors: [],
      embeddedUrl: '',
      price: null,
      priceErrors: [],
      embeddedUrlErrors: [],
      avatar: '',
      file: [],
      img: {
        url: '/logo/avatar.png',
        name: null,
        data: null,
      },
    }
  },

  watch: {
    open(value) {
      this.img = {
        url: '/logo/avatar.png',
        name: null,
        data: null,
      }
      this.nameSong = ''
      this.nameSongErrors = []
      this.singer = ''
      this.singerErrors = []
      this.price = null
      this.priceErrors = []
      this.embeddedUrl = ''
      this.embeddedUrlErrors = []
      this.file = []
      this.imgError = false
    },
  },
  methods: {
    checkValuePrice() {
      this.price = this.$formatMoneyv2({
        amount: this.price,
      })
    },
    lang(value) {
      if (value) {
        return this.$vuetify.lang.t(value)
      }
    },
    selectFileOpen() {
      return window.document.getElementById('input_file_other').click()
    },
    inputFile(value) {
      this.imgError = false
      this.img = {
        url: '/logo/avatar.png',
        name: null,
        data: null,
      }
      this.getBase64(value).then((data) => {
        this.img = {
          url: null,
          name: value.name,
          data: data,
        }
      })
    },

    getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.readAsDataURL(file)
        reader.onload = () => resolve(reader.result)
        reader.onerror = (error) => reject(error)
      })
    },

    update() {
      this.$store
        .dispatch('profile/addProduct', {
          code: this.singer,
          name: this.nameSong,
          embeddedUrl: this.embeddedUrl,
          amountMoney: Number(this.price.replace(/,/g, '')),
          imageUrl: null,
          file: {
            url: null,
            name: this.img.name,
            data: this.img.data,
          },
        })
        .then((res) => {
          if (!res.error) {
            this.$store.dispatch('notification/set_notifications', {
              type: 'success',
              color: 'success',
              text: this.lang('$vuetify.addOtherProductSuccess'),
              dark: true,
            })
            this.toggle()
            this.$emit('success')
          }
        })
    },
    checkValidate() {
      let hasErrors = false

      if (this.$isNullOrEmpty(this.nameSong)) {
        hasErrors = true
        this.nameSongErrors = this.lang('$vuetify.NotBlank')
      }
      if (this.$isNullOrEmpty(this.price)) {
        hasErrors = true
        this.priceErrors = ['Vui lòng nhập giá tiền']
      }
      if (this.img.url === '/logo/avatar.png') {
        hasErrors = true
        this.imgError = true
      }
      if (this.$isNullOrEmpty(this.singer)) {
        hasErrors = true
        this.singerErrors = this.lang('$vuetify.NotBlank')
      }

      if (this.$isNullOrEmpty(this.embeddedUrl)) {
        hasErrors = true
        this.embeddedUrlErrors = this.lang('$vuetify.NotBlank')
      }
      if (!hasErrors) {
        this.update()
      }
    },
    toggle() {
      this.$emit('toggle')
    },
  },
}
</script>
<style lang="scss">
.customImg {
  .v-responsive__sizer {
    padding-bottom: 0px !important;
  }
}
</style>
