<template>
  <div>
    <v-row>
      <v-col cols="1" />
      <v-col cols="10" class="text-center py-0 px-1">
        <!-- Sản phẩm khác -->
        <h2 style="font-size: 28px">
          {{ $vuetify.lang.t('$vuetify.pageBooking.otherProducts') }}
        </h2>
      </v-col>
      <v-col cols="1" class="py-0 pr-0">
        <div
          v-if="
            $store.state.login.role
              ? $store.state.login.role.includes('ARTIST')
              : ''
          "
          class="d-flex"
          style="justify-content: flex-end"
        >
          <v-menu
            left
            transition="scroll-y-transition"
            offset-y
            offset-x
            nudge-bottom="5"
            nudge-right="52"
          >
            <template #activator="{ on }">
              <div v-on="on">
                <div class="box-menu" v-on="on">
                  <v-icon large color="#00000073">
                    {{ 'mdi-dots-horizontal' }}
                  </v-icon>
                </div>
              </div>
            </template>
            <v-list
              dense
              width="12.4375rem"
              class="pa-2 border-list"
              style="background-color: #22318b !important"
            >
              <v-list-item-group v-model="actionProduct">
                <v-list-item class="pl-0" @click="openAdd = true">
                  <v-list-item-icon class="mr-2">
                    <v-img height="20" width="20" src="/logo/add.png" />
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title class="white--text">
                      <div style="font-weight: 400">
                        {{ $vuetify.lang.t('$vuetify.addProduct') }}
                      </div>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-divider color="#525478" />
                <v-list-item class="pl-0">
                  <v-list-item-icon class="mr-2">
                    <v-img height="20" width="20" src="/logo/detail.png" />
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title class="white--text">
                      <div style="font-weight: 400">
                        {{ $vuetify.lang.t('$vuetify.updateProduct') }}
                      </div>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-divider color="#525478" />
                <v-list-item class="pl-0">
                  <v-list-item-icon class="mr-2">
                    <v-img height="20" width="20" src="/logo/deleteIcon.png" />
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title class="nuxt-link white--text">
                      <div style="font-weight: 400">
                        {{ $vuetify.lang.t('$vuetify.deleteProduct') }}
                      </div>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-divider color="#525478" />
                <v-list-item class="pl-0" @click="openTutorialOther = true">
                  <v-list-item-icon class="mr-2">
                    <v-img height="20" width="20" src="/logo/hoicham.png" />
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title class="nuxt-link white--text">
                      <div style="font-weight: 400">
                        {{ $vuetify.lang.t('$vuetify.Tutorial') }}
                      </div>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-menu>
        </div>
      </v-col>
      <v-col
        v-if="(listnghesi || []).length !== 0"
        cols="12"
        class="px-0 mb-12 pt-5"
      >
        <v-sheet class="mx-auto" elevation="0" max-width="100%">
          <v-slide-group v-model="model" class center-active show-arrows>
            <v-slide-item v-for="item in listnghesi" :key="item.id">
              <a
                v-if="!$isNullOrEmpty(actionProduct)"
                flat
                target="_blank"
                class="black--text"
                style="text-decoration: none"
              >
                <v-img
                  style="border-radius: 89px"
                  class="ma-4 mb-3 mr-10"
                  :src="UrlImg(item.imageUrl)"
                  :width="$store.state.app.viewPort == 'mobile' ? 70 : 110"
                  :height="$store.state.app.viewPort == 'mobile' ? 70 : 110"
                >
                  <div class="h-100 ImgProductOther">
                    <div v-if="actionProduct === 1">
                      <v-img
                        src="/logo/detail.png"
                        height="29"
                        width="29"
                        @click="openDetail(item)"
                      />
                    </div>
                    <div v-if="actionProduct === 2" @click="deleteSp(item)">
                      <v-img
                        height="29"
                        width="29"
                        src="/logo/deleteIcon.png"
                      />
                    </div>
                  </div>
                </v-img>
                <div class="text-center fs-15 mr-10">
                  {{ item.name }}
                </div>
              </a>
              <a
                v-else
                flat
                :href="!$isNullOrEmpty(actionProduct) ? '' : item.embeddedUrl"
                target="_blank"
                class="black--text"
                style="text-decoration: none"
              >
                <v-img
                  style="border-radius: 89px"
                  class="ma-4 mb-3 mr-10"
                  :src="UrlImg(item.imageUrl)"
                  :width="$store.state.app.viewPort == 'mobile' ? 70 : 110"
                  :height="$store.state.app.viewPort == 'mobile' ? 70 : 110"
                >
                  <div class="h-100 ImgProductOther">
                    <div v-if="actionProduct === 1">
                      <v-img
                        src="/logo/detail.png"
                        height="29"
                        width="29"
                        @click="openDetail(item)"
                      />
                    </div>
                    <div v-if="actionProduct === 2" @click="deleteSp(item)">
                      <v-img
                        height="29"
                        width="29"
                        src="/logo/deleteIcon.png"
                      />
                    </div>
                  </div>
                </v-img>
                <div
                  class="text-center fs-15 mr-10 text-truncate"
                  style="max-width: 150px"
                >
                  {{ item.name }}
                </div>
              </a>
            </v-slide-item>
          </v-slide-group>
        </v-sheet>
      </v-col>
    </v-row>
    <yes-no-alert
      :alertmsg="$vuetify.lang.t('$vuetify.sureDelete')"
      :open="opendelete"
      @toggle="opendelete = !opendelete"
      @OK="deletePRD"
    />
    <updateProduct
      :open="updateProduct"
      :data="dataDetail ? dataDetail : {}"
      @toggle="updateProduct = !updateProduct"
      @success="success()"
    />
    <addProduct
      :open="openAdd"
      @toggle="openAdd = !openAdd"
      @success="success()"
    />
    <tutorialBooking
      :open="openTutorialOther"
      path="/huong-dan-san-pham-khac"
      @toggle="openTutorialOther = !openTutorialOther"
    />
  </div>
</template>

<script>
import YesNoAlert from '~/components/YesNoAlert'
import URL from '~/assets/configurations/Base_Url'
import addProduct from '~/components/booking/profile/addOther'
import updateProduct from '~/components/booking/profile/UpdateOther'
import tutorialBooking from '~/components/booking/tutorialBooking/index'
export default {
  components: {
    YesNoAlert,
    updateProduct,
    addProduct,
    tutorialBooking,
  },
  props: {
    listnghesi: {
      type: Array,
      default: null,
    },
  },
  data() {
    return {
      openTutorialOther: false,
      dataDetail: '',
      opendelete: false,
      updateProduct: false,
      actionProduct: '',
      openAdd: false,
      model: null,
      idSp: '',
    }
  },

  methods: {
    success() {
      this.actionProduct = ''
      this.$emit('success')
    },
    UrlImg(value) {
      return URL.urlImg + value
    },
    deletePRD() {
      this.$store
        .dispatch('profile/deleteProduct', {
          productId: this.idSp,
        })
        .then((res) => {
          if (!res.error) {
            this.$store.dispatch('notification/set_notifications', {
              type: 'success',
              color: 'success',
              text: 'Xóa sản phẩm nổi bật thành công',
              dark: true,
            })
            this.$emit('success')
            this.actionProduct = ''
          }
        })
    },

    openDetail(value) {
      this.dataDetail = value
      this.updateProduct = !this.updateProduct
    },
    deleteSp(value) {
      this.opendelete = true
      this.idSp = value.id
    },
  },
}
</script>

<style lang="scss" scoped>
.ImgProductOther {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
</style>
