<template>
  <div>
    <v-dialog
      :value="open"
      max-width="500px"
      persistent
      @keydown="$event.key === 'Escape' && toggle()"
    >
      <v-card style="border-radius: 6px">
        <v-img src="/logo/anhNen.png" class="customImg">
          <v-card-title
            class="pt-1 pl-3 w-100"
            style="font-size: 1.12rem !important"
          >
            {{ $vuetify.lang.t('$vuetify.pageBooking.updateInformation') }}
          </v-card-title>
          <v-row>
            <v-col cols="12">
              <v-text-field
                v-model="name"
                color="purple darken-2"
                :label="lang('$vuetify.pageBooking.ArtistStageName')"
                class="color-marker"
                dense=""
                required
                outlined=""
                :error-messages="nameErrors"
                @input="nameErrors = []"
              />

              <v-text-field
                v-model="amountMoney"
                :label="lang('$vuetify.pageBooking.costBooking')"
                color="purple darken-2"
                class="color-marker"
                dense=""
                required
                @keyup="checkValuePrice"
                outlined=""
              />
              <v-textarea
                v-model="content"
                color="purple darken-2"
                :label="lang('$vuetify.pageBooking.description')"
                dense=""
                required
                outlined=""
                :error-messages="contentErrors"
                @input="contentErrors = []"
              />
              <v-card-actions class="justify-end px-3">
                <v-btn
                  depressed
                  width="110"
                  class="custom-btn-normal"
                  color="#1448C6"
                  @click="updateInformation"
                >
                  <div class="font_size">
                    {{ lang('$vuetify.Update') }}
                  </div>
                </v-btn>
                <v-btn
                  depressed
                  width="110"
                  class="custom-btn-normal"
                  color="#EF9C0E"
                  @click="toggle"
                >
                  <div class="font_size">
                    {{ lang('$vuetify.cancel') }}
                  </div>
                </v-btn>
              </v-card-actions>
            </v-col>
          </v-row>
        </v-img>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  components: {},

  props: {
    open: {
      type: Boolean,
    },
    data: {
      type: Object,
      default: null,
    },
    title: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      name: '',
      nameErrors: [],
      content: '',
      contentErrors: [],
      amountMoney: null,
      // amountMoneyErrors: [],
    }
  },
  computed: {},

  watch: {
    open(value) {
      this.name = this.title
      this.nameErrors = []
      this.content = this.data.artist.shortDescription
      this.contentErrors = []
      this.amountMoney = this.$formatMoneyv2({
        amount: this.data.artist.amountMoney,
      })
      // this.amountMoneyErrors = []
    },
  },
  methods: {
    checkValuePrice() {
      this.amountMoney = this.$formatMoneyv2({
        amount: this.amountMoney,
      })
    },
    lang(value) {
      if (value) {
        return this.$vuetify.lang.t(value)
      }
    },
    updateInformation() {
      let hasErrors = false
      if (this.$isNullOrEmpty(this.name)) {
        hasErrors = true
        this.nameErrors = ['Vui lòng nhập đây đủ thông tin']
      }
      if (this.$isNullOrEmpty(this.content)) {
        hasErrors = true
        this.contentErrors = ['Vui lòng nhập đây đủ thông tin']
      }
      if (!hasErrors) {
        this.$store
          .dispatch('profile/updateProfile', {
            id: this.data.artist.id,
            artisticName: this.name,
            descriptionShort: this.content,
            amountMoney: this.$isNullOrEmpty(this.amountMoney)
              ? null
              : this.amountMoney.replace(/,/g, ''),
          })
          .then((res) => {
            if (!res.error) {
              this.$store.dispatch('notification/set_notifications', {
                type: 'success',
                color: 'success',
                text: 'Cập nhật thông tin thành công',
                dark: true,
              })
              this.toggle()
              this.$emit('success')
            }
          })
      }
    },
    toggle() {
      this.$emit('toggle')
    },
  },
}
</script>
<style lang="scss">
.color-icon-time {
  .v-icon {
    color: #0fa7f6;
  }
}
.color-marker {
  .v-icon {
    color: #fb370e;
  }
}
</style>
