<template>
  <div>
    <v-dialog
      :value="$store.state.login.openPayment"
      :max-width="650"
      persistent
      @keydown="$event.key === 'Escape' && toggle()"
    >
      <v-card style="border-radius: 10px">
        <v-img src="/logo/anhNen.png" class="customImg">
          <v-card-title class="pt-0 pb-1 px-2">
            <v-row>
              <v-col cols="4" class="pl-0"> </v-col>
              <v-col cols="5"
                ><div class="fs-20 primary--text text-center fw-600">
                  Thông tin booking
                </div>
              </v-col>
              <v-col cols="3" class="pr-0 pt-2" style="text-align: end">
                <v-btn
                  @click="toggle"
                  icon
                  small
                  depressed
                  fab
                  style="background-color: #dce2fc"
                >
                  <v-icon color="primary"> mdi-close </v-icon>
                </v-btn>
              </v-col>
            </v-row>
          </v-card-title>
          <v-divider class="primary" />
          <v-card-text class="pb-0 pt-2">
            <v-row style="justify-content: center">
              <!-- <v-col
                cols="12"
                class="py-2"
                v-for="(item, index) in listformatDeposit"
                :key="index"
              >
                <v-btn
                  @click="change_type(item)"
                  depressed
                  block
                  height="100"
                  :class="
                    check_id == item.id
                      ? 'card-item-white text-none'
                      : ' text-none card-item '
                  "
                >
                  <img :src="item.icon" />
                  {{ item.name }}
                </v-btn>
              </v-col> -->

              <v-col cols="5" class="py-0 primary--text font-weight-medium">
                <div class="py-1">Tên ca sĩ:</div>
                <div class="py-1">Thời gian bắt đầu:</div>
                <div class="py-1">Thời gian kết thúc:</div>
                <div class="py-1">Chí phí dự kiến Booking:</div>
                <div class="py-1">Đặt cọc:</div>
              </v-col>
              <v-col cols="7" class="py-0">
                <div class="py-1 black--text fw-600">{{ artistName }}</div>
                <div class="py-1 black--text fw-600">{{ fromTime }}</div>
                <div class="py-1 black--text fw-600">{{ toTime }}</div>
                <div class="py-1 black--text fw-600">{{ expectFee }} VNĐ</div>
                <div class="py-1 red--text fw-600">{{ depositMoney }} VNĐ</div>
              </v-col>

              <v-col cols="12" class="pb-3 pt-1">
                <div
                  class="primary--text information font-weight-medium fs-15 py-1 pl-4"
                >
                  <div class="white--text">Hình thức thanh toán</div>
                </div>
              </v-col>
              <v-col
                cols="12"
                class="py-0"
                v-for="(i, idx) in listformatDeposit"
                :key="i.id"
              >
                <v-checkbox
                  hide-details=""
                  v-model="i.isSelect"
                  :label="i.name"
                  @change="checkBox(i.id, i)"
                ></v-checkbox>
                <div
                  v-if="idx - 1"
                  class="my-4"
                  style="border-top: 1px solid gray"
                ></div>
              </v-col>
            </v-row>
          </v-card-text>

          <v-card-actions class="pb-5" style="justify-content: center">
            <v-row>
              <v-col class="pa-0" cols="12" md="2"></v-col>
              <v-col cols="12" md="4" class="pl-md-0 pr-md-1">
                <v-btn
                  v-if="$isNullOrEmpty(this.valueCheckType)"
                  depressed
                  block
                  height="40"
                  class="custom-btn-normal"
                  color="primary"
                  @click="confimPaymentNull"
                >
                  <div class="font_size">Tiếp tục</div>
                </v-btn>

                <v-btn
                  v-if="valueCheckType === 1"
                  depressed
                  block
                  height="40"
                  class="custom-btn-normal"
                  color="primary"
                  @click="confimPaymentOnline"
                >
                  <div class="font_size">Tiếp tục</div>
                </v-btn>

                <v-btn
                  v-if="valueCheckType === 2"
                  depressed
                  block
                  height="40"
                  class="custom-btn-normal"
                  color="primary"
                  @click="confirmPaymentCard"
                >
                  <div class="font_size">Tiếp tục</div>
                </v-btn>
              </v-col>
              <v-col cols="12" md="4" class="pr-md-0 pl-md-1">
                <v-btn
                  block
                  depressed
                  height="40"
                  class="custom-btn-normal white--text"
                  @click="toggle"
                  color="#EF9c0E"
                >
                  <div class="font_size">Quay lại</div>
                </v-btn>
              </v-col>
              <v-col class="pa-0" cols="12" md="2"></v-col>
            </v-row>
          </v-card-actions>
        </v-img>
      </v-card>
    </v-dialog>

    <PaymentBankCard
      :open="$store.state.login.openTransferPayment"
      @toggle="
        $store.state.login.openTransferPayment = !$store.state.login
          .openTransferPayment
      "
      :data="data"
    ></PaymentBankCard>

    <paymentOnline
      :open="$store.state.login.openOnlinePayment"
      @toggle="
        $store.state.login.openOnlinePayment = !$store.state.login
          .openOnlinePayment
      "
      :data="data"
    ></paymentOnline>
  </div>
</template>

<script>
import moment from 'moment'
import paymentOnline from '~/components/deposit/paymentOnline.vue'
import PaymentBankCard from '~/components/deposit/paymentBankCard.vue'
export default {
  name: 'Dialog',

  components: {
    PaymentBankCard,
    paymentOnline,
  },
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    data: {
      type: Object,
      required: true,
    },
  },
  watch: {
    // open(value) {
    //   if (value) {
    //     this.callSuccessful()
    //   }
    // },
    '$store.state.login.openPayment'() {
      this.callSuccessful()
    },
  },
  data() {
    return {
      listformatDeposit: [],
      valueCheckbox: null,
      valueCheck: 0,
      check_id: null,
      openDialogOnlinePayment: false,
      openDialogPaymentBankCard: false,
      valueCheckType: null,
      depositMoney: null,
      fromTime: null,
      toTime: null,
      expectFee: null,
      artistName: null,
    }
  },

  methods: {
    callSuccessful() {
      this.listformatDeposit = []
      this.valueCheckType = null
      this.listformalityDeposit()
      this.artistName = this.data.artistName
      this.fromTime = moment(this.data.fromTime, 'DD/MM/YYYY HH:mm:ss').format(
        'DD/MM/YYYY'
      )
      this.toTime = moment(this.data.toTime, 'DD/MM/YYYY HH:mm:ss').format(
        'DD/MM/YYYY'
      )
      this.expectFee = this.$isNullOrEmpty(this.data.expectFee)
        ? null
        : this.$formatMoneyv2({ amount: this.data.expectFee })
      this.depositMoney = this.$isNullOrEmpty(this.data.expectFee)
        ? null
        : this.$formatMoneyv2({
            amount: (this.data.expectFee.replace(/,/g, '') * 30) / 100,
          })
    },

    checkBox(id, check) {
      this.valueCheckbox = id
      this.valueCheckType = check.type
      for (let i = 0; i < this.listformatDeposit.length; i++) {
        if (this.listformatDeposit[i].id !== id) {
          this.listformatDeposit[i].isSelect = 0
        } else {
          this.listformatDeposit[i].isSelect = 1
        }
      }
    },

    confimPaymentNull() {
      this.$store.commit('login/setOnlinePayment', true)
      this.$store.commit('login/setPayment', false)
    },
    // type: 1 thanh toán online
    confimPaymentOnline() {
      this.$store.commit('login/setOnlinePayment', true)
      this.$store.commit('login/setPayment', false)
    },
    // type: 2 thanh quán qua thẻ ngân hàng
    confirmPaymentCard() {
      this.$store.commit('login/setTransferPayment', true)
      this.$store.commit('login/setPayment', false)
    },

    listformalityDeposit() {
      this.$store.dispatch('booking/formalityDeposit').then((res) => {
        if (!res.error) {
          res.data.data.map((item) => {
            this.listformatDeposit.push({
              isSelect: item.type === 1 ? 1 : 0,
              ...item,
            })
          })
        }
      })
    },
    toggle() {
      this.$store.commit('login/setPayment', false)
    },
  },
}
</script>

<style lang="scss" scoped>
.font_size {
  font-size: 90%;
}
.information {
  background-color: #2f55ed;
  border: 1px solid #eaeaea;
}
.card-item {
  border: 1px solid #f5f5f5;
  border-radius: 10px;
}
.card-item-white {
  background-color: white;
  padding: 15px;
  padding-top: 45px;
  padding-bottom: 45px;
  border-radius: 10px;
  /* justify-content: start; */
  width: 100%;
  height: 200px;
  border: 5px solid #2f55ed;
}

.v-input--selection-controls {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
</style>
