<template>
  <div>
    <v-dialog
      :value="$store.state.login.openOnlinePayment"
      :max-width="900"
      persistent
      @keydown="$event.key === 'Escape' && toggle()"
    >
      <v-card>
        <v-img src="/logo/anhNen.png" class="customImg">
          <v-card-title class="pt-0 pb-1 px-2">
            <v-row>
              <v-col cols="4" class="pl-0"> </v-col>
              <v-col cols="5"
                ><div class="fs-20 primary--text text-center fw-600">
                  Thanh toán Online
                </div>
              </v-col>
              <v-col cols="3" class="pr-0 pt-2" style="text-align: end">
                <v-btn
                  @click="toggle"
                  icon
                  small
                  depressed
                  fab
                  style="background-color: #dce2fc"
                >
                  <v-icon color="primary"> mdi-close </v-icon>
                </v-btn>
              </v-col>
            </v-row>
          </v-card-title>
          <v-divider class="primary" />
          <v-card-text
            class="pb-0 pt-2 group-content"
            style="max-height: calc(100vh - 30rem); overflow-x: hidden"
          >
            <v-row style="justify-content: center">
              <v-col
                cols="12"
                class="pb-1 pt-1"
                v-if="arrPaymentWalletChannel !== null"
              >
                <div
                  class="primary--text information font-weight-medium fs-15 py-1 pl-4"
                >
                  <div class="white--text">
                    <!-- THANH TOÁN QUA CỔNG THANH TOÁN, VÍ ĐIỆN TỬ -->
                    Thanh toán qua cổng thanh toán, ví điện tử
                  </div>
                </div>
              </v-col>
              <v-col class="py-0">
                <v-col class="py-0 group-content">
                  <v-row v-if="arrPaymentWalletChannel !== null">
                    <v-col
                      v-for="(v, k) in arrPaymentWalletChannel"
                      :key="k"
                      cols="4"
                      md="2"
                      class="custome-col"
                    >
                      <v-item v-slot:default="{ active, toggle }">
                        <div
                          :class="
                            'provider-item d-flex align-center ' +
                            getProviderActive(v)
                          "
                          light
                          height="60"
                          @click="selectProvider(toggle, v)"
                        >
                          <v-row align="center" justify="center">
                            <img
                              :src="v.logo"
                              style="max-height: 38px"
                              max-width="110"
                              max-height="50"
                            />
                          </v-row>
                        </div>
                      </v-item>
                    </v-col>
                  </v-row>
                </v-col>
              </v-col>

              <v-col
                cols="12"
                class="pb-3 pt-1"
                v-if="arrPaymentBankChannel !== null"
              >
                <div
                  class="primary--text information font-weight-medium fs-15 py-1 pl-4"
                >
                  <div class="white--text">
                    <!-- THANH TOÁN NGÂN HÀNG NỘI ĐỊA -->
                    Thanh toán ngân hàng nội địa
                  </div>
                </div>
              </v-col>
              <v-col class="py-0">
                <v-col class="py-0 group-content">
                  <v-row>
                    <v-col
                      v-for="(v, k) in arrPaymentBankChannel"
                      :key="k"
                      cols="4"
                      md="2"
                      class="custome-col"
                    >
                      <v-item v-slot:default="{ active, toggle }">
                        <div
                          :class="
                            'provider-item d-flex align-center ' +
                            getProviderActive(v)
                          "
                          light
                          height="60"
                          @click="selectProvider(toggle, v)"
                        >
                          <v-row align="center" justify="center">
                            <img
                              :src="v.logo"
                              style="max-height: 25px"
                              max-width="110"
                              max-height="50"
                            />
                          </v-row>
                        </div>
                      </v-item>
                    </v-col>
                  </v-row>
                </v-col>
              </v-col>
            </v-row>
          </v-card-text>

          <v-divider class="primary" />
          <v-card-actions class="group-content">
            <v-row>
              <v-col cols="12" class="pb-1 pt-1 px-5">
                <div
                  class="primary--text information font-weight-medium fs-15 py-1 pl-4"
                >
                  <div class="white--text">
                    <!-- CHI TIẾT GIAO DỊCH -->
                    Chi tiết giao dịch
                  </div>
                </div>
              </v-col>
              <v-col cols="12" class="py-0">
                <v-col cols="12" class="py-0 group-content">
                  <v-row>
                    <v-col cols="5" class="primary--text fw-600 py-0">
                      <div class="py-1">Đặt cọc:</div>
                      <div class="py-1">Phí giao dịch:</div>
                      <div class="py-1">Tổng thanh toán:</div>
                    </v-col>
                    <v-col cols="7" class="red--text fw-600 py-0">
                      <div class="py-1">{{ expectFee }} VNĐ</div>
                      <div class="py-1">{{ surchargeValue }} VNĐ</div>
                      <div class="py-1">{{ totalDeposit }} VNĐ</div>
                    </v-col>
                  </v-row>
                </v-col>
              </v-col>
              <v-col cols="12" class="py-0">
                <v-row>
                  <v-col class="pa-0" cols="12" md="2"></v-col>
                  <v-col cols="12" md="4" class="pl-md-0 pr-md-1">
                    <v-btn
                      depressed
                      block
                      height="40"
                      class="custom-btn-normal"
                      color="primary"
                      @click="confimPayment"
                    >
                      <div class="font_size">Đặt cọc</div>
                    </v-btn>
                  </v-col>
                  <v-col cols="12" md="4" class="pr-md-0 pl-md-1">
                    <v-btn
                      block
                      depressed
                      height="40"
                      class="custom-btn-normal white--text"
                      color="#EF9c0E"
                      @click="comeBack"
                    >
                      <div class="font_size">Quay lại</div>
                    </v-btn>
                  </v-col>
                  <v-col class="pa-0" cols="12" md="2"></v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card-actions>
          <!-- <v-card-text class="pb-0 pt-2">
            <v-col class="py-0">
              <div class="black--text fs-600 fs-16">Chi tiết giao dịch</div>
            </v-col>
            <v-row>
              <v-col cols="5" class="primary--text fw-600 py-0">
                <div class="py-1">Đặt cọc:</div>
                <div class="py-1">Phí giao dịch:</div>
                <div class="py-1">Tổng thanh toán:</div>
              </v-col>
              <v-col cols="7" class="red--text fw-600">
                <div>{{}} VNĐ</div>
                <div>{{}} VNĐ</div>
                <div>{{}} VNĐ</div>
              </v-col>
            </v-row>
          </v-card-text> -->
        </v-img>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import Cookies from 'js-cookie'
export default {
  name: 'Dialog',
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    data: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      paymentChannel: null,
      arrPaymentWalletChannel: [],
      arrPaymentBankChannel: [],
      arrPaymentInternalChannel: [],
      activePayment: 0,
      surchargeValue: 0,
      expectFee: null,
      totalDeposit: null,
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.expectFee = this.$isNullOrEmpty(this.data.expectFee)
          ? null
          : this.$formatMoneyv2({
              amount: (this.data.expectFee.replace(/,/g, '') * 30) / 100,
            })

        this.getListPaymentChannel()
      }
    },
  },
  methods: {
    confimPayment() {},
    getProviderActive(item) {
      if (this.activePayment == parseInt(item['moneySourceId'])) {
        this.surchargeValue = this.$formatMoneyv2({
          amount: item.feeInfoList[0].surchargeValue,
        })

        this.totalDeposit = this.$formatMoneyv2({
          amount:
            Number(this.expectFee.replace(/,/g, '')) +
            Number(this.surchargeValue.replace(/,/g, '')),
        })
        return 'selected'
      } else {
        return ''
      }
    },
    selectProvider(toggle, item) {
      //Proccess select provider;
      this.activePayment = parseInt(item['moneySourceId'])
      this.paymentChannel = item

      //Get product list
    },
    getListPaymentChannel() {
      this.$store.dispatch('booking/get_payment_gw_list').then((res) => {
        if (res.data.error.code == 0) {
          this.arrPaymentWalletChannel = []
          this.arrPaymentBankChannel = []
          this.arrPaymentInternalChannel = []
          let i_wallet = 0
          let i_bank = 0
          let i_intern = 0
          let first_item = null
          let is_found_choise = false
          let channel_id_saved = 0
          let channel_saved = null
          //   if (Cookies.get('paymentChannel') != null) {
          //     channel_id_saved = Cookies.get('paymentChannel')
          //   }
          res.data.data.forEach((item) => {
            //Set default channel

            if (parseInt(item.isDefault) === 1) {
              this.paymentChannel = item
              this.activePayment = parseInt(item.moneySourceId)
            }

            if (first_item == null) {
              first_item = item
            }
            if (item.type == 1 || item.type == 4) {
              this.arrPaymentWalletChannel[i_wallet] = item
              i_wallet++
            } else if (item.type == 2) {
              this.arrPaymentBankChannel[i_bank] = item
              i_bank++
            } else if (item.type == 3) {
              this.arrPaymentInternalChannel[i_intern] = item
              i_intern++
            }

            if (parseInt(channel_id_saved) === parseInt(item.moneySourceId)) {
              channel_saved = item
            }

            if (
              parseInt(this.$store.state.app.paymentSelected) ===
              parseInt(item.moneySourceId)
            ) {
              is_found_choise = true
            }
          })

          if (i_wallet == 0) {
            this.arrPaymentWalletChannel = null
          }

          if (i_bank == 0) {
            this.arrPaymentBankChannel = null
          }

          if (i_intern == 0) {
            this.arrPaymentInternalChannel = null
          }

          if (channel_saved !== null) {
            this.activePayment = parseInt(channel_saved.moneySourceId)
            this.paymentChannel = channel_saved
          } else {
            //Set default payment channel
            if (this.paymentChannel == null && first_item !== null) {
              this.paymentChannel = first_item
              this.activePayment = parseInt(first_item.moneySourceId)
            }

            if (is_found_choise === true) {
              this.activePayment = parseInt(
                this.$store.state.app.paymentSelected
              )
              this.paymentChannel = this.$store.state.app.paymentSelectedObj
            }
          }
          if (i_wallet + i_bank + i_intern <= 1) {
            this.$store.commit('app/SET_PAYMENT_CHANNEL', this.paymentChannel)
            //   this.$store.dispatch('app/calPreOrder')
            //   this.$redirect({ url: '/confirmorder', samepage: true })
          }
        }
      })
    },

    continueOrder: function () {
      this.$store.commit('app/SET_PAYMENT_CHANNEL', this.paymentChannel)
      Cookies.set('paymentChannel', this.paymentChannel.moneySourceId)
    },
    comeBack() {
      this.$store.commit('login/setOnlinePayment', false)
      this.$store.commit('login/setPayment', true)
    },
    toggle() {
      this.$store.commit('login/setOnlinePayment', false)
      this.$store.commit('login/setPayment', false)
    },
  },
}
</script>
<style lang="scss" scoped>
.information {
  background-color: #2f55ed;
  border: 1px solid #eaeaea;
}
.provider-logo {
  max-height: 50px;
}
.group-content {
  background-color: white;

  width: 100%;
}

.provider-item.item-price.selected {
  padding: 9px;
  display: block !important;
  padding-bottom: 1px;
  // background-color: #ed0385;
  border: 2px solid #01b49b;
  background-image: linear-gradient(to right, #4ab859, #33a98d) !important;
}

.custome-col {
  padding: 4px !important;
  overflow: hidden;
}
.v-image__image--cover {
  background-size: cover;
}
.provider-item.selected {
  border: 4px solid #01b49b;
  padding: 1px;
}
</style>
