<template>
  <v-dialog
    :value="$store.state.login.openTransferPayment"
    :max-width="750"
    persistent
    @keydown="$event.key === 'Escape' && toggle()"
  >
    <v-card style="border-radius: 10px">
      <v-img src="/logo/anhNen.png" class="customImg">
        <v-card-title class="pt-0 pb-1 px-2">
          <v-row>
            <v-col cols="2" class="pl-0"> </v-col>
            <v-col cols="8"
              ><div class="fs-20 primary--text text-center fw-600">
                Thanh toán qua hình thức chuyển khoản
              </div>
            </v-col>
            <v-col cols="2" class="pr-0 pt-2" style="text-align: end">
              <v-btn
                @click="toggle"
                icon
                small
                depressed
                fab
                style="background-color: #dce2fc"
              >
                <v-icon color="primary"> mdi-close </v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-card-title>
        <v-divider class="primary" />
        <v-card-text
          style="max-height: calc(100vh - 14rem); overflow-x: hidden"
          class="pt-0"
        >
          <v-row style="justify-content: center">
            <v-col cols="12" class="pb-1 pt-2">
              <div
                class="primary--text information font-weight-medium fs-15 py-1 pl-4"
              >
                <div class="white--text">Danh sách tài khoản chuyển khoản</div>
              </div>
            </v-col>
            <v-col class="pl-7 py-0" cols="12">
              <div v-for="(i, idx) in listItem" :key="i.id" class="py-1">
                <span class="black--text fs-15 fw-600"
                  >Tài khoản {{ idx + 1 }}:
                </span>
                <span class="grey--text">Tên tài khoản: </span
                ><span class="black--text fs-15 fw-600">{{ i.userName }}, </span
                ><span class="grae--text">Ngân hàng: </span
                ><span class="black--text fs-15 fw-600">{{ i.bank }}, </span
                ><span class="grey--text">Số tài khoản: </span
                ><span class="black--text fs-15 fw-600">{{ i.number }}.</span>
                <v-divider v-if="idx - 1" class="mt-2" />
              </div>
            </v-col>
          </v-row>
        </v-card-text>
        <v-divider class="primary" />
        <v-card-actions class="pb-2" style="justify-content: center">
          <v-row>
            <v-col cols="12" class="py-0">
              <div class="red--text fs-15 font-italic">
                Lưu ý: Nội dung chuyển khoản ghi là booking biểu diễn VAB, Mã
                Booking buổi diễn
              </div>
            </v-col>
            <v-col class="pa-0" cols="12" md="2"></v-col>
            <v-col cols="12" md="4" class="pl-md-0 pr-md-1">
              <v-btn
                depressed
                block
                height="40"
                class="custom-btn-normal"
                color="primary"
                @click="confimPayment"
              >
                <div class="font_size">Cập nhật đặt cọc</div>
              </v-btn>
            </v-col>
            <v-col cols="12" md="4" class="pr-md-0 pl-md-1">
              <v-btn
                block
                depressed
                height="40"
                class="custom-btn-normal white--text"
                color="#EF9c0E"
                @click="comeBack"
              >
                <div class="font_size">Quay lại</div>
              </v-btn>
            </v-col>
            <v-col class="pa-0" cols="12" md="2"></v-col>
          </v-row>
        </v-card-actions>
      </v-img>
    </v-card>
    <add
      :open="$store.state.login.openAddDeposit"
      @toggle="
        $store.state.login.openAddDeposit = !$store.state.login.openAddDeposit
      "
      :data="data"
    ></add>
  </v-dialog>
</template>

<script>
import moment from 'moment'
import add from '~/components/deposit/deposit/add.vue'
export default {
  name: 'Dialog',

  components: {
    add,
  },
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    data: {
      type: Object,
      required: true,
    },
  },
  watch: {
    open(value) {
      if (value) {
      }
    },
  },
  data() {
    return {
      openDialogAdd: false,
      listItem: [
        {
          id: 1,
          userName: 'Nguyễn văn a',
          bank: 'Techcombank chi nhánh Hà nôi',
          number: '19032909998889',
        },
        {
          id: 2,
          userName: 'Nguyễn văn a',
          bank: 'Techcombank chi nhánh Hà nôi',
          number: '19032909998889',
        },
      ],
    }
  },
  computed: {},
  methods: {
    confimPayment() {
      this.$store.commit('login/setTransferPayment', false)
      this.$store.commit('login/setAddDeposit', true)
    },
    comeBack() {
      this.$store.commit('login/setTransferPayment', false)
      this.$store.commit('login/setPayment', true)
    },
    toggle() {
      this.$store.commit('login/setTransferPayment', false)
      this.$store.commit('login/setPayment', false)
    },
  },
}
</script>

<style scoped>
.font_size {
  font-size: 90%;
}
.information {
  background-color: #2f55ed;
  border: 1px solid #eaeaea;
}
.card-item {
  border: 1px solid #f5f5f5;
  border-radius: 10px;
}
.card-item-white {
  background-color: white;
  padding: 15px;
  padding-top: 45px;
  padding-bottom: 45px;
  border-radius: 10px;
  /* justify-content: start; */
  width: 100%;
  height: 200px;
  border: 5px solid #2f55ed;
}
</style>
