<template>
  <div class="mb-5">
    <v-container
      class="customContainer"
      :class="$store.state.app.viewPort == 'mobile' ? 'mt-0 px-1' : 'mt-3'"
    >
      <div class="d-flex">
        <h2 class="d-flex pl-1">
          <p style="border-bottom: 3px solid #2f55ed">
            {{ 'ARTI' }}
          </p>
          <p>STS</p>
        </h2>
        <v-spacer />
        <v-col
          :class="
            $store.state.app.viewPort == 'mobile'
              ? 'mr-0 mt-1 py-0'
              : 'mr-6 mt-2 py-0 pr-0'
          "
          cols="6"
        >
          <div class="d-flex">
            <v-text-field
              v-model="dataSearch"
              style="border-radius: 28px; border: 1px solid #cacaca"
              :label="$vuetify.lang.t('$vuetify.search')"
              :placeholder="$vuetify.lang.t('$vuetify.search')"
              hide-details=""
              flat
              solo
              dense
              class=""
              :spellcheck="false"
              clearable
              @keydown.enter="search"
            >
              <template #prepend-inner>
                <v-btn icon color="#939393" @click="search">
                  <v-icon color="primary">mdi-magnify</v-icon>
                </v-btn>
                <v-divider
                  class="mt-0 mx-1 mt-2 mb-2"
                  style="padding: 1px 0 1px 1px"
                  color="#1448c6"
                  inset
                  vertical
                />
              </template>
            </v-text-field>
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn
                  @click="resetSearchAll"
                  depressed
                  small
                  v-on="on"
                  text
                  fab
                  class="ml-2"
                >
                  <!-- <v-icon color="primary"> mdi-restore </v-icon> -->
                  <img src="icon/icon_reset.png" width="40" height="40" />
                </v-btn>
              </template>
              <span>Reset bộ lọc</span>
            </v-tooltip>
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn
                  @click="openDialogSearch"
                  depressed
                  small
                  v-on="on"
                  text
                  fab
                  class="ml-2"
                >
                  <!-- <v-icon color="primary"> mdi-currency-eth </v-icon> -->
                  <!-- <img width="27" height="24" src="icon/icon_fiter.png" /> -->
                  <img src="icon/icon_fiter.png" width="40" height="40" />
                </v-btn>
              </template>
              <span>Bộ lọc nâng cao</span>
            </v-tooltip>
          </div>
        </v-col>
      </div>
      <div>
        <v-row>
          <template v-if="!openSearch">
            <v-col
              v-for="(item, index) in blocks"
              :key="`artist-${item.id}-${index}`"
              cols="6"
              md="3"
              :class="
                $store.state.app.viewPort == 'mobile'
                  ? 'px-1 pt-0'
                  : 'pr-5 pl-0'
              "
            >
              <v-hover class="brick">
                <template #default="{ hover }">
                  <v-card elevation="0" class="border-radius-10">
                    <v-card class="border-radius-10">
                      <v-img
                        width="100%"
                        :height="
                          $store.state.app.viewPort == 'mobile'
                            ? '12.185rem'
                            : '17.185rem'
                        "
                        :src="showAvatar(item.avatar)"
                        alt=""
                        @error="errorImg(index)"
                        @click="detail(item)"
                      >
                        <div style="position: absolute; right: 8px; top: 6px">
                          <v-btn
                            v-if="item.favoriteStatus == 1"
                            class="mx-2"
                            fab
                            dark
                            x-small
                            color="#00000042"
                            depressed
                            @click="clickLike(item)"
                          >
                            <v-icon
                              dark
                              style="font-size: 16px !important"
                              :color="
                                item.favoriteStatus == 1 ? '#ff5959' : '#d9d9d9'
                              "
                            >
                              mdi-heart
                            </v-icon>
                          </v-btn>
                        </div>
                        <v-overlay
                          v-if="hover"
                          :value="hover"
                          :absolute="true"
                          :opacity="0.7"
                          class="flex-end h-100"
                        >
                          <div
                            class="d-flex flex-column justify-end h-100 text-center"
                          >
                            <div class="pb-2">
                              <div
                                style="position: absolute; right: 8px; top: 6px"
                              >
                                <v-btn
                                  class="mx-2"
                                  fab
                                  dark
                                  x-small
                                  color="#00000042"
                                  depressed
                                  @click="clickLike(item)"
                                >
                                  <v-icon
                                    dark
                                    style="font-size: 16px !important"
                                    :color="
                                      item.favoriteStatus == 1
                                        ? '#ff5959'
                                        : '#d9d9d9'
                                    "
                                  >
                                    mdi-heart
                                  </v-icon>
                                </v-btn>
                              </div>
                              <v-btn
                                v-if="checktoken()"
                                depressed
                                color="#00000042"
                                style="
                                  text-transform: none;
                                  width: 45%;
                                  border-radius: 7px;
                                  color: #d9d9d9;
                                  border: thin solid #ffffff1f;
                                "
                                class="mr-1"
                                :small="$store.state.app.viewPort == 'mobile'"
                                @click="openDialogBooking(item)"
                              >
                                Booking
                              </v-btn>
                              <v-btn
                                v-if="checktoken()"
                                depressed
                                color="#00000042"
                                style="
                                  text-transform: none;
                                  width: 45%;
                                  border-radius: 7px;
                                  color: #d9d9d9;
                                  border: thin solid #ffffff1f;
                                "
                                :small="$store.state.app.viewPort == 'mobile'"
                                @click="profileDetail(item)"
                              >
                                {{
                                  $vuetify.lang.t('$vuetify.pageHome.detail')
                                }}
                              </v-btn>
                            </div>
                          </div>
                        </v-overlay>
                      </v-img>
                    </v-card>
                    <div class="font-weight-bold mt-3">
                      {{
                        $isNullOrEmpty(item.artistName)
                          ? item.fullName
                          : item.artistName
                      }}
                    </div>
                    <div class="caption">
                      {{ item.works }}
                    </div>
                  </v-card>
                </template>
              </v-hover>
            </v-col>
          </template>
          <v-col v-else cols="12" align="center" class="mt-5">
            {{ 'Không tìm thấy kết quả phù hợp' }}
          </v-col>
        </v-row>
        <client-only v-if="!openSearch">
          <infinite-loading @infinite="getList" />
        </client-only>
      </div>
    </v-container>
    <v-overlay :value="overlay" align="center">
      <v-progress-circular indeterminate size="30" />
      <div>
        {{ $vuetify.lang.t('$vuetify.PleaseWaitAMoment') }}
      </div>
    </v-overlay>
    <dialogBooking
      :id="idBooking"
      :avatar="avatarBooking"
      :title="titleBooking"
      :amountMoney="amountMoney"
      :open="openBooking"
      @toggle="openBooking = !openBooking"
    />

    <Dialog
      v-if="dialogSearch"
      :open="dialogSearch"
      @dataSearchAdvanced="dataSearchAdvanced"
      @toggle="dialogSearch = !dialogSearch"
      :data="isDataSearrch"
    >
    </Dialog>
  </div>
</template>

<script>
import Cookies from 'js-cookie'
import dialogBooking from '~/components/booking/dialogBooking'
import Dialog from '~/components/artists/DialogSearch.vue'
import URL from '~/assets/configurations/Base_Url'
export default {
  components: { dialogBooking, Dialog },
  data() {
    return {
      loadSearch: true,
      idBooking: null,
      avatarBooking: '',
      titleBooking: '',
      amountMoney: null,
      openBooking: false,
      overlay: false,
      blocks: [],
      containerId: '',
      freeWall: null,
      pageIndex: 1,
      showInput: false,
      checkTab: true,
      dataSearch: '',
      openSearch: false,
      dialogSearch: false,
      isDataSearrch: {},
    }
  },
  watch: {
    '$store.state.app.callInfo'() {
      this.pageIndex = 1
      this.blocks = []
      this.getList()
    },
  },
  created() {
    this.approvalStatus = Cookies.get('approvalStatus')
  },
  methods: {
    resetSearchAll() {
      this.pageIndex = 1

      this.blocks = []
      this.isDataSearrch.level = null
      this.isDataSearrch.fullName = null
      this.isDataSearrch.stageName = null
      this.isDataSearrch.fieldIds = null
      this.isDataSearrch.musicTypes = null
      this.isDataSearrch.fromMoney = 0
      this.isDataSearrch.toMoney = 100000000
      this.dataSearch = ''
      this.getList()
    },
    dataSearchAdvanced(value) {
      this.pageIndex = 1
      this.blocks = []
      this.isDataSearrch = value

      this.getList()
    },
    openDialogSearch() {
      this.dialogSearch = true
    },
    checktoken() {
      return Cookies.get('token')
    },
    openDialogBooking(item) {
      if (this.$store.state.login.role.includes('CUSTOMER')) {
        this.idBooking = item.id
        this.avatarBooking = item.avatar
        this.titleBooking = item.artistName
        this.amountMoney = item.amountMoney
        this.openBooking = true
      } else {
        this.profileDetail(item)
      }
    },
    clickLike(data) {
      if (!Cookies.get('token')) {
        // this.$store.commit('login/setLogin')
      } else if (data.favoriteStatus === 0) {
        this.$store
          .dispatch('profile/favorite', {
            artistId: data.id,
          })
          .then((res) => {
            this.pageIndex -= 1
            if (data.favoriteStatus === 0) {
              data.favoriteStatus = 1
            } else {
              data.favoriteStatus = 0
            }
          })
      } else {
        this.$store
          .dispatch('profile/unFavorite', {
            artistId: data.id,
          })
          .then((res) => {
            if (!res.error) {
              if (!res.error) {
                this.pageIndex -= 1
                if (data.favoriteStatus === 0) {
                  data.favoriteStatus = 1
                } else {
                  data.favoriteStatus = 0
                }
              }
            }
          })
      }
    },
    detail(item) {
      if (!this.checktoken()) {
        this.$store.commit('login/setLogin')
      }
    },
    showMore() {
      this.showInput = !this.showInput
    },
    errorImg(index) {
      this.blocks[index].avatar = '/icon/nghesi.png'
    },

    profileDetail(item) {
      let plan = item.id
      this.$router.push({
        path: `/booking/${this.$removeAccents(item.fullName).replace(
          / /g,
          '-'
        )}`,

        query: { plan },
      })
    },
    showAvatar(avatar) {
      if (avatar === '/icon/nghesi.png') {
        return avatar
      } else {
        return URL.urlImg + avatar
      }
    },
    search() {
      if (this.loadSearch) {
        this.pageIndex = 1
        this.blocks = []
        this.getList()
      }
    },
    getList($infiniteState) {
      this.loadSearch = true
      this.$store
        .dispatch('artists/listArtists', {
          pageIndex: this.pageIndex,
          artisticName: this.dataSearch ? this.dataSearch.trim() : '',
          pageSize: 100,
          level: this.$isNullOrEmpty(this.isDataSearrch.level)
            ? null
            : this.isDataSearrch.level,
          fullName: this.$isNullOrEmpty(this.isDataSearrch.fullName)
            ? null
            : this.isDataSearrch.fullName,
          stageName: this.$isNullOrEmpty(this.isDataSearrch.stageName)
            ? null
            : this.isDataSearrch.stageName,
          fieldIds: this.$isNullOrEmpty(this.isDataSearrch.fieldIds)
            ? null
            : this.isDataSearrch.fieldIds,
          musicTypes: this.$isNullOrEmpty(this.isDataSearrch.musicTypes)
            ? null
            : this.isDataSearrch.musicTypes.join(),
          fromMoney: this.$isNullOrEmpty(this.isDataSearrch.fromMoney)
            ? null
            : this.isDataSearrch.fromMoney,
          toMoney: this.$isNullOrEmpty(this.isDataSearrch.toMoney)
            ? null
            : this.isDataSearrch.toMoney,
        })
        .then((res) => {
          if (!res.error) {
            this.loadSearch = false
            if (
              (res.data.data.data || []).length === 0 &&
              this.pageIndex === 1 &&
              $infiniteState === undefined
            ) {
              this.blocks = []
              this.openSearch = true
            }
            if ((res.data.data.data || []).length !== 0) {
              this.openSearch = false
              if (this.pageIndex === 1) {
                this.blocks = res.data.data.data
              } else {
                for (let i = 0; i < res.data.data.data.length; i++) {
                  this.blocks.push(res.data.data.data[i])
                }
              }
              this.pageIndex += 1
              this.blocks.sort((a, b) => {
                return a.rank - b.rank
              })

              if (!this.blocks.length) {
                $infiniteState.complete()
              } else {
                $infiniteState.loaded()
              }
            } else {
              $infiniteState.complete()
            }
          } else {
            $infiniteState.complete()
          }
          this.loadSearch = true
        })
        .catch((e) => {
          this.loadSearch = true
          this.overlay = false
        })
    },
  },
}
</script>

<style lang="scss" scope>
.flex-end {
  .v-overlay__content {
    height: 100%;
    width: 100%;
  }
}
.input123.v-text-field.v-text-field--solo.v-input--dense > .v-input__control {
  min-height: 30px !important;
}
.item {
  background-color: rgb(135, 199, 135);
  width: 320px;
  height: 320px;
}
@media (min-width: 1904px) {
  .customContainer {
    max-width: 1300px !important;
    padding: 0px;
  }
}
</style>
