<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head {{ HEAD_ATTRS }}>
    {{ HEAD }}
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="og:url" property="og:url" content="http://vab.xteldev.com/" />
    <meta
      name="og:description"
      property="og:description"
      content="Sàn giao dịch điện tử dành cho nghệ sĩ"
    />
  </head>
  <body {{ BODY_ATTRS }}>
    {{ APP }}
  </body>
</html>
