<template>
  <div>
    <v-dialog
      :value="open"
      max-width="700"
      persistent
      @keydown="$event.key === 'Escape' && toggle()"
    >
      <v-card style="border-radius: 15px">
        <v-img src="/logo/anhNen.png" class="customImg">
          <v-card-text class="mb-4 px-1">
            <div
              v-if="
                $store.state.login.role &&
                $store.state.login.role.includes('CUSTOMER')
              "
              style="position: absolute; right: 0px; cursor: pointer; top: 7px"
              class="text-center"
              @click="toggle"
            >
              <v-img height="26" width="26" class="mr-2" src="/logo/x.png" />
            </div>
            <div>
              <v-row>
                <v-col cols="12" md="12" class="pt-0">
                  <v-card-title
                    style="
                      color: #1648be !important ;
                      border-bottom: 1px dashed;
                      border-color: #1648be6b;
                      font-size: 25px;
                    "
                    class="d-flex justify-center align-center black--text pt-0 pb-2 font-weight-regular"
                  >
                    {{ 'Lịch diễn' }}
                  </v-card-title>
                  <v-card-text v-if="data" class="pa-0">
                    <v-row>
                      <v-col cols="12" class="px-0 border-text">
                        <div class="d-flex align-center">
                          <v-img
                            height="28"
                            max-width="22"
                            width="22"
                            class="mr-4"
                            src="/VAB_booking/location.png"
                          />
                          <div class="black--text fs-16">
                            {{ data.address }}
                          </div>
                        </div>
                      </v-col>
                      <v-col cols="12" class="px-0 border-text">
                        <div class="d-flex align-center">
                          <v-img
                            height="22"
                            max-width="22"
                            width="22"
                            class="mr-4"
                            src="/VAB_booking/event.png"
                          />
                          <div style="color: #088d08" class="fs-16">
                            <span>{{ data.content }}</span>
                          </div>
                        </div>
                      </v-col>
                      <v-col cols="12" class="px-0 border-text">
                        <v-row>
                          <v-col
                            cols="5"
                            md="3"
                            class="color-text fs-16 pb-0 px-0"
                          >
                            {{ 'Mã Booking:' }}
                          </v-col>
                          <v-col cols="7" md="9" class="pb-0 black--text">
                            <span>{{ data.bookingCode }}</span>
                          </v-col>
                          <template v-if="!$isNullOrEmpty(data.artistName)">
                            <v-col
                              cols="5"
                              md="3"
                              class="color-text fs-16 pb-0 px-0"
                            >
                              {{ 'Tên nghệ sĩ:' }}
                            </v-col>
                            <v-col cols="7" md="9" class="pb-0 black--text">
                              <span>{{ data.artistName }}</span>
                            </v-col>
                          </template>
                          <template v-if="!$isNullOrEmpty(data.fromTime)">
                            <v-col
                              cols="5"
                              md="3"
                              class="color-text fs-16 pb-0 px-0"
                            >
                              {{ 'Thời gian bắt đầu:' }}
                            </v-col>
                            <v-col cols="7" md="9" class="pb-0 black--text">
                              {{ data.fromTime.slice(0, 10) }}
                            </v-col>
                          </template>
                          <template v-if="!$isNullOrEmpty(data.toTime)">
                            <v-col
                              cols="5"
                              md="3"
                              class="color-text fs-16 pb-0 px-0"
                            >
                              {{ 'Thời gian kết thúc:' }}
                            </v-col>
                            <v-col cols="7" md="9" class="pb-0 black--text">
                              {{ data.toTime.slice(0, 10) }}
                            </v-col>
                          </template>
                          <v-col
                            cols="5"
                            md="3"
                            class="color-text fs-16 pb-0 px-0"
                          >
                            {{ 'Ngân sách dự kiến:' }}
                          </v-col>
                          <v-col cols="7" md="9" class="pb-0 black--text">
                            {{ $formatMoney({ amount: data.expectFee }) }} VNĐ
                          </v-col>
                          <v-col
                            cols="5"
                            md="3"
                            class="color-text fs-16 pb-0 px-0"
                          >
                            {{ 'Số điện thoại:' }}
                          </v-col>
                          <v-col cols="7" md="9" class="pb-0 black--text">
                            <template
                              v-if="
                                $store.state.login.role &&
                                $store.state.login.role.includes('ARTIST')
                              "
                            >
                              {{ data.phone }}
                            </template>
                            <template v-else>
                              {{ data.mnPhone }}
                            </template>
                          </v-col>
                          <template v-if="!$isNullOrEmpty(data.description)">
                            <v-col
                              cols="5"
                              md="3"
                              class="color-text fs-16 pb-0 px-0"
                            >
                              {{ 'Ghi chú thêm :' }}
                            </v-col>
                            <v-col cols="7" md="9" class="pb-0 black--text">
                              {{ data.description }}
                            </v-col>
                          </template>
                        </v-row>
                      </v-col>
                      <v-col cols="12" class="px-0">
                        <div class="d-flex align-center">
                          <v-img
                            height="22"
                            max-width="22"
                            class="mr-3"
                            src="/VAB_booking/newStatus.png"
                          />
                          <span class="black--text fs-16 font-weight-bold pb-0">
                            {{ 'Trạng thái lịch diễn:' }}
                          </span>
                        </div>
                      </v-col>
                      <v-col cols="4" class="pa-0">
                        <v-checkbox
                          v-model="selected"
                          class="black-text fs-14"
                          label="Chờ xác nhận"
                          value="0"
                          hide-details
                        />
                      </v-col>
                      <v-col cols="4" class="pa-0">
                        <v-checkbox
                          v-model="selected"
                          class="black-text fs-14"
                          label="Đã thực hiện"
                          value="3"
                          hide-details
                        />
                      </v-col>
                      <v-col cols="4" class="pa-0">
                        <v-checkbox
                          v-model="selected"
                          class="black-text fs-14"
                          label="Chưa thực hiện"
                          value="1"
                          hide-details
                        />
                      </v-col>
                      <v-col cols="4" class="pa-0">
                        <v-checkbox
                          v-model="selected"
                          class="black-text fs-14"
                          label="Hoãn lịch"
                          value="4"
                          hide-details
                        />
                      </v-col>
                      <v-col cols="4" class="pa-0">
                        <v-checkbox
                          v-model="selected"
                          class="black-text fs-14"
                          label="Hủy lịch"
                          value="2"
                          hide-details
                        />
                      </v-col>
                      <v-col cols="4" class="pa-0">
                        <v-checkbox
                          v-model="selected"
                          class="black-text fs-14"
                          label="Thay đổi lịch"
                          value="5"
                          hide-details
                        />
                      </v-col>
                      <v-col
                        v-if="checkUser()"
                        cols="12"
                        class="text-center pb-0 pt-12"
                      >
                        <v-btn
                          depressed
                          width="35%"
                          class="custom-btn-normal mr-2"
                          color="#1448C6"
                          @click="acceptBooking(selected)"
                        >
                          <div class="font_size">
                            {{ 'Xác nhận' }}
                          </div>
                        </v-btn>
                        <v-btn
                          depressed
                          width="35%"
                          class="custom-btn-normal"
                          color="#EF9C0E"
                          @click="toggle"
                        >
                          <div class="font_size">
                            {{ $vuetify.lang.t('$vuetify.cancel') }}
                          </div>
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-col>
              </v-row>
            </div>
          </v-card-text>
        </v-img>
      </v-card>
    </v-dialog>
    <yes-no-alert
      alertmsg="Bạn có chắc muốn từ chối booking?"
      :open="openDialogYesNo"
      @toggle="openDialogYesNo = !openDialogYesNo"
      @OK="acceptBooking(2)"
    />
  </div>
</template>
<script>
import YesNoAlert from '~/components/YesNoAlert'
export default {
  components: {
    YesNoAlert,
  },
  props: {
    open: {
      type: Boolean,
    },
    data: {
      type: Object,
      default: null,
    },
    id: {
      type: Number,
      default: null,
    },
  },
  data() {
    return {
      selected: '',
      nameCustomer: '',
      gmail: '',
      phoneNumber: '',
      facebook: '',
      openDialogYesNo: false,
    }
  },
  watch: {
    selected(value) {
      console.log(value)
    },
    open() {
      if (this.data.performStatus) {
        this.selected = String(this.data.performStatus)
      }
    },
  },
  methods: {
    checkUser() {
      return (
        this.$store.state.login.role &&
        !this.$store.state.login.role.includes('CUSTOMER')
      )
    },
    async acceptBooking(status) {
      const res = await this.$store.dispatch('booking/updateLichDien', {
        id: this.data.id,
        artistId: this.id,
        performStatus: Number(this.selected),
      })
      if (!res.error) {
        this.toggle()
        this.$emit('success')
        this.$store.dispatch('notification/set_notifications', {
          type: 'success',
          color: 'success',
          text: 'Cập nhật trạng thái lịch diễn thành công',
          dark: true,
        })
      }
    },
    toggle() {
      this.$emit('toggle')
    },
  },
}
</script>
<style lang="scss"></style>
