<template>
  <div>
    <v-dialog
      :value="open"
      :max-width="650"
      persistent
      @keydown="$event.key === 'Escape' && toggle()"
    >
      <v-card style="border-radius: 10px">
        <v-img src="/logo/anhNen.png" class="customImg">
          <v-card-title class="pt-0 pb-1 px-2">
            <v-row>
              <v-col cols="4" class="pl-0"> </v-col>
              <v-col cols="5"
                ><div class="fs-20 primary--text text-center fw-600">
                  Chuyển khoản
                </div>
              </v-col>
              <v-col cols="3" class="pr-0 pt-2" style="text-align: end">
                <v-btn
                  @click="toggle"
                  icon
                  small
                  depressed
                  fab
                  style="background-color: #dce2fc"
                >
                  <v-icon color="primary"> mdi-close </v-icon>
                </v-btn>
              </v-col>
            </v-row>
          </v-card-title>
          <v-divider class="primary" />
          <v-card-text
            class="pb-0 pt-2"
            style="max-height: calc(100vh - 15rem); overflow-x: hidden"
          >
            <v-row style="justify-content: center">
              <v-col cols="12" class="pb-3 pt-1">
                <div
                  class="primary--text information font-weight-medium fs-15 py-1 pl-4"
                >
                  <div class="white--text">Thông tin chuyển khoản</div>
                </div>
              </v-col>
              <v-col cols="12" class="py-0">
                <v-row>
                  <v-col
                    style="text-align: center"
                    offset="2"
                    cols="8"
                    class="pt-0"
                  >
                    <img
                      v-if="
                        $isNullOrEmpty(img.data) ||
                        img.url !== '/logo/avatar.png'
                      "
                      style="height: 230px; width: 100%; object-fit: contain"
                      :src="img.url"
                      @click="selectFileOpen()"
                    />
                    <img
                      v-else
                      v-viewer
                      style="height: 230px; width: 100%; object-fit: contain"
                      :src="img.data"
                    />

                    <v-btn
                      v-if="
                        !$isNullOrEmpty(img.data) ||
                        img.url !== '/logo/avatar.png'
                      "
                      @click="selectFileOpen()"
                      class="text-none primary"
                      depressed
                      >Chỉnh sửa</v-btn
                    >
                    <div
                      v-if="imgError"
                      style="color: #ff5252 !important; font-size: 12px"
                      class="pl-2"
                    >
                      {{ lang('$vuetify.NotBlank') }}
                    </div>
                    <v-file-input
                      id="input_file_add_deposit"
                      accept="image/png, image/jpeg, image/bmp"
                      :value="file"
                      class="d-none"
                      @change="inputFile($event)"
                    />
                  </v-col>
                  <v-col cols="6" class="pb-0">
                    <div>Tên chủ thẻ</div>
                    <v-text-field
                      v-model="accountName"
                      class="color-icon-time fs-15 pb-error-0"
                      placeholder="Tên chủ thẻ"
                      outlined
                      height="40"
                      dense
                      :error-messages="accountNameError"
                      @input="accountNameError = []"
                      :spellcheck="false"
                      @keydown.space="preventLeadingSpace"
                    >
                      <template #prepend-inner>
                        <v-img
                          height="21"
                          width="21"
                          src="iconRegister/ten.png"
                        />
                        <v-divider
                          class="mt-0 ml-2 mr-1"
                          style="padding: 1px 1px 1px 1px"
                          color="#1448c6"
                          inset
                          vertical
                        />
                      </template>
                    </v-text-field>
                  </v-col>
                  <v-col cols="6" class="pb-0">
                    <div>Tên ngân hàng</div>
                    <v-autocomplete
                      v-model="bankName"
                      class="color-icon-time fs-15 pb-error-0"
                      placeholder="Tên ngân hàng"
                      :items="listBank"
                      item-value="id"
                      item-text="code"
                      outlined
                      height="40"
                      no-data-text="Không có dữ liệu"
                      dense
                      :error-messages="bankNameError"
                      @input="bankNameError = []"
                      :spellcheck="false"
                      @keydown.space="preventLeadingSpace"
                    >
                      <template v-slot:selection="data">
                        {{ data.item.code }}
                      </template>
                      <template v-slot:item="data">
                        <template v-if="data.item !== 'object'">
                          <v-list-item-content>
                            <v-list-item-title>
                              {{ data.item.code }}</v-list-item-title
                            >
                            <v-list-item-title>
                              <div class="fs-12 grey--text">
                                ({{ data.item.name }})
                              </div></v-list-item-title
                            >
                          </v-list-item-content>
                        </template>
                      </template>
                      <template #prepend-inner>
                        <v-img
                          class="mt-1 mb-1"
                          height="14"
                          width="19"
                          src="iconRegister/cccd.png"
                        />
                        <v-divider
                          class="mt-0 ml-2 mr-1"
                          style="padding: 1px 1px 1px 1px"
                          color="#1448c6"
                          inset
                          vertical
                        />
                      </template>
                    </v-autocomplete>
                  </v-col>
                  <v-col cols="6" class="py-0">
                    <div>Số tài khoản</div>
                    <v-text-field
                      v-model="accountNumber"
                      class="color-icon-time fs-15 pb-error-0"
                      placeholder="Số tài khoản"
                      outlined
                      height="40"
                      dense
                      :error-messages="accountNumberError"
                      @input="accountNumberError = []"
                      :spellcheck="false"
                      @keydown.space="preventLeadingSpace"
                    >
                      <template #prepend-inner>
                        <v-img
                          class="mt-1 mb-1"
                          height="14"
                          width="19"
                          src="iconRegister/cccd.png"
                        />
                        <v-divider
                          class="mt-0 ml-2 mr-1"
                          style="padding: 1px 1px 1px 1px"
                          color="#1448c6"
                          inset
                          vertical
                        />
                      </template>
                    </v-text-field>
                  </v-col>
                  <v-col cols="6" class="py-0">
                    <div>Số tiền đặt cọc</div>
                    <v-text-field
                      v-model="price"
                      class="color-icon-time fs-15 pb-error-0"
                      placeholder="Số tiền đặt cọc"
                      outlined
                      height="40"
                      dense
                      :error-messages="priceErrors"
                      :spellcheck="false"
                      @keyup="checkValuePrice"
                      @keydown.space="preventLeadingSpace"
                      @input="priceErrors = []"
                    >
                      <template #prepend-inner>
                        <v-img
                          class="mt-1 mb-1"
                          height="14"
                          width="19"
                          src="iconRegister/cccd.png"
                        />
                        <v-divider
                          class="mt-0 ml-2 mr-1"
                          style="padding: 1px 1px 1px 1px"
                          color="#1448c6"
                          inset
                          vertical
                        />
                      </template>
                    </v-text-field>
                  </v-col>
                  <v-col cols="6" class="py-0">
                    <div>Thời gian đặt cọc</div>
                    <v-menu
                      v-model="menu"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          :placeholder="$vuetify.lang.t('$vuetify.birthday')"
                          v-on="on"
                          class="color-icon-time fs-15px pb-error-0"
                          v-model="birthday"
                          dense
                          outlined
                          readonly
                          :spellcheck="false"
                        >
                          <template #prepend-inner>
                            <v-img
                              class="mt-1 mb-1"
                              height="17"
                              width="17"
                              src="iconRegister/lich.png"
                            />
                            <v-divider
                              class="mt-0 ml-2 mr-1"
                              style="padding: 1px 1px 1px 1px"
                              color="#1448c6"
                              inset
                              vertical
                            />
                          </template>
                        </v-text-field>
                      </template>
                      <v-date-picker
                        v-model="menu_date"
                        locale="vi"
                        @input="menu = false"
                      >
                      </v-date-picker>
                    </v-menu>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card-text>

          <v-card-actions class="pb-5 pt-0" style="justify-content: center">
            <v-row>
              <v-col class="pa-0" cols="12" md="2"></v-col>
              <v-col cols="12" md="4" class="pl-md-0 pr-md-1">
                <v-btn
                  depressed
                  block
                  height="40"
                  class="custom-btn-normal"
                  color="primary"
                  @click="confimPayment"
                >
                  <div class="font_size">Lưu</div>
                </v-btn>
              </v-col>
              <v-col cols="12" md="4" class="pr-md-0 pl-md-1">
                <v-btn
                  block
                  depressed
                  height="40"
                  class="custom-btn-normal white--text"
                  color="#EF9c0E"
                  @click="toggle"
                >
                  <div class="font_size">Đóng</div>
                </v-btn>
              </v-col>
              <v-col class="pa-0" cols="12" md="2"></v-col>
            </v-row>
          </v-card-actions>
        </v-img>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import moment from 'moment'

import Vue from 'vue'
import 'viewerjs/dist/viewer.css'
import Viewer from 'v-viewer'

Vue.use(Viewer)
import BasURL from '~/assets/configurations/Base_Url'
export default {
  name: 'Dialog',

  components: {},
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    data: {
      type: Object,
      required: true,
    },
  },
  watch: {
    open(value) {
      if (value) {
        this.img = {
          url: '/logo/avatar.png',
          name: null,
          data: null,
        }
        this.listBank = []
        this.menu = false
        this.menu_date = moment().format('YYYY-MM-DD')
        this.file = []
        this.imgError = false
        this.price = null
        this.priceErrors = []
        this.accountNumber = null
        this.accountNumberError = []
        this.accountName = null
        this.accountNameError = []
        this.bankName = null
        this.bankNameError = []
        this.detail()
        this.commonBank()
      }
    },
  },
  data() {
    return {
      avatar: '',
      file: [],
      img: {
        url: '/logo/avatar.png',
        name: null,
        data: null,
      },
      listBank: [],
      accountNumberError: [],
      imgError: false,
      price: '',
      bankName: null,
      bankNameError: [],
      accountName: null,
      accountNameError: [],
      priceErrors: [],
      menu: false,
      menu_date: moment().format('YYYY-MM-DD'),
      accountNumber: null,
    }
  },

  computed: {
    birthday() {
      return moment(this.menu_date, 'YYYY-MM-DD').format('DD/MM/YYYY')
    },
  },
  methods: {
    detail() {
      this.$store
        .dispatch('booking/depositDetail', {
          id: this.data.id,
        })
        .then((res) => {
          if (!res.error) {
            this.img = {
              url: this.$isNullOrEmpty(res.data.data.image)
                ? '/logo/avatar.png'
                : `${BasURL.urlImg}${res.data.data.image}`,
              data: null,
              name: null,
            }
            this.accountName = res.data.data.accountName
            this.bankName = this.$isNullOrEmpty(res.data.data.bankId)
              ? null
              : res.data.data.bankId
            this.accountNumber = res.data.data.accountNumber
            this.price = res.data.data.amountMoney
            this.menu_date = this.$isNullOrEmpty(this.data.dateOfBirth)
              ? moment().format('YYYY-MM-DD')
              : moment(this.data.dateOfBirth, 'DD/MM/YYYY HH:mm:ss').format(
                  'YYYY-MM-DD'
                )
            this.checkValuePrice()
          }
        })
    },
    commonBank() {
      this.$store.dispatch('booking/commonBank').then((res) => {
        if (!res.error) {
          this.listBank = res.data.data
        }
      })
    },
    preventLeadingSpace(e) {
      if (!e.target.value) e.preventDefault()
      else if (e.target.value[0] == ' ')
        e.target.value = e.target.value.replace(/^\s*/, '')
    },
    confimPayment() {
      let hasError = false
      if (this.$isNullOrEmpty(this.accountName)) {
        hasError = true
        this.accountNameError = ['Vui lòng nhập tên chủ thẻ']
      } else if (!isNaN(this.accountName)) {
        hasError = true
        this.accountNameError = ['Tên chủ thẻ không hợp lê']
      }
      if (this.$isNullOrEmpty(this.bankName)) {
        hasError = true
        this.bankNameError = ['Vui lòng chọn ngân hàng']
      }
      if (this.$isNullOrEmpty(this.accountNumber)) {
        hasError = true
        this.accountNumberError = ['Vui lòng nhập số tài khoản']
      } else if (isNaN(this.accountNumber)) {
        hasError = true
        this.accountNumberError = ['Số tài khoản không hợp lệ']
      }
      if (!hasError) {
        const data = {
          artistBooking: {
            id,
          },
          amountMoney: Number(this.price.replace(/,/g, '')),
          file: {
            url: null,
            name: this.img.name,
            data: this.img.data,
          },
          status: 1,
          depositDate: `${this.birthday} 00:00:00`,
          formality: {
            id: 2,
          },
          accountName: this.accountName,
          bankName: this.bankName,
          accountNumber: this.accountNumber,
        }
        this.$store.dispatch('booking/depositAdd', data).then((res) => {
          if (!res.error) {
            this.$store.dispatch('notification/set_notifications', {
              type: 'success',
              color: 'success',
              text: 'Lưu thông tin đặt cọc thành công',
              dark: true,
            })
            this.toggle()
            this.$emit('success')
          }
        })
      }
    },
    checkValuePrice() {
      this.price = this.$formatMoneyv2({
        amount: this.price,
      })
    },
    selectFileOpen() {
      return window.document.getElementById('input_file_add_deposit').click()
    },
    inputFile(value) {
      this.imgError = false
      this.img = {
        url: '/logo/avatar.png',
        name: null,
        data: null,
      }
      this.getBase64(value).then((data) => {
        this.img = {
          url: null,
          name: value.name,
          data: data,
        }
      })
    },
    getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.readAsDataURL(file)
        reader.onload = () => resolve(reader.result)
        reader.onerror = (error) => reject(error)
      })
    },

    toggle() {
      this.$emit('toggle')
    },
  },
}
</script>

<style lang="scss" scoped>
.font_size {
  font-size: 90%;
}
.information {
  background-color: #2f55ed;
  border: 1px solid #eaeaea;
}
.card-item {
  border: 1px solid #f5f5f5;
  border-radius: 10px;
}
.card-item-white {
  background-color: white;
  padding: 15px;
  padding-top: 45px;
  padding-bottom: 45px;
  border-radius: 10px;
  /* justify-content: start; */
  width: 100%;
  height: 200px;
  border: 5px solid #2f55ed;
}

.v-input--selection-controls {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
</style>
