<template>
  <div>
    <v-dialog
      :value="open"
      :max-width="1200"
      persistent
      @keydown="$event.key === 'Escape' && toggle()"
    >
      <v-card style="border-radius: 10px">
        <v-card-title class="pt-0 pb-1 px-2">
          <v-row>
            <v-col cols="4" class="pl-0"> </v-col>
            <v-col cols="5"
              ><div class="fs-20 primary--text text-center fw-600">
                Lịch sử thanh toán
              </div>
            </v-col>
            <v-col cols="3" class="pr-0 pt-2" style="text-align: end">
              <v-btn
                @click="toggle"
                icon
                small
                depressed
                fab
                style="background-color: #dce2fc"
              >
                <v-icon color="primary"> mdi-close </v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-card-title>
        <v-divider class="primary" />
        <v-card-text
          class="pt-5"
          style="max-height: calc(100vh - 15rem); overflow-x: hidden"
        >
          <v-app-bar flat color="white" style="height: 50px !important">
            <v-spacer />
            <div class="flex-grow-1"></div>
            <!-- <v-col cols="2">
              <v-text-field
                label="Họ tên người khám *"
                dense
                outlined
                hide-details
                clearable
              ></v-text-field>
            </v-col> -->

            <v-btn
              depressed
              @click="openAdd = true"
              class="ml-2 text-none"
              color="primary"
              >Thêm</v-btn
            >
          </v-app-bar>
          <v-data-table
            :items="items"
            item-key="id"
            :headers="headerdeposit"
            :items-per-page="10"
            hide-default-footer
            :loading-text="$vuetify.lang.t('$vuetify.pleaseWait') + '...'"
            :no-results-text="$vuetify.lang.t('$vuetify.NoMatchingResults')"
            :no-data-text="$vuetify.lang.t('$vuetify.noData')"
            fixed-header
            light
            class="custom_header_table custom-height-add-product-hot"
          >
            <template #[`item.stt`]="{ item }">
              {{ getItemIndex(item) }}
            </template>
            <template #[`item.depositDate`]="{ item }">
              <div>{{ formatDate(item.depositDate) }}</div>
            </template>
            <template #[`item.amountMoney`]="{ item }">
              {{ $formatMoneyv2({ amount: item.amountMoney }) }}
            </template>
            <template #[`item.image`]="{ item }">
              <img
                v-if="!$isNullOrEmpty(item.image)"
                v-viewer
                :src="UrlAvatar(item.image)"
                style="height: 100px; width: 100%; object-fit: contain"
              />
            </template>
            <template #[`item.formality`]="{ item }">
              <div v-if="!$isNullOrEmpty(item.formality)">
                <div v-if="!$isNullOrEmpty(item.formality.name)">
                  {{ item.formality.name }}
                </div>
              </div>
            </template>

            <template v-slot:[`item.action`]="{ item }">
              <v-tooltip bottom v-if="item">
                <template v-slot:activator="{ on }">
                  <v-btn
                    color="primary"
                    v-ripple
                    icon
                    small
                    @click="OpenUpdate(item)"
                  >
                    <v-icon v-on="on">mdi-pencil-outline</v-icon>
                  </v-btn>
                </template>
                <span>Câp nhật</span>
              </v-tooltip>
              <!-- <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn
                    color="primary"
                    v-ripple
                    icon
                    small
                    @click="OpenDeleteItem(item)"
                  >
                    <v-icon v-on="on">mdi-trash-can-outline</v-icon>
                  </v-btn>
                </template>
                <span>Xóa</span>
              </v-tooltip> -->
            </template>
          </v-data-table>
        </v-card-text>
        <v-divider class="primary"></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            width="100px"
            height="40"
            depressed
            class="mr-2 white--text"
            color="#ff9800"
            @click="toggle"
            style="border-radius: 5px"
          >
            <div class="font_size text-none">Đóng</div>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <Add
      @success="listDeposit"
      :open="openAdd"
      @toggle="openAdd = !openAdd"
      :data="data"
    ></Add>
    <Update
      :open="openUpdate"
      @toggle="openUpdate = !openUpdate"
      :data="dataDetail"
    ></Update>
  </div>
</template>
<script>
import moment from 'moment'
import Vue from 'vue'
import 'viewerjs/dist/viewer.css'
import Viewer from 'v-viewer'

Vue.use(Viewer)
import Add from '~/components/deposit/deposit/depositAdd.vue'
import Update from '~/components/deposit/deposit/depositUpdate.vue'
import URLImg from '~/assets/configurations/Base_Url'
export default {
  name: 'Dialog',
  components: {
    Add,
    Update,
  },
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    data: {
      type: Object,
      required: true,
    },
  },
  watch: {
    open(value) {
      if (value) {
        this.listDeposit()
      }
    },
  },
  data() {
    return {
      openAdd: false,
      openUpdate: false,
      listformatDeposit: [],
      valueCheckbox: null,
      valueCheck: 0,
      check_id: null,
      openDialogOnlinePayment: false,
      openDialogPaymentBankCard: false,
      valueCheckType: null,
      depositMoney: null,
      fromTime: null,
      toTime: null,
      expectFee: null,
      artistName: null,
      items: [],
      page: 10,
      dataDetail: {},
    }
  },
  computed: {
    headerdeposit() {
      return [
        {
          text: 'STT',
          align: 'center',
          value: 'stt',
          sortable: false,
          width: '50px',
        },
        {
          text: 'Hình thức thanh toán',
          align: 'center',
          value: 'formality',
          sortable: false,
          width: '180px',
        },
        {
          text: 'Hình ảnh',
          align: 'center',
          value: 'image',
          sortable: false,
        },

        {
          text: ' Tên chủ thẻ',
          align: 'center',
          value: 'accountName',
          sortable: false,
        },
        {
          text: 'Tên ngân hàng',
          align: 'center',
          value: 'bankName',
          sortable: false,
          width: '150px',
        },
        {
          text: 'Số tài khoản',
          align: 'center',
          value: 'accountNumber',
          sortable: false,
        },
        {
          text: 'Thời gian ',
          align: 'center',
          value: 'depositDate',
          sortable: false,
        },
        {
          text: 'Số tiền',
          align: 'center',
          value: 'amountMoney',
          sortable: false,
        },
        // {
        //   text: 'Trạng thái',
        //   align: 'center',
        //   value: 'status',
        //   sortable: false,
        // },
        {
          text: 'Chức năng',
          align: 'center',
          value: 'action',
          sortable: false,
          width: '50px',
        },
      ]
    },
  },
  methods: {
    UrlAvatar(value) {
      return URLImg.urlImg + value
    },
    OpenUpdate(value) {
      this.openUpdate = true
      this.dataDetail = value
    },
    formatDate(value) {
      if (!this.$isNullOrEmpty(value)) {
        return moment(value, 'DD/MM/YYYY HH:mm:ss').format('DD/MM/YYYY')
      }
    },
    getItemIndex(item) {
      return this.items.indexOf(item) + 1
    },
    listDeposit() {
      this.$store
        .dispatch('booking/listDeposit', {
          bookingId: this.data.id,
        })
        .then((res) => {
          if (!res.error) {
            this.items = res.data.data.artistBookingDepositDtos
          }
        })
    },
    toggle() {
      this.$emit('toggle')
      this.$emit('success')
    },
  },
}
</script>
