<template>
  <div>
    <v-dialog
      :value="$store.state.login.openLogin"
      max-width="450px"
      persistent
      @keydown="$event.key === 'Escape' && toggle()"
    >
      <!-- @click:outside="toggle" -->
      <v-card style="border-radius: 10px">
        <v-img src="/logo/anhNen.png" class="customImg">
          <v-btn
            color="secondary"
            icon
            style="position: absolute; right: 0px"
            @click="toggle"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-card-text :class="viewPortValue == 'mobile' ? 'pa-0' : ''">
            <form @submit.prevent="submit">
              <v-container fluid class="py-0">
                <v-row class="centerRow">
                  <v-col cols="6" class="pt-0" align="center">
                    <div>
                      <v-img src="/logo/logoLogin.png" class="customImgLogo" />
                    </div>
                  </v-col>
                  <v-col cols="12" class="pb-0" align="center">
                    <v-text-field
                      v-model="username"
                      outlined
                      dense
                      :label="$vuetify.lang.t('$vuetify.nameLogin')"
                      prepend-inner-icon="mdi-account-outline"
                      :error-messages="usernameError"
                      @input="usernameError = []"
                    />
                    <v-text-field
                      v-model="password"
                      :error-messages="passwordError"
                      :type="showPass ? 'text' : 'password'"
                      :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                      outlined
                      dense
                      :label="$vuetify.lang.t('$vuetify.password')"
                      prepend-inner-icon="mdi-lock-open-outline"
                      @click:append="showPass = !showPass"
                      @input="passwordError = []"
                    />
                    <!-- <v-col cols="12" class="px-0 pt-0 text-right">
                      <div style="font-size: 16px; color: #00799f">
                        {{ $vuetify.lang.t('$vuetify.forgotPassword') }}
                      </div>
                    </v-col> -->
                    <v-btn
                      color="#1448C6"
                      width="49%"
                      style="font-weight: 100"
                      class="custom-btn-normal"
                      dark
                      depressed
                      type="submit"
                      :loading="$wait.is('logging')"
                    >
                      {{ $vuetify.lang.t('$vuetify.login') }}
                    </v-btn>
                    <v-btn
                      depressed
                      width="49%"
                      class="custom-btn-normal"
                      color="#EF9C0E"
                      @click="toggle"
                    >
                      <div class="font_size">
                        {{ $vuetify.lang.t('$vuetify.cancel') }}
                      </div>
                    </v-btn>
                  </v-col>
                  <v-col
                    class="pt-0"
                    :class="viewPortValue == 'mobile' ? 'px-5' : 'px-11'"
                  >
                    <div class="d-flex">
                      <div>
                        <v-checkbox
                          v-model="customer"
                          :label="$vuetify.lang.t('$vuetify.customer')"
                          class="color-black"
                          hide-details
                        />
                        <div
                          class="mt-2"
                          style="font-size: 16px; color: #00a706"
                        />
                      </div>

                      <v-spacer />
                    </div>
                  </v-col>
                  <v-col class="pt-0">
                    <div>
                      <v-checkbox
                        v-model="artist"
                        :label="$vuetify.lang.t('$vuetify.Artist')"
                        class="color-black"
                        hide-details
                      />
                    </div>
                  </v-col>
                  <v-col cols="12" class="px-0 pt-0">
                    <div style="font-size: 16px" class="text-center">
                      <!-- Không có tài khoản? -->
                      {{ $vuetify.lang.t('$vuetify.dontHaveAnAccount') }}
                      <span
                        @click="dialogOpenSignUp"
                        style="cursor: pointer"
                        class="primary--text"
                      >
                        <!-- Đăng ký -->
                        {{ $vuetify.lang.t('$vuetify.register') }}
                      </span>
                    </div>
                  </v-col>
                </v-row>
              </v-container>
            </form>
          </v-card-text>
        </v-img>
      </v-card>
    </v-dialog>
    <dialogSignUp
      :open="openSignUp"
      @toggle="openSignUp = !openSignUp"
    ></dialogSignUp>
  </div>
</template>
<script>
import dialogSignUp from '~/components/login/dialogSignUp.vue'
export default {
  components: {
    dialogSignUp,
  },
  props: {
    viewPortValue: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      openSignUp: false,
      customer: true,
      artist: false,
      showPass: false,
      passwordError: [],
      usernameError: [],
    }
  },
  computed: {
    username: {
      get() {
        return this.$store.state.login.username.value
      },
      set(value) {
        this.$store.dispatch('login/setUsername', value)
      },
    },
    password: {
      get() {
        return this.$store.state.login.password.value
      },
      set(value) {
        this.$store.dispatch('login/setPassword', value)
      },
    },
  },

  watch: {
    customer() {
      this.artist = !this.customer
      this.$store.commit('login/setAccount', this.customer)
    },
    artist() {
      this.customer = !this.artist
      this.$store.commit('login/setAccount', this.customer)
    },
  },
  methods: {
    dialogOpenSignUp() {
      this.openSignUp = true
      this.$store.commit('login/setLogin')
    },
    submit() {
      let Errors = false
      if (
        this.username.includes(' ') ||
        this.username.trim() === '' ||
        this.username.length <= 0
      ) {
        Errors = true
        this.usernameError = ['Tên người dùng không hợp lệ.']
      }
      if (!this.$isNullOrEmpty(this.username)) {
        // if (this.$isHasSpecial(this.username)) {
        //   Errors = true
        //   this.usernameError = ['Tên người dùng không hợp lệ1.']
        // }
        if (this.$isHasVietnamese(this.username)) {
          Errors = true
          this.usernameError = ['Tên người dùng không hợp lệ.']
        }
      }
      if (
        this.password.includes(' ') ||
        this.password.trim() === '' ||
        this.password.length <= 0
      ) {
        Errors = true
        this.passwordError = ['Mật khẩu dùng không hợp lệ.']
      }
      if (!Errors) {
        this.$wait.start('logging')
        setTimeout(() => {
          this.$store.dispatch('login/Submit')
        }, 1000)
      }
    },
    toggleComeBack() {
      this.$store.commit('login/setLogin', true)
    },
    toggle() {
      this.$emit('toggle')
      this.$store.commit('login/setLogin')
      this.showPass = false
    },
  },
}
</script>
<style lang="scss">
.customImg {
  .v-responsive__sizer {
    padding-bottom: 0px !important;
  }
  .customImgLogo {
    .v-responsive__sizer {
      padding-bottom: 40.5063% !important;
    }
  }
}
</style>
