<template>
  <div>
    <v-dialog
      :value="open"
      max-width="350px"
      persistent
      @keydown="$event.key === 'Escape' && toggle()"
    >
      <v-card style="border-radius: 10px">
        <div
          style="position: absolute; right: 0px; cursor: pointer; top: 3px"
          class="text-center"
          @click="toggle"
        >
          <v-img height="26" width="26" class="mr-2" src="/logo/x.png" />
        </div>
        <v-card-title class="pt-1 pb-1 pl-3 w-100">
          {{ lang('$vuetify.Add') }} link embed
        </v-card-title>
        <v-text-field
          v-model="linkEB"
          class="px-3"
          :error-messages="linkEBErrors"
          color="purple darken-2"
          label="Link Embed"
          dense=""
          required
          outlined=""
          @input="linkEBErrors = []"
        />
        <v-card-actions class="justify-center pt-0">
          <v-btn
            depressed
            width="200"
            style="color: white"
            color="#139B11"
            @click="checkValidate"
          >
            <div class="font_size">
              {{ lang('$vuetify.Add') }}
            </div>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  components: {},
  props: {
    open: {
      type: Boolean,
    },
  },
  data() {
    return {
      linkEB: '',
      linkEBErrors: [],
    }
  },

  watch: {
    open(value) {
      this.linkEB = ''
      this.linkEBErrors = []
    },
  },
  methods: {
    lang(value) {
      if (value) {
        return this.$vuetify.lang.t(value)
      }
    },
    checkValidate() {
      let hasErrors = false
      if (this.$isNullOrEmpty(this.linkEB)) {
        hasErrors = true
        this.linkEBErrors = this.lang('$vuetify.NotBlank')
      }
      if (!hasErrors) {
        this.$store
          .dispatch('profile/updateEmbedded', {
            socialEmbedded: this.linkEB,
          })
          .then((res) => {
            if (!res.error) {
              this.$store.dispatch('notification/set_notifications', {
                type: 'success',
                color: 'success',
                text: this.lang('$vuetify.addEmbebSuccess'),
                dark: true,
              })
              this.toggle()
              this.$emit('success')
            }
          })
      }
    },
    toggle() {
      this.$emit('toggle')
    },
  },
}
</script>
<style lang="scss"></style>
