<template>
  <div>
    <v-dialog
      :value="open"
      max-width="1300px"
      persistent
      @keydown="$event.key === 'Escape' && toggle()"
    >
      <v-card>
        <v-img src="/logo/anhNen.png" class="customImg">
          <v-card-title
            class="pt-1 pb-1 w-100"
            style="font-size: 1.12rem !important"
          >
            {{ lang('$vuetify.updateFeaturedProducts') }}
          </v-card-title>
          <v-card-text class="px-1">
            <v-container class="pa-0">
              <v-row
                style="background-color: #22318c"
                class="border-radius-10 px-5 white--text"
              >
                <v-col cols="11" class="pa-0 d-flex">
                  <div
                    style="border-right: 1px dashed #6a31ff82; min-width: 33%"
                  >
                    <div class="px-2 my-3 text-left">
                      <label class="fs-13">
                        {{ 'Tên sản phẩm' }}
                      </label>
                      <!-- v-model="status" -->
                      <!-- :items="itemsStatus" -->
                      <v-select
                        item-text="text"
                        item-value="value"
                        dark
                        hide-details
                        clearable
                        class="fs-15px input-search"
                        persistent-hint
                        dense
                      >
                        <template #prepend-inner>
                          <v-img
                            height="20"
                            width="20"
                            src="/VAB_booking/tên.png"
                          />
                          <v-divider
                            class="mt-0 ml-2"
                            color="#67BCD8"
                            inset
                            vertical
                          />
                        </template>
                      </v-select>
                    </div>
                  </div>
                  <div
                    style="border-right: 1px dashed #6a31ff82; min-width: 33%"
                  >
                    <div class="px-2 my-3 text-left">
                      <label class="fs-13">
                        {{ 'Mã sản phẩm' }}
                      </label>
                      <!-- v-model="phoneNumber" -->
                      <v-text-field
                        clearable
                        class="fs-15px input-search"
                        hide-details
                        persistent-hint
                        dark
                        dense
                      >
                        <template #prepend-inner>
                          <v-img
                            height="20"
                            width="20"
                            src="/VAB_booking/icon_ma.png"
                          />
                          <v-divider
                            class="mt-0 ml-2"
                            color="#67BCD8"
                            inset
                            vertical
                          />
                        </template>
                      </v-text-field>
                    </div>
                  </div>
                  <div
                    style="border-right: 1px dashed #6a31ff82; min-width: 33%"
                  >
                    <div class="px-2 my-3 text-left">
                      <label class="fs-13">
                        {{ 'Trạng thái' }}
                      </label>
                      <!-- v-model="status" -->
                      <!-- :items="itemsStatus" -->
                      <v-select
                        item-text="text"
                        item-value="value"
                        dark
                        hide-details
                        clearable
                        class="fs-15px input-search"
                        persistent-hint
                        dense
                      >
                        <template #prepend-inner>
                          <v-img
                            height="18"
                            width="18"
                            src="/VAB_booking/newStatus.png"
                          />
                          <v-divider
                            class="mt-0 ml-2"
                            color="#67BCD8"
                            inset
                            vertical
                          />
                        </template>
                      </v-select>
                    </div>
                  </div>
                </v-col>
                <v-col cols="1" class="px-0 d-flex align-center">
                  <v-btn
                    depressed
                    small
                    width="100%"
                    color="#7848F4"
                    class="border-radius-30"
                    style="color: white; text-transform: none"
                  >
                    <!-- @click="BookingHistoryList"
              @keyup.enter="BookingHistoryList" -->
                    <div class="font-weight-regular">
                      {{ $vuetify.lang.t('$vuetify.search') }}
                    </div>
                  </v-btn>
                </v-col>
              </v-row>
              <v-card class="border-radius-10-top my-5 mt-2" elevation="0">
                <v-data-table
                  v-model="selected"
                  :items="items"
                  item-key="id"
                  show-select
                  :headers="headerBooking"
                  :items-per-page="10"
                  hide-default-footer
                  :loading-text="$vuetify.lang.t('$vuetify.pleaseWait') + '...'"
                  :no-results-text="
                    $vuetify.lang.t('$vuetify.NoMatchingResults')
                  "
                  :no-data-text="$vuetify.lang.t('$vuetify.noData')"
                  fixed-header
                  multi-sort
                  light
                  class="custom_header_table custom-height-add-product-hot"
                >
                  <template #[`item.imageUrl`]="{ item }">
                    <div class="d-flex justify-center">
                      <v-img
                        height="100"
                        max-width="100"
                        width="100"
                        class="my-2"
                        :src="UrlImg(item.imageUrl)"
                      />
                    </div>
                  </template>
                  <template #[`item.status`]="{ item }">
                    <div v-if="item.status == 2" style="color: #0fae04">
                      {{ 'Sản phẩm nổi bật' }}
                    </div>
                    <div v-else-if="item.status == 1">
                      {{ 'Sản phẩm khác' }}
                    </div>
                  </template>
                </v-data-table>
                <!-- <v-row v-if="(items || []).length !== 0" class="py-5">
                  <v-col cols="3" class="py-0" />
                  <v-col
                    cols="6"
                    class="px-1 py-0 color-pagination depressed-pagination"
                  >
                    <v-pagination
                      v-model="page"
                      :length="totalPages"
                      circle
                      :total-visible="7"
                    />
                  </v-col>
                  <v-col
                    cols="3"
                    class="py-0"
                    style="
                      font-size: 14px;
                      align-items: center;
                      display: flex;
                      justify-content: flex-end;
                    "
                  />
                </v-row> -->
              </v-card>
            </v-container>
            <div class="d-flex justify-end py-4 px-3">
              <v-btn depressed class="custom-btn-normal mr-2" color="#1448C6">
                <div class="font_size" @click="checkValidate">
                  {{ $vuetify.lang.t('$vuetify.Update') }}
                </div>
              </v-btn>
              <v-btn
                depressed
                class="custom-btn-normal"
                color="#EF9C0E"
                @click="toggle"
              >
                <div class="font_size">
                  {{ $vuetify.lang.t('$vuetify.cancel') }}
                </div>
              </v-btn>
            </div>
          </v-card-text>
        </v-img>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import UrlAvatar from '~/assets/configurations/Base_Url'
export default {
  components: {},
  props: {
    open: {
      type: Boolean,
    },
    data: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      items: [],
      page: 1,
      selected: [],
      totalPages: 0,
    }
  },
  computed: {
    headerBooking() {
      return [
        {
          text: this.lang('$vuetify.pageBooking.addProduct.imageProduct'),
          align: 'center',
          value: 'imageUrl',
          sortable: false,
        },
        {
          text: this.lang('$vuetify.pageBooking.addProduct.productName'),
          align: 'center',
          value: 'name',
          sortable: false,
        },
        {
          text: this.lang('$vuetify.pageBooking.hotProduct.codeProduct'),
          align: 'center',
          value: 'code',
          sortable: false,
        },
        {
          text: this.lang('$vuetify.Status'),
          align: 'center',
          value: 'status',
          sortable: false,
        },
      ]
    },
  },
  watch: {
    open(value) {
      if (value) {
        this.items = this.data.products
        this.selected = []
        for (let i = 0; i < this.items.length; i++) {
          if (this.items[i].status === 2) {
            this.selected.push(this.items[i])
          }
        }
      }
    },
    // selected(value) {
    //   console.log(value)
    // },
  },
  methods: {
    checkValidate() {
      const arr = []
      for (let i = 0; i < this.selected.length; i++) {
        arr.push(this.selected[i].id)
      }
      const data = {
        artistId: this.data.artist.id,
        id: arr,
        status: 2,
      }
      this.$store.dispatch('profile/productHot', data).then((res) => {
        if (!res.error) {
          this.$store.dispatch('notification/set_notifications', {
            type: 'success',
            color: 'success',
            text: 'Cập nhật sản phẩm nổi bật thành công',
            dark: true,
          })
          this.$emit('success')
          this.toggle()
        }
      })
    },
    UrlImg(value) {
      return UrlAvatar.urlImg + value
    },
    getItemIndex(item) {
      return (this.page - 1) * 10 + this.items.indexOf(item) + 1
    },
    lang(value) {
      if (value) {
        return this.$vuetify.lang.t(value)
      }
    },

    toggle() {
      this.$emit('toggle')
    },
  },
}
</script>
<style lang="scss">
.customImg {
  .v-responsive__sizer {
    padding-bottom: 0px !important;
  }
}
.custom-height-add-product-hot {
  .v-data-table__wrapper {
    max-height: 540px;
    overflow-y: auto;
    overflow-x: auto;
  }
}
</style>
