<template>
  <div>
    <v-dialog
      :value="open"
      max-width="430px"
      persistent
      @keydown="$event.key === 'Escape' && toggle()"
    >
      <!-- @click="selectFileOpen" -->
      <v-img
        height="34.09rem"
        width="100%"
        :src="$isNullOrEmpty(img.data) ? img.url : img.data"
        class="px-0 d-flex"
        style="align-items: flex-end"
      >
        <v-btn
          color="#1976d2b3"
          fab
          small
          dark
          depressed
          class="pa-5"
          style="position: absolute; top: 3px; right: 3px"
          @click="selectFileOpen"
        >
          <v-img height="28" width="26" src="/logo/detail.png" />
        </v-btn>
        <v-text-field
          v-model="title"
          :placeholder="lang('$vuetify.pageBooking.story.title')"
          class="fs-15px background-input"
          clearable
          dense
          required
          outlined
          :error-messages="titleErrors"
          @input="titleErrors = []"
        />
        <v-icon class="icon-close" @click="content = ''">
          {{ 'mdi-close' }}
        </v-icon>
        <v-textarea
          v-model="content"
          :placeholder="lang('$vuetify.pageBooking.story.content')"
          class="fs-15px background-input"
          hide-details
          rows="7"
          dense
          :spellcheck="false"
          required
          outlined
          :error-messages="contentErrors"
          @input="linkEBErrors = []"
        />
      </v-img>
      <v-file-input
        id="input_file"
        accept="image/png, image/jpeg, image/bmp"
        :value="file"
        class="d-none"
        @change="inputFile($event)"
      />
      <v-img src="/logo/anhNen.png" class="customImg">
        <div class="d-flex justify-center py-4 px-3">
          <v-btn
            depressed
            width="49%"
            class="custom-btn-normal mr-2"
            color="#1448C6"
            @click="checkValidate"
          >
            <div class="font_size">
              {{ $vuetify.lang.t('$vuetify.Update') }}
            </div>
          </v-btn>
          <v-btn
            depressed
            width="49%"
            class="custom-btn-normal"
            color="#EF9C0E"
            @click="toggle"
          >
            <div class="font_size">
              {{ $vuetify.lang.t('$vuetify.cancel') }}
            </div>
          </v-btn>
        </div>
      </v-img>
    </v-dialog>
  </div>
</template>
<script>
import Folder from '~/assets/configurations/Folder_Config'
export default {
  components: {},
  props: {
    open: {
      type: Boolean,
    },
    artistid: {
      type: Number,
      default: null,
    },
  },
  data() {
    return {
      title: '',
      titleErrors: [],
      content: '',
      contentErrors: [],
      linkEB: '',
      linkEBErrors: [],
      avatar: '',
      file: [],
      img: {
        url: '/imgFake/bgrImg.png',
        name: null,
        data: null,
      },
    }
  },

  watch: {
    open(value) {
      this.title = ''
      this.content = ''
      this.avatar = ''
      this.img = {
        url: '/imgFake/bgrImg.png',
        name: null,
        data: null,
      }
      this.file = []
    },
  },
  methods: {
    lang(value) {
      if (value) {
        return this.$vuetify.lang.t(value)
      }
    },
    selectFileOpen() {
      return window.document.getElementById('input_file').click()
    },
    inputFile(value) {
      this.img = {
        url: '/imgFake/bgrImg.png',
        name: null,
        data: null,
      }
      this.getBase64(value).then((data) => {
        this.img = {
          url: null,
          name: value.name,
          data: data,
        }
      })
    },
    getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.readAsDataURL(file)
        reader.onload = () => resolve(reader.result)
        reader.onerror = (error) => reject(error)
      })
    },
    update() {
      this.$store
        .dispatch('profile/addStory', {
          artistId: this.artistid,
          title: this.title,
          content: this.content,
          imageUrl: null,
          file: {
            url: null,
            name: this.img.name,
            data: this.img.data,
          },
          status: 1,
        })
        .then((res) => {
          if (!res.error) {
            this.$store.dispatch('notification/set_notifications', {
              type: 'success',
              color: 'success',
              text: this.lang('$vuetify.pageBooking.story.addStorySuccess'),
              dark: true,
            })
            this.toggle()
            this.$emit('success')
          }
        })
    },
    checkValidate() {
      // let hasErrors = false
      // if (this.$isNullOrEmpty(this.linkEB)) {
      //   hasErrors = true
      //   this.linkEBErrors = ['Vui lòng nhập đây đủ thông tin']
      // }
      // if (!hasErrors) {

      this.update()

      // }
    },
    toggle() {
      this.$emit('toggle')
    },
  },
}
</script>
<style lang="scss"></style>
