<template>
  <div>
    <v-dialog
      :value="open"
      max-width="430px"
      persistent
      @keydown="$event.key === 'Escape' && toggle()"
    >
      <!-- <template v-for=""> -->
      <v-img src="/logo/anhNen.png" class="customImg">
        <v-carousel
          v-model="carousel"
          hide-delimiter-background
          hide-delimiters
          :show-arrows="false"
          height="34.09rem"
        >
          <v-carousel-item v-for="(item, i) in List" :key="i">
            <v-img
              width="100%"
              :src="UrlAvatar(item)"
              class="px-0 d-flex pb-2"
              style="align-items: flex-end"
            >
              <div style="position: absolute; top: 3px; right: 3px">
                <v-btn
                  color="#1976d2b3"
                  fab
                  small
                  dark
                  depressed
                  class="pa-5"
                  @click="selectFileOpen"
                >
                  <v-img height="28" width="26" src="/logo/detail.png" />
                </v-btn>
                <v-btn
                  class="pa-5"
                  color="#1976d2b3"
                  fab
                  small
                  dark
                  depressed
                  @click="OpendeleteStory(item.id)"
                >
                  <v-img height="28" width="26" src="/logo/deleteIcon.png" />
                </v-btn>
              </div>
              <div>
                <v-text-field
                  v-model="item.title"
                  class="my-2 fs-32px background-input"
                  :error-messages="titleErrors"
                  color="#1867c0"
                  placeholder="Tiêu đề"
                  hide-details
                  dense=""
                  required
                  outlined=""
                  @input="linkEBErrors = []"
                />
                <v-icon class="icon-close" @click="content = ''">
                  {{ 'mdi-close' }}
                </v-icon>
                <v-textarea
                  v-model="item.content"
                  class="fs-16px background-input"
                  color="#1867c0"
                  :error-messages="contentErrors"
                  hide-details
                  :spellcheck="false"
                  placeholder="Nội dung"
                  rows="5"
                  dense=""
                  required
                  outlined=""
                  @input="linkEBErrors = []"
                />
              </div>
            </v-img>
          </v-carousel-item>
        </v-carousel>
        <!-- </template> -->

        <div class="color-pagination">
          <v-pagination v-model="page" :length="List.length" circle />
        </div>
        <div class="d-flex justify-center py-4 px-3">
          <v-btn
            depressed
            width="49%"
            class="custom-btn-normal mr-2"
            color="#1448C6"
            @click="checkValidate"
          >
            <div class="font_size">
              {{ $vuetify.lang.t('$vuetify.Update') }}
            </div>
          </v-btn>
          <v-btn
            depressed
            width="49%"
            class="custom-btn-normal"
            color="#EF9C0E"
            @click="toggle"
          >
            <div class="font_size">
              {{ $vuetify.lang.t('$vuetify.cancel') }}
            </div>
          </v-btn>
        </div>
      </v-img>
      <v-file-input
        id="input_file_story"
        accept="image/png, image/jpeg, image/bmp"
        :value="file"
        class="d-none"
        @change="inputFile($event)"
      />
      <yes-no-alert
        :alertmsg="$vuetify.lang.t('$vuetify.sureDelete')"
        :open="openDialogYesNo"
        @toggle="openDialogYesNo = !openDialogYesNo"
        @OK="deleteStory"
      />
    </v-dialog>
  </div>
</template>
<script>
import URLImg from '~/assets/configurations/Base_Url'
import Folder from '~/assets/configurations/Folder_Config'
import YesNoAlert from '~/components/YesNoAlert'
export default {
  components: {
    YesNoAlert,
  },
  props: {
    open: {
      type: Boolean,
    },
    data: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      openDialogYesNo: false,
      List: [],
      carousel: '',
      page: 1,
      title: '',
      titleErrors: [],
      content: '',
      contentErrors: [],
      avatar: '',
      file: [],
      idDelete: '',
    }
  },

  watch: {
    page(value) {
      this.carousel = value - 1
    },
    open(value) {
      this.List = this.data.stories
      this.file = []
    },
    'data.stories'(value) {
      this.List = this.data.stories
    },
  },
  methods: {
    UrlAvatar(value) {
      if (value.imageUrl) {
        return !this.$isNullOrEmpty(value.checked)
          ? this.img.data
          : URLImg.urlImg + value.imageUrl
      } else {
        return '/imgFake/bgrImg.png'
      }
    },
    selectFileOpen() {
      return window.document.getElementById('input_file_story').click()
    },
    OpendeleteStory(id) {
      this.openDialogYesNo = true
      this.idDelete = id
    },
    deleteStory() {
      this.$store
        .dispatch('profile/deleteStory', {
          id: this.idDelete,
        })
        .then((res) => {
          if (!res.error) {
            this.$store.dispatch('notification/set_notifications', {
              type: 'success',
              color: 'success',
              text: this.$vuetify.lang.t(
                '$vuetify.pageBooking.story.deleteStory'
              ),
              dark: true,
            })
            this.$emit('success')
          }
        })
    },
    getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.readAsDataURL(file)
        reader.onload = () => resolve(reader.result)
        reader.onerror = (error) => reject(error)
      })
    },
    inputFile(value) {
      this.getBase64(value).then((data) => {
        this.img = {
          url: null,
          name: value.name,
          data: data,
        }
        this.List[this.carousel].imageUrl = this.$isNullOrEmpty(this.img.url)
          ? (this.img = {
              url: null,
              name: value.name,
              data: data,
            })
          : this.img

        this.List[this.carousel].checked = 1
      })
    },
    update() {
      this.$store
        .dispatch('profile/updateStory', {
          title: this.List[this.carousel].title,
          content: this.List[this.carousel].content,
          imageUrl: null,
          file: !this.$isNullOrEmpty(
            this.data.stories[this.carousel].imageUrl.data
          )
            ? {
                name: this.data.stories[this.carousel].imageUrl.name,
                url: null,
                data: this.data.stories[this.carousel].imageUrl.data,
              }
            : {
                name: null,
                data: null,
                url: this.data.stories[this.carousel].imageUrl,
              },

          status: 1,
          id: this.List[this.carousel].id,
        })
        .then((res) => {
          if (!res.error) {
            this.$store.dispatch('notification/set_notifications', {
              type: 'success',
              color: 'success',
              text: 'Cập nhật Story thành công',
              dark: true,
            })
            this.toggle()
            this.$emit('success')
          }
        })
    },
    checkValidate() {
      //   let hasErrors = false
      //   if (this.$isNullOrEmpty(this.linkEB)) {
      //     hasErrors = true
      //     this.linkEBErrors = ['Vui lòng nhập đây đủ thông tin']
      //   }
      //   if (hasErrors) {

      this.update()

      //   }
    },
    toggle() {
      this.$emit('toggle')
    },
  },
}
</script>
<style lang="scss">
.customImg {
  .v-responsive__sizer {
    padding-bottom: 0px !important;
  }
}
.color-pagination {
  .v-pagination__item {
    background-color: #ffffffa1 !important;
    color: #2f55ed !important;
    font-weight: 500;
  }
  .v-pagination__item--active {
    background-color: #1448c6 !important;
    color: white !important;
    font-weight: 500;
  }
  .v-pagination__navigation {
    background-color: #ffffffa1 !important;
    font-weight: 500;
    .v-icon {
      color: #2f55ed !important;
    }
  }
}
</style>
