<template>
  <div>
    <v-dialog
      :value="open"
      max-width="500px"
      persistent
      @keydown="$event.key === 'Escape' && toggle()"
    >
      <v-card style="border-radius: 6px">
        <v-img src="/logo/anhNen.png" class="customImg">
          <v-card-title
            class="pt-1 pb-7 pl-3 w-100"
            style="font-size: 1.12rem !important"
          >
            {{ $vuetify.lang.t('$vuetify.Update') }} playlist
          </v-card-title>
          <v-textarea
            v-model="linkEB"
            class="px-3 fs-15px"
            label="Link Embed"
            dense
            hide-details
            required
            clearable
            outlined
            :error-messages="linkEBErrors"
            @input="linkEBErrors = []"
          />
          <v-card-actions class="justify-end px-3 py-5">
            <v-btn
              depressed
              width="110"
              class="custom-btn-normal"
              color="#1448C6"
              @click="checkValidate"
            >
              <div class="font_size">
                {{ $vuetify.lang.t('$vuetify.Update') }}
              </div>
            </v-btn>
            <v-btn
              depressed
              width="110"
              class="custom-btn-normal"
              color="#EF9C0E"
              @click="toggle"
            >
              <div class="font_size">
                {{ $vuetify.lang.t('$vuetify.cancel') }}
              </div>
            </v-btn>
          </v-card-actions>
        </v-img>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  components: {},
  props: {
    open: {
      type: Boolean,
    },
    embedded: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      linkEB: '',
      linkEBErrors: [],
    }
  },

  watch: {
    open(value) {
      this.linkEB = this.embedded
      this.linkEBErrors = []
    },
  },
  methods: {
    // demo() {
    //   this.$store.dispatch('notification/set_notifications', {
    //     icon: 'success',
    //     timeout: 5000,
    //     color: 'white',
    //     text: 'Reset mật khẩu thành công',
    //   })
    // },
    checkValidate() {
      let hasErrors = false
      if (this.$isNullOrEmpty(this.linkEB)) {
        hasErrors = true
        this.linkEBErrors = ['Vui lòng nhập đây đủ thông tin']
      }
      if (!hasErrors) {
        this.$store
          .dispatch('profile/updateEmbedded', {
            socialEmbedded: this.linkEB,
          })
          .then((res) => {
            this.$store.dispatch('notification/set_notifications', {
              type: 'success',
              color: 'success',
              text: 'Cập nhật playlist thành công',
              dark: true,
            })
            this.toggle()
            this.$emit('success')
          })
      }
    },
    toggle() {
      this.$emit('toggle')
    },
  },
}
</script>
<style lang="scss"></style>
