<template>
  <div>
    <v-dialog
      :value="open"
      max-width="750px"
      persistent
      @keydown="$event.key === 'Escape' && toggle()"
    >
      <v-card style="border-radius: 15px">
        <v-img src="/logo/anhNen.png" class="customImg">
          <v-card-text>
            <div
              style="position: absolute; right: 0px; cursor: pointer; top: 7px"
              class="text-center"
              @click="toggle"
            >
              <v-img height="26" width="26" class="mr-2" src="/logo/x.png" />
            </div>
            <div>
              <v-row v-if="!$isNullOrEmpty(data)">
                <v-col cols="12" md="12" class="pt-0 mb-7">
                  <!-- <v-card-title
                    style="
                      color: #1648be !important ;
                      border-bottom: 1px dashed;
                      border-color: #1648be6b;
                      font-size: 25px;
                    "
                    class="d-flex justify-center align-center black--text pt-0 pb-2 font-weight-regular"
                  >
                    <div>
                      {{ lang('$vuetify.pageBooking.bookingSuccessful.title') }}
                    </div>

                    <div class="fs-14" style="color: #616161 !important">
                      ({{
                        lang('$vuetify.pageBooking.bookingSuccessful.note')
                      }})
                    </div>
                  </v-card-title> -->
                  <v-card-text class="pa-0">
                    <v-row>
                      <v-col
                        cols="12"
                        class="px-0 pb-2 border-text"
                        style="text-align: -webkit-center"
                      >
                        <v-img
                          height="60px"
                          width="60px"
                          class="mr-4"
                          src="/icon/icon_v.png"
                        />
                        <div class="fw-600 fs-18 pt-2 pb-1">
                          Bạn đã booking thành công
                        </div>
                        <div class="primary--text fs-15 font-italic">
                          Chúng tôi sẽ kiểm tra thông tin và lịch của nghệ sĩ và
                          thông báo đến bạn qua email bạn đã đăng ký. Xin cảm ơn
                          !
                        </div>
                        <div class="text-left">
                          <span class="fw-600"> Mã booking: </span>
                          <span class="font-weight-bold fs-15 black--text">
                            {{ randomCode }}</span
                          >
                          <span>
                            <v-btn
                              depressed
                              class="primary text-none ml-2"
                              small
                              dense
                              @click="copy_text(`copy-text`)"
                              >Copy
                              <div :id="`copy-text`" class="d-none">
                                {{ randomCode }}
                              </div>
                            </v-btn>
                          </span>
                        </div>
                      </v-col>

                      <v-col cols="12" class="px-0 border-text">
                        <div class="d-flex align-center">
                          <v-img
                            height="22"
                            max-width="22"
                            class="mr-4"
                            src="/icon/address.png"
                          />
                          <div class="black--text fs-16">
                            {{ address }}
                          </div>
                        </div>
                      </v-col>
                      <v-col cols="12" class="px-0 border-text">
                        <div class="d-flex align-center">
                          <v-img
                            height="22"
                            max-width="22"
                            class="mr-4"
                            src="/VAB_booking/event.png"
                          />
                          <div style="color: #088d08" class="fs-16">
                            {{ content }}
                          </div>
                        </div>
                      </v-col>
                      <v-col cols="12" class="px-0 border-text">
                        <v-row>
                          <v-col cols="4" class="color-text fs-16 pb-0 px-0">
                            {{
                              lang('$vuetify.pageBooking.history.artistName')
                            }}:
                          </v-col>
                          <v-col cols="8" class="pb-0 black--text">
                            {{ data.artistName }}
                          </v-col>
                          <v-col cols="4" class="color-text fs-16 pb-0 px-0">
                            {{
                              lang('$vuetify.pageBooking.dialogBook.startTime')
                            }}:
                          </v-col>
                          <v-col
                            v-if="data.createTime"
                            cols="8"
                            class="pb-0 black--text"
                          >
                            {{ data.createTime.slice(0, 10) }}
                          </v-col>
                          <v-col cols="4" class="color-text fs-16 pb-0 px-0">
                            {{
                              lang('$vuetify.pageBooking.dialogBook.endTime')
                            }}:
                          </v-col>
                          <v-col
                            v-if="data.fromTime"
                            cols="8"
                            class="pb-0 black--text"
                          >
                            {{ data.fromTime.slice(0, 10) }}
                          </v-col>
                          <v-col cols="4" class="color-text fs-16 pb-0 px-0">
                            {{
                              lang(
                                '$vuetify.pageBooking.dialogBook.expectedCost'
                              )
                            }}:
                          </v-col>
                          <v-col cols="8" class="pb-0 black--text">
                            {{ $formatMoneyv2({ amount: expectFee }) }} VNĐ
                          </v-col>

                          <v-col cols="4" class="color-text fs-16 pb-0 px-0">
                            Trạng thái:
                          </v-col>
                          <v-col cols="8" class="pb-0 black--text">
                            <v-chip>Đang chờ duyệt</v-chip>
                          </v-col>
                        </v-row>
                        <!-- <v-row>
                          <v-col cols="6" class="px-0 pb-0"
                            ><div class="black--text fw-600">
                              Chính sách và điều khoản
                            </div></v-col
                          >
                          <v-col cols="6" class="px-0 pb-0"
                            ><div class="fs-14">Xem thêm >></div></v-col
                          >
                        </v-row> -->
                      </v-col>

                      <v-col cols="12" class="pa-0">
                        <div class="pb-2">Thông tin liên hệ</div>
                      </v-col>

                      <v-col
                        v-if="nameCustomer"
                        cols="6"
                        class="pl-0 fs-16 pb-0"
                      >
                        <label class="black--text">
                          Tên liên hệ (quản lý)
                        </label>

                        <v-text-field
                          v-model="nameCustomer"
                          class="color-icon-time fs-15px pb-error-0 hoverText"
                          readonly
                          persistent-hint
                          hide-details
                          outlined
                          dense
                          :error-messages="nameCustomerErrors"
                          @input="nameCustomerErrors = []"
                        >
                          <template #prepend-inner>
                            <v-img
                              height="23"
                              width="23"
                              src="/VAB_booking/user.png"
                            />
                            <v-divider
                              class="mt-0 ml-2"
                              color="#11B71F"
                              inset
                              vertical
                            />
                          </template>
                        </v-text-field>
                      </v-col>

                      <v-col
                        v-if="phoneNumber"
                        cols="6"
                        class="pl-0 fs-16 pb-0"
                      >
                        <label class="black--text">
                          {{
                            lang('$vuetify.pageBooking.dialogBook.phoneNumber')
                          }}
                        </label>
                        <a
                          style="text-decoration: none"
                          :href="`tel:${phoneNumber}`"
                        >
                          <v-text-field
                            v-model="phoneNumber"
                            class="color-icon-time fs-15px pb-error-0 hoverText"
                            persistent-hint
                            hide-details
                            readonly
                            outlined
                            dense
                          >
                            <template #prepend-inner>
                              <v-img
                                height="23"
                                width="23"
                                src="/VAB_booking/phone.png"
                              />
                              <v-divider
                                class="mt-0 ml-2"
                                color="#11B71F"
                                inset
                                vertical
                              />
                            </template>
                          </v-text-field>
                        </a>
                      </v-col>
                      <v-col v-if="gmail" cols="6" class="pl-0 fs-16 pb-0">
                        <label class="black--text">Email</label>
                        <a
                          :href="`mailto:${gmail}`"
                          class="py-1 fs-14"
                          style="text-decoration: none"
                        >
                          <v-text-field
                            v-model="gmail"
                            class="color-icon-time fs-15px pb-error-0 hoverText"
                            persistent-hint
                            hide-details
                            readonly
                            outlined
                            dense=""
                            :error-messages="gmailErrors"
                            @input="gmailErrors = []"
                          >
                            <template #prepend-inner>
                              <v-img
                                height="23"
                                width="23"
                                src="/VAB_booking/gmail.png"
                              />
                              <v-divider
                                class="mt-0 ml-2"
                                color="#11B71F"
                                inset
                                vertical
                              />
                            </template>
                          </v-text-field>
                        </a>
                      </v-col>
                      <v-col v-if="facebook" cols="6" class="pl-0 fs-16 pb-0">
                        <label class="black--text">Link Facebook</label>
                        <a
                          style="text-decoration: none"
                          :href="facebook"
                          target="_blank"
                        >
                          <v-text-field
                            v-model="facebook"
                            class="color-icon-time fs-15px pb-error-0 hoverText"
                            persistent-hint
                            hide-details
                            readonly
                            outlined
                            dense=""
                          >
                            <template #prepend-inner>
                              <v-img
                                height="23"
                                width="23"
                                src="/VAB_booking/facebook.png"
                              />
                              <v-divider
                                class="mt-0 ml-2"
                                color="#11B71F"
                                inset
                                vertical
                              />
                            </template>
                          </v-text-field>
                        </a>
                      </v-col>
                      <v-col cols="12" class="text-center pb-0 mt-5">
                        <v-btn
                          depressed
                          height="40"
                          width="30%"
                          class="custom-btn-normal mr-2"
                          color="#1448C6"
                          @click="comfirmBooking"
                        >
                          <div class="font_size">Quản lý booking</div>
                        </v-btn>
                        <v-btn
                          depressed
                          height="40"
                          width="30%"
                          class="custom-btn-normal"
                          color="#EF9C0E"
                          @click="toggle"
                        >
                          <div class="font_size">Thoát</div>
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-col>
              </v-row>
            </div>
          </v-card-text>
        </v-img>
      </v-card>
      <div style="position: absolute; right: 8px; bottom: 40px">
        <v-fab-transition>
          <!-- eslint-disable-next-line vue/max-attributes-per-line -->
          <v-btn color="#47bbff" top right fab dark absolute>
            <v-icon size="35">
              {{ 'mdi-facebook-messenger' }}
            </v-icon>
          </v-btn>
        </v-fab-transition>
      </div>
    </v-dialog>
  </div>
</template>

<script>
import YesNoAlert from '~/components/YesNoAlert'
export default {
  components: {
    YesNoAlert,
  },
  props: {
    open: {
      type: Boolean,
    },
    id: {
      type: Number,
      default: null,
    },
    data: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      openDialogYesNo: false,
      address: '',
      randomCode: null,
      content: '',
      nameCustomer: '',
      nameCustomerErrors: [],
      gmail: '',
      gmailErrors: [],
      phoneNumber: '',
      phoneNumberErrors: [],
      facebook: '',
      messages: '',
      expectFee: '',
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.detailArtistsBooking()
      }
    },
  },
  methods: {
    copy_text(elementId) {
      const aux = document.createElement('input')

      // Assign it the value of the specified element
      const str = document.getElementById(elementId).innerHTML
      aux.setAttribute('value', (str || '').trim())

      // Append it to the body
      document.body.appendChild(aux)

      // Highlight its content
      aux.select()

      // Copy the highlighted text
      document.execCommand('copy')

      // Remove it from the body
      document.body.removeChild(aux)

      this.$store.dispatch('notification/set_notifications', {
        type: 'success',
        color: 'success',
        // text: this.lang('$vuetify.registrationAccountSuccessful'),
        text: 'Copy mã boking thành công',
        dark: true,
      })
    },
    lang(value) {
      if (value) {
        return this.$vuetify.lang.t(value)
      }
    },
    comfirmBooking() {
      window.location.replace('/lich-su-booking-khach-hang')
      this.$emit('toggle')
      // this.$store
      //   .dispatch('profile/comfirmBooking', {
      //     id: this.data.id,
      //     status: 0,
      //   })
      //   .then((res) => {
      //     if (!res.error) {
      //       this.$store.dispatch('notification/set_notifications', {
      //         type: 'success',
      //         color: 'success',
      //         text: 'Xác nhận booking thành công',
      //         dark: true,
      //       })
      //       this.toggle()
      //     }
      //   })
    },
    detailArtistsBooking() {
      this.nameCustomer = this.data.mnName
      this.phoneNumber = this.data.phone
      this.gmail = this.data.mnEmail
      this.content = this.data.content
      this.address = this.data.address
      this.facebook = this.data.facebook
      this.messages = this.data.mnFbmess
      this.expectFee = this.data.expectFee
      this.randomCode = this.data.randomCode
      console.log(this.data, '123123')
    },
    toggle() {
      this.$emit('toggle')
    },
    cancel() {
      this.$store
        .dispatch('profile/deleteBooking', {
          id: this.data.id,
        })
        .then((res) => {
          if (!res.error) {
            this.$store.dispatch('notification/set_notifications', {
              type: 'success',
              color: 'success',
              text: 'Hủy booking thành công',
              dark: true,
            })
            this.toggle()
          }
        })
    },
  },
}
</script>
<style lang="scss">
.color-text {
  color: #1f51c5;
}
.border-text {
  border-bottom: 1px solid;
  border-color: #70707063 !important;
}
.hoverText {
  input {
    cursor: pointer !important;
  }
}
</style>
