<template>
  <div>
    <v-dialog
      :value="open"
      max-width="800px"
      persistent
      @keydown="$event.key === 'Escape' && toggle()"
    >
      <v-card style="border-radius: 10px">
        <v-img src="/logo/anhNen.png" class="customImg">
          <v-card-text
            style="max-height: calc(100vh - 15rem); overflow-x: hidden"
          >
            <v-row>
              <v-col cols="12" class="mt-3" align="center">
                <v-img
                  v-if="avatar"
                  height="80"
                  width="80"
                  style="border-radius: 8px"
                  :src="UrlImg()"
                />
                <div class="font-weight-bold title fs-24">{{ title }}</div>
                <div class="grey--text fs-16">
                  <span class="black--text fw-600 mt-2">
                    <!-- {{ lang('$vuetify.pageBooking.costBooking') }}: -->
                    Chi phí booking (dự kiến):
                  </span>
                  <span class="primary--text font-weight-bold">
                    {{ $formatMoney({ amount: amountMoney }) }} VND
                  </span>
                </div>
              </v-col>
              <v-col cols="12" md="6" class="pb-0">
                <label class="color-lable">
                  {{ lang('$vuetify.pageBooking.dialogBook.customerName') }} (*)
                </label>
                <v-text-field
                  v-model="nameCustomer"
                  class="color-icon-time fs-15px pb-error-0"
                  persistent-hint
                  outlined
                  dense
                  :error-messages="nameCustomerErrors"
                  @input="nameCustomerErrors = []"
                >
                  <template #prepend-inner>
                    <v-img height="23" width="23" src="/VAB_booking/user.png" />
                    <v-divider
                      class="mt-0 ml-2"
                      color="#11B71F"
                      inset
                      vertical
                    />
                  </template>
                </v-text-field>
              </v-col>
              <v-col cols="12" md="6" class="pb-0">
                <label class="color-lable">
                  {{ lang('$vuetify.pageBooking.dialogBook.phoneNumber') }} (*)
                </label>
                <v-text-field
                  v-model="phoneNumber"
                  class="color-icon-time fs-15px pb-error-0"
                  persistent-hint
                  outlined
                  dense=""
                  :error-messages="phoneNumberErrors"
                  @input="phoneNumberErrors = []"
                >
                  <template #prepend-inner>
                    <v-img
                      height="23"
                      width="23"
                      src="/VAB_booking/phone.png"
                    />
                    <v-divider
                      class="mt-0 ml-2"
                      color="#11B71F"
                      inset
                      vertical
                    />
                  </template>
                </v-text-field>
              </v-col>
              <v-col cols="12" md="6" class="pb-0">
                <label class="color-lable">
                  {{ lang('$vuetify.pageBooking.dialogBook.startTime') }} (*)
                </label>
                <v-menu
                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  max-width="290px"
                >
                  <template #activator="{ on, attrs }">
                    <v-text-field
                      v-model="dateFormatted"
                      class="color-icon-time fs-15px pb-error-0"
                      readonly
                      persistent-hint
                      outlined
                      dense=""
                      :error-messages="dateFormattedErrors"
                      v-bind="attrs"
                      v-on="on"
                      @input="dateFormattedErrors = []"
                    >
                      <template #prepend-inner>
                        <v-img
                          height="23"
                          width="23"
                          src="/VAB_booking/calendar.png"
                        />
                        <v-divider
                          class="mt-0 ml-2"
                          color="#11B71F"
                          inset
                          vertical
                        />
                      </template>
                    </v-text-field>
                  </template>
                  <v-date-picker
                    v-model="date"
                    :max="startDate(dateFormatted1)"
                    :min="endDate()"
                    @input="menu = false"
                  />
                </v-menu>
              </v-col>
              <v-col cols="12" md="6" class="pb-0">
                <label class="color-lable">
                  {{ lang('$vuetify.pageBooking.dialogBook.endTime') }} (*)
                </label>
                <v-menu
                  ref="menu"
                  v-model="menu1"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  max-width="290px"
                  min-width="auto"
                >
                  <template #activator="{ on, attrs }">
                    <v-text-field
                      v-model="dateFormatted1"
                      class="color-icon-time fs-15px pb-error-0"
                      persistent-hint
                      outlined
                      dense=""
                      :error-messages="dateFormatted1Errors"
                      v-bind="attrs"
                      v-on="on"
                      @input="dateFormatted1Errors = []"
                    >
                      <template #prepend-inner>
                        <v-img
                          height="23"
                          width="23"
                          src="/VAB_booking/calendar.png"
                        />
                        <v-divider
                          class="mt-0 ml-2"
                          color="#11B71F"
                          inset
                          vertical
                        />
                      </template>
                    </v-text-field>
                  </template>
                  <v-date-picker
                    v-model="date1"
                    :min="startDate(dateFormatted, 1)"
                    @input="menu1 = false"
                  />
                </v-menu>
              </v-col>
              <v-col cols="12" md="6" class="pb-0">
                <label class="color-lable">
                  {{ lang('$vuetify.pageBooking.dialogBook.contactEmail') }} (*)
                </label>
                <v-text-field
                  v-model="gmail"
                  class="color-icon-time fs-15px pb-error-0"
                  persistent-hint
                  outlined
                  dense=""
                  :error-messages="gmailErrors"
                  @input="gmailErrors = []"
                >
                  <template #prepend-inner>
                    <v-img
                      height="23"
                      width="23"
                      src="/VAB_booking/gmail.png"
                    />
                    <v-divider
                      class="mt-0 ml-2"
                      color="#11B71F"
                      inset
                      vertical
                    />
                  </template>
                </v-text-field>
              </v-col>

              <v-col cols="12" md="6" class="pb-0">
                <label class="color-lable">
                  {{ lang('$vuetify.pageBooking.dialogBook.expectedCost') }}
                  (VNĐ)
                </label>
                <v-text-field
                  v-model="money"
                  class="color-icon-time fs-15px pb-error-0"
                  persistent-hint
                  outlined
                  dense=""
                  :error-messages="moneyErrors"
                  @input="formatMoney"
                  @keyup="checkValuePrice"
                >
                  <template #prepend-inner>
                    <v-img
                      height="23"
                      width="23"
                      src="/VAB_booking/chi_phi.png"
                    />
                    <v-divider
                      class="mt-0 ml-2"
                      color="#11B71F"
                      inset
                      vertical
                    />
                  </template>
                </v-text-field>
              </v-col>
              <v-col cols="12" md="6" class="pb-0">
                <label class="color-lable">
                  {{ lang('$vuetify.pageBooking.dialogBook.content') }} (*)
                </label>
                <v-textarea
                  v-model="content"
                  :error-messages="contentErrors"
                  class="fs-15px pb-error-0"
                  rows="3"
                  dense=""
                  required
                  outlined=""
                  @input="contentErrors = []"
                />
              </v-col>
              <v-col cols="12" md="6">
                <label class="color-lable">
                  {{ lang('$vuetify.pageBooking.dialogBook.Place') }} (*)
                </label>
                <v-textarea
                  v-model="address"
                  :error-messages="addressErrors"
                  class="fs-15px pb-error-0"
                  rows="3"
                  dense
                  required
                  outlined
                  @input="addressErrors = []"
                />

                <!-- @click="openMap = true" -->
              </v-col>
              <v-col cols="12" class="py-0">
                <label class="color-lable">
                  {{ lang('$vuetify.pageBooking.dialogBook.Note') }}
                </label>
                <v-textarea
                  v-model="note"
                  :error-messages="noteErrors"
                  hide-details
                  rows="3"
                  dense=""
                  required
                  outlined=""
                  @input="noteErrors = []"
                />
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions>
            <v-col cols="12" class="text-center my-3">
              <v-btn
                depressed
                width="30%"
                class="custom-btn-normal mr-2"
                color="#1448C6"
                @click="bookingproduct"
              >
                <div class="font_size">
                  {{ 'Book' }}
                </div>
              </v-btn>
              <v-btn
                depressed
                width="30%"
                class="custom-btn-normal"
                color="#EF9C0E"
                @click="toggle"
              >
                <div class="font_size">
                  {{ lang('$vuetify.cancel') }}
                </div>
              </v-btn>
            </v-col>
          </v-card-actions>
        </v-img>
      </v-card>
    </v-dialog>
    <google-map
      v-if="openMap"
      :address="address"
      :open="openMap"
      @toggle="openMap = !openMap"
      @save="setLngLat"
    />
    <detail
      :id="id"
      :open="openDetail"
      :data="dataDetail"
      @toggle="openDetail = !openDetail"
    />
  </div>
</template>
<script>
import moment from 'moment'
import Cookies from 'js-cookie'
import URL from '~/assets/configurations/Base_Url'
import GoogleMap from '~/components/booking/googleMap/GoogleMap'
import detail from '~/components/booking/detail'
export default {
  components: {
    GoogleMap,
    detail,
  },

  props: {
    open: {
      type: Boolean,
    },
    data: {
      type: Array,
      default: null,
    },
    avatar: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    id: {
      type: Number,
      default: null,
    },
    amountMoney: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      phoneNumber: '',
      phoneNumberErrors: [],
      gmail: '',
      gmailErrors: [],
      money: '',
      moneyErrors: [],
      nameCustomer: '',
      nameCustomerErrors: [],
      menu: false,
      date: '',
      dateFormatted: '',
      dateFormattedErrors: [],
      menu1: false,
      date1: '',
      dateFormatted1: '',
      dateFormatted1Errors: [],
      content: '',
      openDetail: false,
      contentErrors: [],
      address: '',
      addressErrors: [],
      openMap: false,
      dataDetail: {},
      note: '',
      noteErrors: [],
      dataInfo: '',
    }
  },
  computed: {
    computedDateFormatted() {
      return this.formatDate(this.date)
    },
  },
  watch: {
    open(value) {
      console.log(this.data)
      if ((this.data || []).length === 0) {
        // eslint-disable-next-line no-console
        console.log('ko có date')
      } else if ((this.data || []).length === 1) {
        this.dateFormatted = moment(this.data[0], 'YYYY/MM/DD').format(
          'DD/MM/YYYY'
        )
      } else if ((this.data || []).length === 2) {
        const [year, month, day] = this.data[0].split('-')
        const [year1, month1, day1] = this.data[1].split('-')
        if (year > year1) {
          this.detailDate()
        } else if (year === year1) {
          if (month > month1) {
            this.detailDate()
          } else if (month === month1) {
            if (day > day1) {
              this.detailDate()
            } else {
              this.detailDate1()
            }
          }
        }
      }
      this.address = ''
      this.content = ''
      this.dataInfo = JSON.parse(Cookies.get('dataInfo'))
      if (this.dataInfo) {
        this.detail()
      }
      if (!value) {
        this.reset()
      }
    },

    date(val) {
      this.dateFormatted = this.formatDate(this.date)
    },
    date1(val) {
      this.dateFormatted1 = this.formatDate(this.date1)
    },
  },
  methods: {
    checkValuePrice() {
      this.money = this.$formatMoneyv2({
        amount: this.money,
      })
    },
    detailDate() {
      this.dateFormatted = moment(this.data[1], 'YYYY/MM/DD').format(
        'DD/MM/YYYY'
      )
      this.dateFormatted1 = moment(this.data[0], 'YYYY/MM/DD').format(
        'DD/MM/YYYY'
      )
    },
    detailDate1() {
      this.dateFormatted = moment(this.data[0], 'YYYY/MM/DD').format(
        'DD/MM/YYYY'
      )
      this.dateFormatted1 = moment(this.data[1], 'YYYY/MM/DD').format(
        'DD/MM/YYYY'
      )
    },
    formatMoney() {
      this.moneyErrors = []
      // console.log(this.$formatMoney({ amount: this.money }), 'dsds')
      // this.money = this.$formatMoney({ amount: this.money })
    },
    lang(value) {
      if (value) {
        return this.$vuetify.lang.t(value)
      }
    },
    comfirmBooking() {
      this.$store
        .dispatch('profile/comfirmBooking', {
          id: this.dataDetail.id,
          status: 0,
        })
        .then((res) => {
          if (!res.error) {
            this.openDetail = true
            this.$store.dispatch('notification/set_notifications', {
              type: 'success',
              color: 'success',
              text: this.lang(
                '$vuetify.pageBooking.dialogBook.bookingSuccessful'
              ),
              dark: true,
            })
            this.toggle()
          }
        })
    },
    reset() {
      this.phoneNumber = ''
      this.gmail = ''
      this.money = ''
      this.nameCustomer = ''
      this.dateFormatted = ''
      this.dateFormatted1 = ''
      this.address = ''
      this.note = ''
      this.contentErrors = ''
      this.date1 = ''
      this.date = ''

      this.phoneNumberErrors = []
      this.gmailErrors = []
      this.moneyErrors = []
      this.nameCustomerErrors = []
      this.dateFormattedErrors = []
      this.dateFormatted1Errors = []
      this.addressErrors = []
      this.noteErrors = []
      this.contentErrors = []
    },
    startDate(value, number) {
      if (value) {
        return moment(value, 'DD/MM/YYYY').format('YYYY-MM-DD')
      } else if (number === 1) {
        return moment().format('YYYY-MM-DD')
      }
    },
    endDate() {
      return moment().format('YYYY-MM-DD')
    },
    detail() {
      this.nameCustomer = this.dataInfo.account.fullName
      this.phoneNumber = this.dataInfo.account.phone
      this.gmail = this.dataInfo.account.email
    },
    UrlImg() {
      return URL.urlImg + this.avatar
    },
    bookingproduct() {
      let hasErrors = false
      if (this.$isNullOrEmpty(this.phoneNumber)) {
        hasErrors = true
        this.phoneNumberErrors = this.lang('$vuetify.NotBlank')
      } else if (!this.$isMobilePhone(this.phoneNumber)) {
        hasErrors = true
        this.phoneNumberErrors = this.lang('$vuetify.pleaseFormat')
      }
      if (this.$isNullOrEmpty(this.nameCustomer)) {
        hasErrors = true
        this.nameCustomerErrors = this.lang('$vuetify.NotBlank')
      }
      if (this.$isNullOrEmpty(this.gmail)) {
        hasErrors = true
        this.gmailErrors = this.lang('$vuetify.NotBlank')
      }
      // if (this.$isNullOrEmpty(this.money)) {
      //   hasErrors = true
      //   this.moneyErrors = this.lang('$vuetify.NotBlank')
      // }
      if (this.$isNullOrEmpty(this.dateFormatted)) {
        hasErrors = true
        this.dateFormattedErrors = this.lang('$vuetify.NotBlank')
      }
      if (this.$isNullOrEmpty(this.dateFormatted1)) {
        hasErrors = true
        this.dateFormatted1Errors = this.lang('$vuetify.NotBlank')
      }
      if (this.$isNullOrEmpty(this.content)) {
        hasErrors = true
        this.contentErrors = this.lang('$vuetify.NotBlank')
      }
      if (this.$isNullOrEmpty(this.address)) {
        hasErrors = true
        this.addressErrors = this.lang('$vuetify.NotBlank')
      }

      if (!hasErrors) {
        this.$store
          .dispatch('booking/customerBooking', {
            artistId: this.id,
            fromTime: this.dateFormatted + ' 00:00:00',
            toTime: this.dateFormatted1 + ' 00:00:00',
            content: this.content,
            address: this.address,
            description: this.note,
            expectFee: this.$isNullOrEmpty(this.money)
              ? null
              : this.money.replace(/,/g, ''),
            phone: this.phoneNumber,
            email: this.gmail,
            status: 0,
          })
          .then((res) => {
            if (!res.error) {
              this.dataDetail = res.data.data
              this.comfirmBooking()
            }
          })
      }
    },
    setLngLat(location) {
      this.address = location.addressAIP
      this.openMap = false
    },
    formatDate(date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${day}/${month}/${year}`
    },
    toggle() {
      this.$emit('toggle')
    },
  },
}
</script>
<style lang="scss">
.color-icon-time {
  .v-icon {
    // color: #0fa7f6;
    color: #4bc856;
  }
}
.color-marker {
  .v-icon {
    color: #fb370e;
  }
}
.color-lable {
  color: #989393 !important;
}
.pb-error-0 {
  .v-text-field__details {
    margin-bottom: 0px !important;
  }
}
</style>
