<template>
  <div class="h-100">
    <v-card
      v-if="embedded"
      elevation="3"
      :height="$store.state.app.viewPort == 'mobile' ? '24.09rem' : '34.09rem'"
      rounded="lg"
      max-width="26rem"
      class="d-flex justify-center"
    >
      <div
        v-if="role"
        class="position-absolute"
        style="right: 5px; top: 3px; cursor: pointer"
      >
        <v-menu
          v-model="menu"
          left
          transition="scroll-y-transition"
          offset-y
          offset-x
          nudge-bottom="5"
          nudge-right="52"
        >
          <template #activator="{ on }">
            <div class="box-menu" v-on="on">
              <v-icon large color="white">
                {{ 'mdi-dots-horizontal' }}
              </v-icon>
            </div>
          </template>
          <v-list
            dense
            width="190"
            height=""
            class="pa-2 border-list"
            style="background-color: #22318b !important"
          >
            <v-list-item-group v-model="action">
              <v-list-item class="pl-0" @click="showDetail">
                <v-list-item-icon class="mr-2">
                  <v-img height="20" width="20" src="/logo/detail.png" />
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title class="white--text">
                    <div style="font-weight: 400">
                      {{ $vuetify.lang.t('$vuetify.Update') }} playlist
                    </div>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-divider color="#525478" />
              <v-list-item class="pl-0" @click="openDialogYesNo = true">
                <v-list-item-icon class="mr-2">
                  <v-img height="20" width="20" src="/logo/deleteIcon.png" />
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title class="nuxt-link white--text">
                    <div style="font-weight: 400">
                      {{ $vuetify.lang.t('$vuetify.Delete') }} playlist
                    </div>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-divider color="#525478" />
              <v-list-item class="pl-0" @click="openTutorialPlaylist = true">
                <v-list-item-icon class="mr-2">
                  <v-img height="20" width="20" src="/logo/hoicham.png" />
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title class="nuxt-link white--text">
                    <div style="font-weight: 400">
                      {{ $vuetify.lang.t('$vuetify.Tutorial') }}
                    </div>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-menu>
      </div>
      <iframe
        v-if="embedded"
        :src="embedded"
        style="border: 0; width: 100%; height: 100%; border-radius: 8px"
        allowfullscreen
        allow="encrypted-media"
      />
    </v-card>
    <v-card
      v-else-if="role"
      elevation="3"
      height="34.09rem"
      rounded="lg"
      @click="showAdd"
    >
      <v-img height="34.09rem" width="100%" src="/logo/null.png" />
    </v-card>
    <v-card
      v-else
      elevation="3"
      height="34.09rem"
      rounded="lg"
      @click="showAdd"
    >
      <v-img class="BookingImg" height="34.09rem" src="/logo/hinhnen.png" />
    </v-card>
    <addEmbeb
      :open="openAdd"
      @toggle="openAdd = !openAdd"
      @success="$emit('success')"
    />
    <detailEmbeb
      :embedded="embedded"
      :open="opendetail"
      @toggle="showDetail"
      @success="$emit('success')"
    />
    <yes-no-alert
      :alertmsg="$vuetify.lang.t('$vuetify.sureDelete')"
      :open="openDialogYesNo"
      @toggle="openDialogYesNo = !openDialogYesNo"
      @OK="deleteProduct"
    />
    <tutorialBooking
      :open="openTutorialPlaylist"
      path="/huong-dan-embed"
      @toggle="openTutorialPlaylist = !openTutorialPlaylist"
    />
  </div>
</template>

<script>
import YesNoAlert from '~/components/YesNoAlert'
import detailEmbeb from '~/components/booking/detailEmbeb'
import addEmbeb from '~/components/booking/addEmbeb'
import tutorialBooking from '~/components/booking/tutorialBooking/index'

export default {
  components: {
    detailEmbeb,
    YesNoAlert,
    addEmbeb,
    tutorialBooking,
  },
  props: {
    embedded: {
      type: String,
      default: '',
    },
    role: {
      type: Boolean,
    },
  },
  data() {
    return {
      openTutorialPlaylist: false,
      openTutorial: false,
      action: '',
      menu: '',
      opendetail: false,
      openAdd: false,
      openDialogYesNo: false,
    }
  },
  methods: {
    deleteProduct() {
      this.$store
        .dispatch('profile/updateEmbedded', {
          socialEmbedded: '',
        })
        .then((res) => {
          if (!res.error) {
            this.$store.dispatch('notification/set_notifications', {
              type: 'success',
              color: 'success',
              text: 'Xóa Embed thành công',
              dark: true,
            })
            this.$emit('success')
          }
        })
    },
    showAdd() {
      if (this.role) {
        this.openAdd = !this.openAdd
      }
    },
    showDetail() {
      this.opendetail = !this.opendetail
    },
  },
}
</script>

<style lang="scss">
.border-list {
  border-radius: 7px !important;
  background-color: #eff4ff !important;
}
.BookingImg {
  color: white;
  padding: 10px;
  display: flex;
  justify-items: end;
}
.box-menu {
  height: 30px;
  border-radius: 11px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #949aa852;
  margin: 5px 3px 0px 0px;
}
.box-menu:hover {
  background-color: #2456ca52 !important;
}
</style>
