<template>
  <div>
    <!-- <div class="d-flex text-align-end justify-content-flex-end">
      <v-menu
        v-model="menu"
        left
        transition="scroll-y-transition"
        offset-y
        offset-x
        nudge-right="52"
      >
        <template #activator="{ on }">
          <div class="box-menu" v-on="on">
            <v-icon large color="white">mdi-dots-horizontal</v-icon>
            chỉnh sửa ảnh bìa
          </div>
        </template>
        <v-list
          dense
          width="200"
          class="pa-2 border-list"
          style="background-color: #22318b !important"
        >
          <v-list-item-group v-model="action">
            <v-list-item class="pl-2" @click="openAdd">
              <v-list-item-icon class="mr-2 mt-0">
                <v-img height="41" width="41" src="/logo/add.png" />
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title class="white--text">
                  <div style="font-weight: 400">
                    {{ $vuetify.lang.t('$vuetify.Add') }}
                    story
                  </div>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-divider color="#525478" />
            <v-list-item class="pl-2" @click="showDetail">
              <v-list-item-icon class="mr-2 mt-0">
                <v-img height="42" width="42" src="/logo/detail.png" />
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title class="white--text">
                  <div style="font-weight: 400">
                    {{ $vuetify.lang.t('$vuetify.Update') }}
                    story
                  </div>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-divider color="#525478" />
            <v-list-item class="pl-2" @click="openDialogYesNo = true">
              <v-list-item-icon class="mr-2 mt-0">
                <v-img height="42" width="42" src="/logo/deleteIcon.png" />
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title class="nuxt-link white--text">
                  <div style="font-weight: 400">
                    {{ $vuetify.lang.t('$vuetify.Delete') }}
                    story
                  </div>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-divider color="#525478" />
            <v-list-item class="pl-2">
              <v-list-item-icon class="mr-2 mt-0">
                <v-img height="42" width="42" src="/logo/hoicham.png" />
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title class="nuxt-link white--text">
                  <div style="font-weight: 400">
                    {{ $vuetify.lang.t('$vuetify.Tutorial') }}
                  </div>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-menu>
    </div> -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      menu: '',
      action: '',
    }
  },
  methods: {
    openAdd() {},
    showDetail() {},
  },
}
</script>

<style lang="scss" scoped></style>
