<template>
  <client-only>
    <v-dialog
      :value="open"
      max-width="1000px"
      persistent
      @keydown="$event.key === 'Escape' && toggle()"
    >
      <v-card>
        <div class="w-100">
          <v-container class="d-flex">
            <v-text-field
              v-model="addressShop"
              class="ml-2 mr-2"
              style="max-width: 480px"
              placeholder="Nhập địa chỉ"
              dense
              outlined
              hide-details
              clearable
              @input="change($event, 'addressShop')"
              @keypress.enter="setLngLatAddressShop"
            ></v-text-field>
            <v-btn
              depressed
              color="primary"
              height="40px"
              @click="setLngLatAddressShop"
            >
              <v-icon>mdi-magnify</v-icon>
            </v-btn>
          </v-container>
          <GmapMap
            ref="myMarker"
            :center="center"
            :zoom="zoom"
            style="width: 1000px; height: 500px"
            @click="setMarker"
          >
            <GmapMarker
              :clickable="true"
              :position="google && new google.maps.LatLng(lat, lng)"
            />
          </GmapMap>
        </div>
        <v-divider></v-divider>
        <v-card-actions>
          <v-card-text class="pt-0 pb-0"
            >* Click vào bản đồ để chọn vị trí</v-card-text
          >
          <v-spacer></v-spacer>
          <v-btn
            depressed
            width="110"
            color="#424242c4"
            style="color: white"
            @click="toggle"
          >
            <div class="font_size">Đóng</div>
          </v-btn>
          <v-btn
            depressed
            width="110"
            style="color: white"
            color="#139B11"
            @click="save"
          >
            <div class="font_size">Lưu</div>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </client-only>
</template>

<script>
import { gmapApi } from 'vue2-google-maps'
import GOOGLE from '~/assets/configurations/GOOGLE_MAP_API_KEY'

export default {
  name: 'GoogleMap',
  props: {
    open: {
      type: Boolean,
      default: false,
    },
    address: {
      type: String,
      default: '',
    },
  },

  data() {
    return {
      center: { lat: 21.028511, lng: 105.804817 },
      lat: 21.028511,
      lng: 105.804817,
      zoom: 8,
      addressShop: null,
      addressAIP: null,
    }
  },
  computed: {
    google: gmapApi,
  },
  mounted() {
    this.addressShop = this.address
    this.setLngLatAddressShop()
  },
  methods: {
    toggle() {
      this.$emit('toggle')
    },
    reset() {
      this.center = { lat: 21.028511, lng: 105.804817 }
      this.lat = 21.028511
      this.lng = 105.804817
      this.zoom = 8
      this.addressShop = null
    },
    setMarker(value) {
      this.lat = value.latLng.lat()
      this.lng = value.latLng.lng()
      // console.log(this.lat, this.lng)
      this.center = {
        lat: value.latLng.lat(),
        lng: value.latLng.lng(),
      }
      // console.log(this.lat, this.lng)
      this.$axios({
        method: 'GET',
        url: 'https://maps.googleapis.com/maps/api/geocode/json',
        params: {
          region: 'VN',
          latlng: this.lat + ',' + this.lng,
          key: GOOGLE.API_KEY_MAP,
        },
      }).then((res) => {
        this.addressAIP = res.data.results[0].formatted_address
        this.center = { ...res.data.results[0].geometry.location }
        this.zoom = 18
        this.lat = res.data.results[0].geometry.location.lat
        this.lng = res.data.results[0].geometry.location.lng
      })
    },
    save() {
      const location = {
        lat: this.lat,
        lng: this.lng,
        addressAIP: this.addressAIP,
      }
      this.$emit('save', location)
    },
    change(value, field) {
      this[field] = value
    },
    setLngLatAddressShop() {
      if (
        this.addressShop !== '' &&
        this.addressShop !== null &&
        this.addressShop !== undefined
      ) {
        if (this.addressShop.trim() !== '') {
          this.$axios({
            method: 'GET',
            url: 'https://maps.googleapis.com/maps/api/geocode/json',
            params: {
              region: 'VN',
              address: this.addressShop,
              key: GOOGLE.API_KEY_MAP,
            },
          }).then((res) => {
            this.addressAIP = res.data.results[0].formatted_address
            this.center = { ...res.data.results[0].geometry.location }
            this.zoom = 18
            this.lat = res.data.results[0].geometry.location.lat
            this.lng = res.data.results[0].geometry.location.lng
          })
        }
      }
    },
  },
}
</script>

<style scoped></style>
