<template>
  <div>
    <v-container class="customContainer"> <h1>Dịch vụ</h1> </v-container>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
@media (min-width: 1904px) {
  .customContainer {
    max-width: 1387px !important;
    padding: 0px;
  }
}
</style>
