<template>
  <div>
    <v-dialog
      :value="open"
      max-width="400"
      @keydown="$event.key === 'Escape' && toggle()"
      @click:outside="toggle"
    >
      <v-card style="border-radius: 10px">
        <v-img src="/logo/anhNen.png" class="customImg">
          <v-card-text class="pt-8 text-center black--text">
            {{ alertmsg }}
          </v-card-text>
          <v-card-actions>
            <v-btn
              class="custom-btn-normal"
              color="#1448C6"
              width="49%"
              @click="OK"
            >
              {{ $vuetify.lang.t('$vuetify.ok') }}
            </v-btn>
            <v-btn
              class="custom-btn-normal"
              color="#EF9C0E"
              width="49%"
              @click="toggle"
            >
              {{ $vuetify.lang.t('$vuetify.cancel') }}
            </v-btn>
          </v-card-actions>
        </v-img>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  props: {
    open: {
      type: Boolean,
    },
    alertmsg: {
      type: String,
      default: '',
    },
  },
  methods: {
    toggle() {
      this.$emit('toggle')
    },
    OK() {
      this.$emit('OK')
      this.$emit('toggle')
    },
  },
}
</script>
<style lang="scss"></style>
