<template>
  <div>
    <v-card style="border-radius: 15px">
      <v-card-text class="px-1">
        <!-- <div
            v-if="
              $store.state.login.role &&
              $store.state.login.role.includes('CUSTOMER')
            "
            style="position: absolute; right: 0px; cursor: pointer; top: 7px"
            class="text-center"
            @click="toggle"
          >
            <v-img height="26" width="26" class="mr-2" src="/logo/x.png" />
          </div> -->
        <div>
          <v-row>
            <v-col cols="12" md="12" class="py-0">
              <v-card-title
                style="
                  color: #1648be !important ;
                  border-bottom: 1px dashed;
                  border-color: #1648be6b;
                "
                :style="
                  viewPortValue !== 'mobile'
                    ? 'font-size: 25px'
                    : 'font-size: 19px'
                "
                class="pa-0"
              >
                <v-row>
                  <v-col style="text-align: start" cols="1" class="px-0">
                    <v-btn color="primary" depressed icon @click="toggle"
                      ><v-icon size="35">mdi-arrow-left-circle-outline </v-icon>
                    </v-btn></v-col
                  >
                  <v-col cols="10" class="text-center">
                    {{ 'Lịch booking đang chờ xác nhận' }}</v-col
                  >
                  <v-col cols="1"></v-col>
                </v-row>
              </v-card-title>
              <v-card-text class="pa-0">
                <v-row>
                  <v-col cols="12" class="px-0 border-text">
                    <div class="d-flex align-center">
                      <v-img
                        height="28"
                        max-width="22"
                        width="22"
                        class="mr-4"
                        src="/VAB_booking/location.png"
                      />
                      <div class="black--text fs-16">
                        {{ data.address }}
                      </div>
                    </div>
                  </v-col>
                  <v-col cols="12" class="px-0 border-text">
                    <div class="d-flex align-center">
                      <v-img
                        height="22"
                        max-width="22"
                        width="22"
                        class="mr-4"
                        src="/VAB_booking/event.png"
                      />
                      <div style="color: #088d08" class="fs-16">
                        <span>{{ data.content }}</span>
                      </div>
                    </div>
                  </v-col>
                  <v-col cols="12" class="px-0">
                    <v-row>
                      <v-col cols="6" class="pb-0">
                        <v-row>
                          <v-col cols="12" class="pt-0">
                            <div
                              class="d-flex justify-space-between align-center py-1"
                            >
                              <div class="primary--text fw-500">
                                Mã Booking:
                              </div>
                              <div class="black--text pl-2">
                                {{ data.bookingCode }}
                              </div>
                            </div>
                            <v-divider />
                          </v-col>

                          <v-col cols="12" class="pt-0">
                            <div
                              class="d-flex justify-space-between align-center py-1"
                            >
                              <div class="primary--text fw-500">
                                Tên nghệ sĩ:
                              </div>
                              <div
                                v-if="!$isNullOrEmpty(data.artistName)"
                                class="black--text pl-2"
                              >
                                {{ data.artistName }}
                              </div>
                            </div>
                            <v-divider />
                          </v-col>

                          <v-col cols="12" class="pt-0">
                            <div
                              class="d-flex justify-space-between align-center py-1"
                            >
                              <div class="primary--text fw-500">
                                Thời gian booking:
                              </div>
                              <div
                                v-if="!$isNullOrEmpty(data.createTime)"
                                class="black--text pl-2"
                              >
                                {{ data.createTime }}
                              </div>
                            </div>
                            <v-divider />
                          </v-col>

                          <v-col cols="12" class="pt-0">
                            <div
                              class="d-flex justify-space-between align-center py-1"
                            >
                              <div class="primary--text fw-500">
                                Thời gian bắt đầu:
                              </div>
                              <div
                                v-if="!$isNullOrEmpty(data.fromTime)"
                                class="black--text pl-2"
                              >
                                {{ data.fromTime.slice(0, 10) }}
                              </div>
                            </div>
                            <v-divider />
                          </v-col>
                        </v-row>
                      </v-col>
                      <v-col cols="6" class="pb-0">
                        <v-col cols="12" class="pt-0">
                          <div
                            class="d-flex justify-space-between align-center py-1"
                          >
                            <div class="primary--text fw-500">
                              Thời gian kết thúc:
                            </div>
                            <div
                              v-if="!$isNullOrEmpty(data.toTime)"
                              class="black--text pl-2"
                            >
                              {{ data.toTime.slice(0, 10) }}
                            </div>
                          </div>
                          <v-divider />
                        </v-col>

                        <v-col cols="12" class="pt-0">
                          <div
                            class="d-flex justify-space-between align-center py-1"
                          >
                            <div class="primary--text fw-500">
                              Ngân sách dự kiến:
                            </div>
                            <div
                              v-if="!$isNullOrEmpty(data.expectFee)"
                              class="black--text pl-2"
                            >
                              {{ $formatMoney({ amount: data.expectFee }) }}
                              VNĐ
                            </div>
                          </div>
                          <v-divider />
                        </v-col>

                        <v-col cols="12" class="pt-0">
                          <div
                            class="d-flex justify-space-between align-center py-1"
                          >
                            <div class="primary--text fw-500">
                              Số điện thoại:
                            </div>
                            <div
                              v-if="
                                $store.state.login.role &&
                                $store.state.login.role.includes('ARTIST')
                              "
                              class="black--text pl-2"
                            >
                              {{ data.phone }}
                            </div>
                            <div v-else class="black--text pl-2">
                              {{ data.mnPhone }}
                            </div>
                          </div>
                          <v-divider />
                        </v-col>
                      </v-col>
                      <v-col cols="12" class="px-5 pt-0">
                        <div
                          class="d-flex justify-space-between align-center py-1"
                        >
                          <div class="primary--text fw-500">Ghi chú thêm:</div>
                          <div class="black--text pl-2">
                            {{ data.description }}
                          </div>
                        </div>
                        <v-divider />
                      </v-col>

                      <!-- <v-col cols="5" md="3" class="color-text fs-16 pb-0 px-0">
                        {{ 'Mã Booking:' }}
                      </v-col>
                      <v-col cols="7" md="9" class="pb-0 black--text">
                        <span>{{ data.bookingCode }}</span>
                      </v-col>

                      <v-col cols="12">
                            <div
                              class="d-flex justify-space-between align-center py-1"
                            >
                              <div class="primary--text fw-500">
                                Số tiền cần đặt cọc :
                              </div>
                              <div class="black--text pl-2">
                                {{ mnPhone }} <span></span>
                              </div>
                            </div>
                            <v-divider />
                          </v-col>





                      <template v-if="!$isNullOrEmpty(data.artistName)">
                        <v-col
                          cols="5"
                          md="3"
                          class="color-text fs-16 pb-0 px-0"
                        >
                          {{ 'Tên nghệ sĩ:' }}
                        </v-col>
                        <v-col cols="7" md="9" class="pb-0 black--text">
                          <span>{{ data.artistName }}</span>
                        </v-col>
                      </template>
                             
                     
                     







                      <template v-if="!$isNullOrEmpty(data.fromTime)">
                        <v-col
                          cols="5"
                          md="3"
                          class="color-text fs-16 pb-0 px-0"
                        >
                          {{ 'Thời gian booking:' }}
                        </v-col>
                        <v-col cols="7" md="9" class="pb-0 black--text">
                          {{ data.createTime }}
                        </v-col>
                      </template>
                      <template v-if="!$isNullOrEmpty(data.fromTime)">
                        <v-col
                          cols="5"
                          md="3"
                          class="color-text fs-16 pb-0 px-0"
                        >
                          {{ 'Thời gian bắt đầu:' }}
                        </v-col>
                        <v-col cols="7" md="9" class="pb-0 black--text">
                          {{ data.fromTime.slice(0, 10) }}
                        </v-col>
                      </template>
                      <template v-if="!$isNullOrEmpty(data.toTime)">
                        <v-col
                          cols="5"
                          md="3"
                          class="color-text fs-16 pb-0 px-0"
                        >
                          {{ 'Thời gian kết thúc:' }}
                        </v-col>
                        <v-col cols="7" md="9" class="pb-0 black--text">
                          {{ data.toTime.slice(0, 10) }}
                        </v-col>
                      </template>
                      <v-col cols="5" md="3" class="color-text fs-16 pb-0 px-0">
                        {{ 'Ngân sách dự kiến:' }}
                      </v-col>
                      <v-col cols="7" md="9" class="pb-0 black--text">
                        {{ $formatMoney({ amount: data.expectFee }) }} VNĐ
                      </v-col>
                      <v-col cols="5" md="3" class="color-text fs-16 pb-0 px-0">
                        {{ 'Số điện thoại:' }}
                      </v-col>
                      <v-col cols="7" md="9" class="pb-0 black--text">
                        <template
                          v-if="
                            $store.state.login.role &&
                            $store.state.login.role.includes('ARTIST')
                          "
                        >
                          {{ data.phone }}
                        </template>
                        <template v-else>
                          {{ data.mnPhone }}
                        </template>
                      </v-col>
                      <template v-if="!$isNullOrEmpty(data.description)">
                        <v-col
                          cols="5"
                          md="3"
                          class="color-text fs-16 pb-0 px-0"
                        >
                          {{ 'Ghi chú thêm :' }}
                        </v-col>
                        <v-col cols="7" md="9" class="pb-0 black--text">
                          {{ data.description }}
                        </v-col>
                      </template> -->
                    </v-row>
                  </v-col>
                  <v-col v-if="checkUser()" cols="12" class="text-center pb-0">
                    <v-btn
                      depressed
                      width="30%"
                      class="custom-btn-normal mr-2"
                      color="#1448C6"
                      @click="acceptBooking(1)"
                    >
                      <div class="font_size">
                        {{ 'Xác nhận' }}
                      </div>
                    </v-btn>
                    <v-btn
                      depressed
                      width="30%"
                      class="custom-btn-normal mr-2"
                      color="#EF9C0E"
                      @click="openDialogYesNo = true"
                    >
                      <div class="font_size">
                        {{ 'Từ chối' }}
                      </div>
                    </v-btn>
                    <v-btn
                      depressed
                      width="30%"
                      class="custom-btn-normal"
                      color="#8F8E8C"
                      @click="toggle"
                    >
                      <div class="font_size">
                        {{ $vuetify.lang.t('$vuetify.cancel') }}
                      </div>
                    </v-btn>
                  </v-col>
                  <v-col cols="12" v-else>
                    <div class="py-2">
                      <v-btn
                        width="200px"
                        height="40"
                        depressed
                        color="primary"
                        @click="openDialogDeposit"
                        style="border-radius: 5px"
                      >
                        <div class="font_size text-none">Đặt cọc</div>
                      </v-btn>
                      <v-btn
                        width="200px"
                        height="40"
                        depressed
                        class="mr-2 white--text"
                        color=" #ff9800"
                        @click="toggle"
                        style="border-radius: 5px"
                      >
                        <div class="font_size text-none">Quay về</div>
                      </v-btn>
                    </div>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-col>
          </v-row>
        </div>
      </v-card-text>
    </v-card>
    <DialogDeposit
      :open="$store.state.login.openPayment"
      @toggle="$store.state.login.openPayment = !$store.state.login.openPayment"
      :data="dataDetail"
    ></DialogDeposit>
    <yes-no-alert
      alertmsg="Bạn có chắc muốn từ chối booking?"
      :open="openDialogYesNo"
      @toggle="openDialogYesNo = !openDialogYesNo"
      @OK="acceptBooking(2)"
    />
  </div>
</template>
<script>
import DialogDeposit from '~/components/deposit/dialogDeposit.vue'
import moment from 'moment'
import Vue from 'vue'
Vue.prototype.moment = moment
import YesNoAlert from '~/components/YesNoAlert'
export default {
  components: {
    YesNoAlert,
    DialogDeposit,
  },
  props: {
    open: {
      type: Number,
      required: true,
    },
    data: {
      type: Object,
      default: null,
    },
    id: {
      type: Number,
      default: null,
    },
  },
  data() {
    return {
      openDialogYesNo: false,
      nameCustomer: '',
      gmail: '',
      phoneNumber: '',
      facebook: '',
      openDialogDeposit: false,
      dataDetail: {},
    }
  },
  computed: {
    viewPortValue() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          return 'mobile'
        case 'sm':
          return 'tablet'
        case 'md':
          return 'tablet'
        case 'lg':
          return 'desktop'
        case 'xl':
          return 'desktop'
        default:
          return ''
      }
    },
  },
  watch: {
    open(value) {
      if (value === 2) {
        this.dataDetail = this.data
      }
    },
  },
  methods: {
    openDialogDeposit() {
      this.$store.commit('login/setPayment', true)
    },
    checkUser() {
      return (
        this.$store.state.login.role &&
        !this.$store.state.login.role.includes('CUSTOMER')
      )
    },
    async acceptBooking(status) {
      const res = await this.$store.dispatch('booking/confirmBooking', {
        id: this.data.id,
        artistId: this.id,
        status,
      })
      if (!res.error) {
        this.toggle()
        this.$emit('success')
        if (status === 1) {
          this.$store.dispatch('notification/set_notifications', {
            type: 'success',
            color: 'success',
            text: 'Xác nhận booking thành công',
            dark: true,
          })
        } else {
          this.$store.dispatch('notification/set_notifications', {
            type: 'success',
            color: 'success',
            text: 'Từ chối booking thành công',
            dark: true,
          })
        }
      }
    },
    toggle() {
      this.$emit('toggle')
    },
  },
}
</script>
<style lang="scss"></style>
