<template>
  <div>
    <v-dialog
      :value="open"
      max-width="700"
      persistent
      @keydown="$event.key === 'Escape' && toggle()"
    >
      <v-card style="border-radius: 15px">
        <v-img src="/logo/anhNen.png" class="customImg">
          <v-card-text class="px-1">
            <div
              style="position: absolute; right: 0px; cursor: pointer; top: 7px"
              class="text-center"
              @click="toggle"
            >
              <v-img height="26" width="26" class="mr-2" src="/logo/x.png" />
            </div>
            <v-row>
              <v-col cols="6">
                <v-menu
                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  max-width="290px"
                >
                  <template #activator="{ on, attrs }">
                    <label class="fs-13">
                      {{ $vuetify.lang.t('$vuetify.startTime') }}
                    </label>
                    <v-text-field
                      v-model="startDate"
                      class="fs-15px input-search"
                      clearable
                      readonly
                      persistent-hint
                      hide-details
                      dense
                      v-bind="attrs"
                      v-on="on"
                    >
                      <template #prepend-inner>
                        <v-img
                          height="18"
                          width="18"
                          src="/VAB_booking/calendarBooking.png"
                        />
                        <v-divider
                          class="mt-0 ml-2"
                          color="#67BCD8"
                          inset
                          vertical
                        />
                      </template>
                    </v-text-field>
                  </template>
                  <v-date-picker
                    v-model="date"
                    no-title
                    @input="menu = false"
                  />
                </v-menu>
              </v-col>
              <v-col cols="6">
                <v-menu
                  ref="menu"
                  v-model="menu1"
                  :close-on-content-click="false"
                  max-width="290px"
                >
                  <template #activator="{ on, attrs }">
                    <label class="fs-13">
                      {{ $vuetify.lang.t('$vuetify.endTime') }}
                    </label>
                    <v-text-field
                      v-model="endDate"
                      class="fs-15px input-search"
                      readonly
                      clearable
                      persistent-hint
                      hide-details
                      dense
                      v-bind="attrs"
                      v-on="on"
                    >
                      <template #prepend-inner>
                        <v-img
                          height="18"
                          width="18"
                          src="/VAB_booking/calendarBooking.png"
                        />
                        <v-divider
                          class="mt-0 ml-2"
                          color="#67BCD8"
                          inset
                          vertical
                        />
                      </template>
                    </v-text-field>
                  </template>
                  <v-date-picker
                    v-model="date1"
                    no-title
                    @input="menu1 = false"
                  />
                </v-menu>
              </v-col>
              <v-col cols="12">
                <label class="fs-13">
                  {{ $vuetify.lang.t('$vuetify.Status') }}
                </label>
                <v-select
                  v-model="status"
                  :items="itemsstatus"
                  item-text="text"
                  item-value="value"
                  hide-details
                  clearable
                  class="fs-15px input-search"
                  persistent-hint
                  dense
                >
                  <template #prepend-inner>
                    <v-img
                      height="18"
                      width="18"
                      src="/VAB_booking/newStatus.png"
                    />
                    <v-divider
                      class="mt-0 ml-2"
                      color="#67BCD8"
                      inset
                      vertical
                    />
                  </template>
                </v-select>
              </v-col>
              <v-col cols="12">
                <label class="fs-13">
                  {{ $vuetify.lang.t('$vuetify.phoneNumber') }}
                </label>
                <v-text-field
                  v-model="phoneNumber"
                  clearable
                  class="fs-15px input-search"
                  hide-details
                  persistent-hint
                  dense
                >
                  <template #prepend-inner>
                    <v-img
                      height="18"
                      width="18"
                      src="/VAB_booking/newPhone.png"
                    />
                    <v-divider
                      class="mt-0 ml-2"
                      color="#67BCD8"
                      inset
                      vertical
                    />
                  </template>
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <div style="min-width: 25%" class="px-2 my-3">
                  <label class="fs-13">
                    {{
                      $vuetify.lang.t('$vuetify.name') +
                      ', ' +
                      $vuetify.lang.t('$vuetify.place')
                    }}
                  </label>
                  <v-text-field
                    v-model="search"
                    class="fs-15px input-search"
                    clearable
                    hide-details
                    persistent-hint
                    dense
                  >
                    <template #prepend-inner>
                      <v-img
                        height="18"
                        width="18"
                        src="/VAB_booking/newSearch.png"
                      />
                      <v-divider
                        class="mt-0 ml-2"
                        color="#67BCD8"
                        inset
                        vertical
                      />
                    </template>
                  </v-text-field>
                </div>
              </v-col>
              <v-col cols="12" class="text-center">
                <v-btn
                  depressed
                  small
                  width="100%"
                  color="#7848F4"
                  class="border-radius-30"
                  style="color: white; text-transform: none"
                  @click="BookingHistoryList"
                >
                  <div class="font-weight-regular">
                    {{ lang('$vuetify.search') }}
                  </div>
                </v-btn>
              </v-col>
            </v-row>
          </v-card-text>
        </v-img>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  props: {
    open: {
      type: Boolean,
    },
    itemsstatus: {
      type: Array,
      default: null,
    },
  },
  data() {
    return {
      status: 0,
      menu1: false,
      endDate: '',
      date1: '',
      menu: false,
      startDate: '',
      date: '',
      phoneNumber: '',
      search: '',
    }
  },
  computed: {
    viewPortValue() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          return 'mobile'
        case 'sm':
          return 'tablet'
        case 'md':
          return 'tablet'
        case 'lg':
          return 'desktop'
        case 'xl':
          return 'desktop'
        default:
          return ''
      }
    },
  },
  watch: {
    open() {},
    date(val) {
      this.startDate = this.formatDate(this.date)
    },
    date1(val) {
      this.endDate = this.formatDate(this.date1)
    },
  },
  methods: {
    BookingHistoryList() {
      const data = {
        startDate: this.startDate,
        endDate: this.endDate,
        status: this.status,
        phoneNumber: this.phoneNumber,
        search: this.search,
      }
      this.$emit('success', data)
      this.toggle()
    },
    lang(value) {
      if (value) {
        return this.$vuetify.lang.t(value)
      }
    },
    formatDate(date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${day}/${month}/${year}`
    },
    toggle() {
      this.$emit('toggle')
    },
  },
}
</script>
<style lang="scss"></style>
