// div {
//   font-size: 14px;
// }
// scrollbar width
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

// Handle
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
.black-text {
  color: black !important;
  .v-label {
    color: black !important;
  }
}
.background-linear-gradient {
  background: linear-gradient(
    0deg,
    rgba(40, 40, 43, 1) 0%,
    rgba(226, 226, 227, 0) 95%,
    transparent
  ) !important
}
.v-carousel__item {
  .v-responsive__sizer {
    padding-bottom: 0px !important;
    height: 100%;
  }
  .v-image {
    height: 100%;
  }
}
.v-data-table__mobile-row {
  border: 0px !important;
}
.depressed-pagination {
  .v-pagination__navigation {
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
      0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%),
      0px 1px 5px 0px rgb(0 0 0 / 12%) !important;
    background-color: #f3f3f3;
  }
}
.border-radius-10-top {
  border-radius: 10px 10px 0 0 !important;
}
.custom-height {
  .v-data-table-header-mobile {
    display: none;
  }
  .v-data-table__wrapper {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
}
.custom_header_table table tr td:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.custom_header_table table tbody tr:last-child td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.custom_header_table table tbody tr td:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}
.custom_header_table table tbody tr td {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.custom_header_table {
  .v-data-table-header {
    th {
      background-color: #22318c !important;
      color: white !important;
      font-size: 14px !important;
      font-weight: 400 !important;
      border-right: 1px solid;
    }
  }
  table tr th:first-child {
    border-radius: 10px 0 0 0 !important;
  }
  table tr th:last-child {
    border-radius: 0 10px 0 0 !important;
    border-right: 0px solid !important;
  }
}

.v-carousel {
  .v-carousel__controls {
    .v-item-group {
      button.v-carousel__controls__item {
        color: #c4c4c4 !important;
      }
      button.v-item--active {
        color: #2456ca !important;
      }
      button.v-btn--active {
        color: #2456ca !important;
      }
    }
  }
}
// Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #82b1ff;
}
.justify-content-flex-end {
  justify-content: flex-end !important;
}
.text-align-end {
  text-align: end !important;
}
.position-absolute-top-right {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}
.position-fixed-top-right {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  z-index: 1000;
}

// .VueCarousel-wrapper {
// padding-right: 4px !important;
// padding-left: 4px !important;
// }
.border-radius-10 {
  border-radius: 10px !important;
}
.w-100 {
  width: 100% !important;
}
.h-10 {
  height: 10% !important;
}
.h-90 {
  height: 90% !important;
}
.h-100 {
  height: 100% !important;
}
.position-absolute {
  position: absolute;
}
.justify-content-center {
  justify-content: center;
}
.border-radius-30 {
  border-radius: 30px !important;
}
.text-start {
  text-align: start !important;
}
.icon-close {
  position: absolute !important;
  z-index: 10;
  right: 1px;
  color: red;
  font-size: 20px;
}
.fs-15px {
  .v-label {
    font-size: 0.9rem !important;
  }
  textarea {
    font-size: 15px !important;
  }
  .v-select__selection {
    font-size: 15px !important;
  }
}
.fs-16px {
  .v-label {
    font-size: 0.9rem !important;
  }
  textarea {
    font-size: 16px !important;
  }
}
.fs-32px {
  .v-label {
    font-size: 0.9rem !important;
  }
  textarea {
    font-size: 32px !important;
  }
  input {
    font-size: 32px !important;
  }
}
.background-input {
  .v-input__slot {
    background-color: white !important;
    textarea {
      color: black !important;
    }
    input {
      color: black !important;
    }
  }
}
.v-pagination {
  button {
    height: 40px !important;
    min-width: 40px !important;
  }
}
.custom-btn-normal {
  color: white !important;
  font-size: 14px !important ;
  text-transform: initial !important;
  font-weight: 400 !important;
  border-radius: 8px !important;
}
.text-end {
  text-align: end !important;
}
.icon-23 {
  max-height: 23px !important;
  max-width: 23px !important;
}
.fs-10 {
  font-size: 10px !important;
}
.fs-11 {
  font-size: 11px !important;
}
.fs-12 {
  font-size: 12px !important;
}
.fs-13 {
  font-size: 13px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-15 {
  font-size: 15px !important;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-17 {
  font-size: 17px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-19 {
  font-size: 19px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-24{
  font-size: 24px !important;
}
.fs-40 {
  font-size: 40px !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.colorGradient {
  background: rgb(4, 55, 175);
  background: linear-gradient(
    180deg,
    rgba(4, 55, 175, 1) 0%,
    rgba(49, 98, 212, 1) 100%
  );
}
.provider-logo {
  max-height: 50px;
}

.provider-item {
  display: block;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  padding: 4px;
  min-height: 60px !important;
  max-width: 130px;
  cursor: pointer;
  position: relative;
}
.v-slider--horizontal .v-slider__track-container{
  height: 5px !important;
}
.v-slider__track-background.primary.lighten-3{
  border-radius: 10px !important;
}
.v-slider__thumb{

  width: 15px !important;
  height: 15px !important;
}
.border-1 {
  .v-input__slot {
    border: 1px solid #C3C6DD !important;
    background-color: white !important;
  }
}

.border-2 {
  .v-input__slot {
    border: 2px solid #C3C6DD !important;
    background-color: #f5f7fe !important;
  }
}
.v-autocomplete:not(.v-input--is-focused).v-select--chips input {
  max-height: 32px !important;
  padding: 0;
}

.v-autocomplete input {
  font-size: 14px;
}
.v-app-bar {
  .v-toolbar__content {
    max-height: 48px !important;
  }
}
.v-main {
  padding-top: 48px !important;
}
@media (max-width: 500px) {
  .fs-26 {
    font-size: 26px !important;
  }
  .fs-14 {
    label {
      font-size: 14px !important;
    }
    font-size: 14px !important;
  }
  .v-app-bar {
    .v-toolbar__content {
      padding: 0px !important;
    }
  }
}
@media (max-width: 768px) {
  .fs-14 {
    font-size: 14px !important;
  }
}
