// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
// @font-face {
//   font-family: SFUI;
//   src: url(/fonts/sf-ui-display-light-58646b33e0551.otf);
// }

// @font-face {
//   font-family: SFUI;
//   src: url(/fonts/sf-ui-display-medium-58646be638f96.otf);
//   font-weight: 500;
// }

// @font-face {
//   font-family: SFUI;
//   src: url(/fonts/sf-ui-display-bold-58646a511e3d9.otf);
//   font-weight: bold;
// }

// @font-face {
//   font-family: SFUI;
//   src: url(/fonts/sf-ui-display-black-58646a6b80d5a.otf);
//   font-weight: 900;
// }

// @font-face {
//   font-family: SFUI;
//   src: url(/fonts/sf-ui-display-light-58646b33e0551.otf);
//   font-weight: bold;
//   font-style: italic;
// }
// $body-font-family: 'Roboto', sans-serif !default;
$body-font-family: 'Open Sans',
sans-serif !default;
