<template>
  <div>
    <v-container
      class="customContainer"
      :class="$store.state.app.viewPort == 'mobile' ? 'mt-0 px-1' : 'mt-0'"
    >
      <v-card>
        <v-img :src="UrlImg(image)" />
        <div class="text-center fs-40 px-3 py-3 font-weight-bold">
          {{ name }}
        </div>
        <!-- eslint-disable-next-line vue/no-v-html -->
        <div class="mb-12 px-12 pb-12" v-html="dataDeatail" />
      </v-card>
    </v-container>
  </div>
</template>

<script>
import URL from '~/assets/configurations/Base_Url'
export default {
  data() {
    return {
      dataDeatail: '',
      image: '',
      name: '',
    }
  },
  mounted() {
    this.getFooter()
  },
  methods: {
    UrlImg(value) {
      return URL.urlImg + value
    },
    getFooter() {
      const data = {
        id: this.$route.params.pathMatch,
      }
      this.$store.dispatch('setting/getNews', data).then((res) => {
        if (!res.error) {
          if ((res.data.data || []).length !== 0) {
            this.name = res.data.data.name
            this.image = res.data.data.image
            this.dataDeatail = res.data.data.content
          }
        }
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@media (min-width: 1904px) {
  .customContainer {
    max-width: 1300px !important;
    padding: 0px;
  }
}
</style>
