<template>
  <div>
    <v-card style="border-radius: 15px" class="mb-10">
      <v-card-text class="px-1 pb-0">
        <div>
          <v-row>
            <v-col cols="12" md="12" class="py-0">
              <v-card-title
                style="
                  color: #1648be !important ;
                  border-bottom: 1px dashed;
                  border-color: #1648be6b;
                  font-size: 25px;
                "
                class="pa-0"
              >
                <!-- {{ $vuetify.lang.t('$vuetify.historyBooking.bookingSchedule') }} -->
                <v-row>
                  <v-col cols="1" class="px-0 p">
                    <v-btn color="primary" depressed icon @click="toggle"
                      ><v-icon size="35">mdi-arrow-left-circle-outline </v-icon>
                    </v-btn></v-col
                  >
                  <v-col cols="10" class="text-center">{{
                    $vuetify.lang.t('$vuetify.historyBooking.bookingSchedule')
                  }}</v-col>
                  <v-col cols="1"></v-col>
                </v-row>
              </v-card-title>
              <v-card-text class="pa-0">
                <v-row>
                  <v-col cols="12" class="px-0 border-text">
                    <div class="d-flex align-center">
                      <v-img
                        height="28"
                        max-width="22"
                        width="22"
                        class="mr-4"
                        src="/VAB_booking/location.png"
                      />
                      <div class="black--text fs-16">
                        {{ address }}
                      </div>
                    </div>
                  </v-col>
                  <v-col cols="12" class="px-0 border-text">
                    <div class="d-flex align-center">
                      <v-img
                        height="22"
                        max-width="22"
                        width="22"
                        class="mr-4"
                        src="/VAB_booking/event.png"
                      />
                      <div style="color: #088d08" class="fs-16">
                        <span>{{ content }}</span>
                      </div>
                    </div>
                  </v-col>
                  <v-col cols="12" class="px-0">
                    <v-row>
                      <!-- <v-col cols="5" md="3" class="color-text fs-16 pb-0 px-0">
                        {{ 'Mã Booking:' }}
                      </v-col>
                      <v-col cols="7" md="9" class="pb-0 black--text">
                        <span>{{ bookingCode }}</span>
                      </v-col> -->
                      <v-col cols="6">
                        <v-row>
                          <v-col cols="12" class="pt-0">
                            <div
                              class="d-flex justify-space-between align-center py-1"
                            >
                              <div class="primary--text fw-500">
                                Mã Booking:
                              </div>
                              <div class="black--text pl-2">
                                {{ bookingCode }}
                              </div>
                            </div>
                            <v-divider />
                          </v-col>

                          <v-col cols="12">
                            <div
                              class="d-flex justify-space-between align-center py-1"
                            >
                              <div class="primary--text fw-500">
                                Tên nghệ sĩ:
                              </div>
                              <div class="black--text pl-2">
                                {{ artistName }}
                              </div>
                            </div>
                            <v-divider />
                          </v-col>
                          <v-col cols="12">
                            <div
                              class="d-flex justify-space-between align-center py-1"
                            >
                              <div class="primary--text fw-500">
                                Thời gian booking:
                              </div>
                              <div class="black--text pl-2">
                                {{ createTime }}
                              </div>
                            </div>
                            <v-divider />
                          </v-col>

                          <v-col cols="12">
                            <div
                              class="d-flex justify-space-between align-center py-1"
                            >
                              <div class="primary--text fw-500">
                                Thời gian bắt đầu:
                              </div>
                              <div class="black--text pl-2">
                                {{ fromTime }}
                              </div>
                            </div>
                            <v-divider />
                          </v-col>
                        </v-row>
                      </v-col>
                      <v-col cols="6">
                        <v-row>
                          <v-col cols="12" class="pt-0">
                            <div
                              class="d-flex justify-space-between align-center py-1"
                            >
                              <div class="primary--text fw-500">
                                Thời gian kết thúc:
                              </div>
                              <div class="black--text pl-2">
                                {{ toTime }}
                              </div>
                            </div>
                            <v-divider />
                          </v-col>
                          <v-col cols="12">
                            <div
                              class="d-flex justify-space-between align-center py-1"
                            >
                              <div class="primary--text fw-500">
                                Ngân sách dự kiến:
                              </div>
                              <div class="black--text pl-2">
                                {{ expectFee }} VNĐ
                              </div>
                            </div>
                            <v-divider />
                          </v-col>

                          <v-col cols="12">
                            <div
                              class="d-flex justify-space-between align-center py-1"
                            >
                              <div class="primary--text fw-500">
                                Số điện thoại KH:
                              </div>
                              <div class="black--text pl-2">
                                {{ mnPhone }}
                              </div>
                            </div>
                            <v-divider />
                          </v-col>
                          <v-col cols="12">
                            <div
                              class="d-flex justify-space-between align-center py-1"
                            >
                              <div class="primary--text fw-500">
                                Số tiền đã cọc/cần cọc :
                              </div>
                              <div class="black--text pl-2">
                                {{ amountDeposit }}/{{
                                  amountObligatoryDeposit
                                }}
                                <span
                                  ><v-btn
                                    icon
                                    @click="openDialogListDeposit = true"
                                    ><v-icon color="primary">
                                      mdi-eye</v-icon
                                    ></v-btn
                                  ></span
                                >
                              </div>
                            </div>
                            <v-divider />
                          </v-col>
                        </v-row>
                      </v-col>
                      <v-col cols="12" class="px-6 pt-0 pb-4">
                        <div
                          class="d-flex justify-space-between align-center py-1"
                        >
                          <div class="color-text">Ghi chú thêm:</div>
                          <div class="primary--text pl-2">
                            {{ description }}
                          </div>
                        </div>
                        <v-divider />
                      </v-col>
                      <template v-if="statusRating === 1">
                        <template>
                          <v-col
                            cols="5"
                            md="3"
                            class="color-text fs-16 pb-0 px-0"
                          >
                            {{ 'Đánh giá sao:' }}
                          </v-col>
                          <v-col cols="7" md="9" class="pb-0 pt-1 black--text">
                            <v-rating
                              v-model="rating"
                              color="yellow darken-3"
                              background-color="grey darken-1"
                              empty-icon="$ratingFull"
                              half-increments
                              hover
                              size="30"
                            ></v-rating>
                          </v-col>
                        </template>

                        <!--  nội dung -->
                        <template>
                          <v-col
                            cols="5"
                            md="3"
                            class="color-text fs-16 pb-0 px-0"
                          >
                            {{ 'Nội dung:' }}
                          </v-col>
                          <v-col cols="7" md="9" class="pb-0 black--text">
                            <v-textarea
                              outlined
                              placeholder="Nội dung"
                              spellcheck="false"
                              v-model="comment"
                            ></v-textarea>
                          </v-col>
                        </template>
                      </template>
                      <template v-if="statusRating === 2">
                        <template>
                          <v-col
                            cols="5"
                            md="3"
                            class="color-text fs-16 pb-0 px-0"
                          >
                            {{ 'Đánh giá sao :' }}
                          </v-col>
                          <v-col cols="7" md="9" class="pb-0 pt-1 black--text">
                            <v-rating
                              v-model="rating"
                              color="yellow darken-3"
                              background-color="grey darken-1"
                              empty-icon="$ratingFull"
                              half-increments
                              readonly
                              size="30"
                            ></v-rating>
                          </v-col>
                        </template>

                        <!--  nội dung -->
                        <template>
                          <v-col
                            cols="5"
                            md="3"
                            class="color-text fs-16 pb-0 px-0"
                          >
                            {{ 'Nội dung:' }}
                          </v-col>
                          <v-col cols="7" md="9" class="pb-0 black--text">
                            <div v-html="comment"></div>
                          </v-col>
                        </template>
                      </template>
                    </v-row>
                    <v-row v-if="statusRating === 1">
                      <v-col cols="12" class="pa-0" style="text-align: end">
                        <v-btn
                          depressed
                          class="custom-btn-normal"
                          color="#1448C6"
                          :disabled="!$isNullOrEmpty(rating) ? false : true"
                          @click="bookingRating"
                        >
                          {{
                            $vuetify.lang.t('$vuetify.historyBooking.evaluate')
                          }}</v-btn
                        >
                      </v-col>
                    </v-row>
                    <div v-else></div>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-col>
          </v-row>
        </div>
      </v-card-text>
      <v-divider />
      <v-card-actions style="justify-content: center">
        <div class="py-2">
          <v-btn
            width="200px"
            height="40"
            depressed
            color=" primary"
            @click="openDialogDeposit"
            style="border-radius: 5px"
          >
            <div class="font_size text-none">Đặt cọc</div>
          </v-btn>
          <v-btn
            width="200px"
            height="40"
            depressed
            class="mr-2 white--text"
            color="#ff9800"
            @click="toggle"
            style="border-radius: 5px"
          >
            <div class="font_size text-none">Quay về</div>
          </v-btn>
        </div>
      </v-card-actions>
    </v-card>
    <DialogDeposit
      :open="$store.state.login.openPayment"
      @toggle="$store.state.login.openPayment = !$store.state.login.openPayment"
      :data="dataDetail"
    ></DialogDeposit>
    <DialogListDeposit
      :open="openDialogListDeposit"
      @toggle="openDialogListDeposit = !openDialogListDeposit"
      :data="dataDetail"
      @success="bookingArtistMoneyDeposit"
    ></DialogListDeposit>
  </div>
</template>
<script>
import DialogDeposit from '~/components/deposit/dialogDeposit.vue'
import DialogListDeposit from '~/components/deposit/deposit/listDeposit.vue'
import moment from 'moment'
import Vue from 'vue'
Vue.prototype.moment = moment
export default {
  components: {
    DialogDeposit,
    DialogListDeposit,
  },
  props: {
    open: {
      type: Number,
      required: true,
    },
    data: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      openDialogListDeposit: false,
      openDialogYesNo: false,
      nameCustomer: '',
      gmail: '',
      phoneNumber: '',
      facebook: '',
      dataDetail: {},
      address: null,
      content: null,
      bookingCode: null,
      artistName: null,
      createTime: null,
      fromTime: null,
      toTime: null,
      expectFee: null,
      description: null,
      performStatus: null,
      today: moment().format(),
      mnPhone: null,
      rating: null,
      statusBooking: null,
      comment: null,
      toTimeFormat: null,
      statusRating: null,
      amountDeposit: 0,
      amountObligatoryDeposit: 0,
    }
  },
  watch: {
    open(value) {
      if (value === 2) {
        console.log(value)
        this.address = null
        this.content = null
        this.bookingCode = null
        this.artistName = null
        this.createTime = null
        this.fromTime = null
        this.toTime = null
        this.expectFee = null
        this.description = null
        this.performStatus = null
        this.today = moment().format()
        this.mnPhone = null
        this.statusBooking = null
        this.rating = null
        this.comment = null
        this.toTimeFormat = null
        this.statusRating = null
        this.amountDeposit = 0
        this.amountObligatoryDeposit = 0

        this.getDetail()
        this.bookingArtistMoneyDeposit()
      }
    },
    '$store.state.login.openAddDeposit'(value) {
      if (value === false) {
        this.bookingArtistMoneyDeposit()
      }
    },
  },

  methods: {
    // BtnDeposit() {
    //   this.openDialogDeposit = true
    // },
    bookingArtistMoneyDeposit() {
      this.$store
        .dispatch('booking/bookingArtistMoneyDeposit', {
          bookingId: this.dataDetail.id,
        })
        .then((res) => {
          if (!res.error) {
            this.amountDeposit = this.$formatMoneyv2({
              amount: res.data.data.amountDeposit,
            })

            this.amountObligatoryDeposit = this.$formatMoneyv2({
              amount: res.data.data.amountObligatoryDeposit,
            })
          }
        })
    },
    openDialogDeposit() {
      this.$store.commit('login/setPayment', true)
    },
    bookingRating() {
      this.$store
        .dispatch('booking/bookingRating', {
          artistBookingId: this.dataDetail.id,
          artistId: this.dataDetail.artistId,
          rating: String(this.rating),
          comment: this.comment,
        })
        .then((res) => {
          if (!res.error) {
            this.$store.dispatch('notification/set_notifications', {
              type: 'success',
              color: 'success',
              text: 'Đánh giá thành công',
              dark: true,
            })
          }
          this.$emit('toggle')
          this.$emit('success')
        })
    },
    getDetail() {
      this.dataDetail = this.data

      this.statusBooking = this.dataDetail.statusBooking
      if (!this.$isNullOrEmpty(this.dataDetail)) {
        if (!this.$isNullOrEmpty(this.dataDetail.artistRatingDto)) {
          this.rating = Number(this.dataDetail.artistRatingDto.rating)
          this.comment = this.dataDetail.artistRatingDto.comment
        }
        this.statusRating = this.dataDetail.statusRating

        this.address = this.dataDetail.address
        this.content = this.dataDetail.content
        this.bookingCode = this.dataDetail.bookingCode
        this.artistName = this.dataDetail.artistName
        this.mnPhone = this.dataDetail.mnPhone
        this.createTime = moment(
          this.dataDetail.createTime,
          'DD/MM/YYYY HH:mm:ss'
        ).format('DD/MM/YYYY')
        this.fromTime = moment(
          this.dataDetail.fromTime,
          'DD/MM/YYYY HH:mm:ss'
        ).format('DD/MM/YYYY')
        this.toTime = moment(
          this.dataDetail.toTime,
          'DD/MM/YYYY HH:mm:ss'
        ).format('DD/MM/YYYY')
        this.expectFee = this.$formatMoney({
          amount: this.dataDetail.expectFee,
        })

        // this.toTimeFormat = moment(
        //   this.dataDetail.toTime,
        //   'DD/MM/YYYY hh:mm:ss'
        // ).format('YYYY-MM-DD')
        this.description = this.dataDetail.description
        this.performStatus = this.dataDetail.performStatus
      }
      // this.demo()
    },
    // demo() {
    //   let time = moment(this.toTimeFormat).unix()
    //   let today = moment().unix()
    //   if (time > today) {
    //     return true
    //   } else {
    //     return false
    //   }
    // },
    toggle() {
      this.$emit('toggle')
    },
  },
}
</script>
<style lang="scss">
.color-text {
  color: #1f51c5;
}
.border-text {
  border-bottom: 1px solid;
  border-color: #70707063 !important;
}
</style>
