<template>
  <div>
    <v-container
      :style="
        action === 1
          ? 'max-width: 1300px !important; padding: 0px;'
          : 'max-width: 1200px !important; padding: 0px; padding-top: 20px'
      "
      :class="$store.state.app.viewPort == 'mobile' ? 'mt-0 px-1' : 'mt-3'"
    >
      <div v-if="action === 1">
        <v-row
          v-if="viewPortValue !== 'mobile'"
          style="background-color: #22318c"
          class="border-radius-10 px-5 white--text"
        >
          <v-col cols="11" class="pa-0 d-flex">
            <div style="border-right: 1px dashed #6a31ff82">
              <div class="pr-2 my-3 text-left">
                <v-menu
                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  max-width="290px"
                >
                  <template #activator="{ on, attrs }">
                    <label class="fs-13">
                      {{ $vuetify.lang.t('$vuetify.startTime') }}
                    </label>
                    <v-text-field
                      v-model="startDate"
                      class="fs-15px input-search"
                      clearable
                      readonly
                      dark
                      persistent-hint
                      hide-details
                      dense
                      v-bind="attrs"
                      v-on="on"
                    >
                      <template #prepend-inner>
                        <v-img
                          height="18"
                          width="18"
                          src="/VAB_booking/calendarBooking.png"
                        />
                        <v-divider
                          class="mt-0 ml-2"
                          color="#67BCD8"
                          inset
                          vertical
                        />
                      </template>
                    </v-text-field>
                  </template>
                  <v-date-picker
                    v-model="date"
                    no-title
                    @input="menu = false"
                  />
                </v-menu>
              </div>
            </div>
            <div style="border-right: 1px dashed #6a31ff82">
              <div class="px-2 my-3 text-left">
                <v-menu
                  ref="menu"
                  v-model="menu1"
                  :close-on-content-click="false"
                  max-width="290px"
                >
                  <template #activator="{ on, attrs }">
                    <label class="fs-13">
                      {{ $vuetify.lang.t('$vuetify.endTime') }}
                    </label>
                    <v-text-field
                      v-model="endDate"
                      class="fs-15px input-search"
                      readonly
                      clearable
                      persistent-hint
                      dark
                      hide-details
                      dense
                      v-bind="attrs"
                      v-on="on"
                    >
                      <template #prepend-inner>
                        <v-img
                          height="18"
                          width="18"
                          src="/VAB_booking/calendarBooking.png"
                        />
                        <v-divider
                          class="mt-0 ml-2"
                          color="#67BCD8"
                          inset
                          vertical
                        />
                      </template>
                    </v-text-field>
                  </template>
                  <v-date-picker
                    v-model="date1"
                    no-title
                    @input="menu1 = false"
                  />
                </v-menu>
              </div>
            </div>
            <div style="border-right: 1px dashed #6a31ff82; max-width: 20%">
              <div class="px-2 my-3 text-left">
                <label class="fs-13">
                  {{ $vuetify.lang.t('$vuetify.Status') }}
                </label>
                <v-select
                  v-model="status"
                  :items="itemsStatus"
                  item-text="text"
                  item-value="value"
                  dark
                  hide-details
                  clearable
                  class="fs-15px input-search"
                  persistent-hint
                  dense
                >
                  <template #prepend-inner>
                    <v-img
                      height="18"
                      width="18"
                      src="/VAB_booking/newStatus.png"
                    />
                    <v-divider
                      class="mt-0 ml-2"
                      color="#67BCD8"
                      inset
                      vertical
                    />
                  </template>
                </v-select>
              </div>
            </div>
            <div style="border-right: 1px dashed #6a31ff82">
              <div class="px-2 my-3 text-left">
                <label class="fs-13">
                  {{ $vuetify.lang.t('$vuetify.phoneNumber') }}
                </label>
                <v-text-field
                  v-model="phoneNumber"
                  clearable
                  class="fs-15px input-search"
                  hide-details
                  persistent-hint
                  dark
                  dense
                >
                  <template #prepend-inner>
                    <v-img
                      height="18"
                      width="18"
                      src="/VAB_booking/newPhone.png"
                    />
                    <v-divider
                      class="mt-0 ml-2"
                      color="#67BCD8"
                      inset
                      vertical
                    />
                  </template>
                </v-text-field>
              </div>
            </div>
            <div style="min-width: 25%" class="px-2 my-3 text-left">
              <label class="fs-13">
                {{
                  $vuetify.lang.t('$vuetify.name') +
                  ', ' +
                  $vuetify.lang.t('$vuetify.place')
                }}
              </label>
              <v-text-field
                v-model="search"
                class="fs-15px input-search"
                dark
                clearable
                hide-details
                persistent-hint
                dense
              >
                <template #prepend-inner>
                  <v-img
                    height="18"
                    width="18"
                    src="/VAB_booking/newSearch.png"
                  />
                  <v-divider class="mt-0 ml-2" color="#67BCD8" inset vertical />
                </template>
              </v-text-field>
            </div>
          </v-col>
          <v-col cols="1" class="px-0 d-flex align-center">
            <v-btn
              depressed
              small
              width="100%"
              color="#7848F4"
              class="border-radius-30"
              style="color: white; text-transform: none"
              @click="BookingHistoryList"
              @keyup.enter="BookingHistoryList"
            >
              <div class="font-weight-regular">
                {{ $vuetify.lang.t('$vuetify.search') }}
              </div>
            </v-btn>
          </v-col>
        </v-row>
        <v-col
          cols="12"
          class="pa-0"
          style="justify-content: start; display: flex; font-size: 14px"
        >
          <div v-if="(items || []).length !== 0" class="pa-1">
            <span class="black--text">
              {{ lang('$vuetify.pageBooking.history.waiting') }}:
            </span>
            <span class="mr-2">{{ items[0].statusWait }}</span>
            <span class="black--text">
              {{ lang('$vuetify.pageBooking.history.accepter') }}:
            </span>
            <span class="mr-2">{{ items[0].statusAccept }}</span>
            <span class="black--text">
              {{ lang('$vuetify.pageBooking.history.refuse') }}:
            </span>
            <span class="mr-2">{{ items[0].statusDeny }}</span>
          </div>
          <v-spacer />
          <div v-if="viewPortValue === 'mobile'" class="text-end">
            <v-btn depressed color="#7848F4" @click="openSearch = true">
              <v-icon color="white">
                {{ 'mdi-magnify' }}
              </v-icon>
            </v-btn>
          </div>
        </v-col>
        <v-card
          class="my-5 mt-2 mx-1"
          :class="viewPortValue !== 'mobile' ? 'border-radius-10-top' : ''"
        >
          <v-data-table
            :headers="headerBooking"
            :items="items"
            :items-per-page="10"
            hide-default-footer
            :loading-text="$vuetify.lang.t('$vuetify.pleaseWait') + '...'"
            :no-results-text="$vuetify.lang.t('$vuetify.NoMatchingResults')"
            :no-data-text="$vuetify.lang.t('$vuetify.noData')"
            fixed-header
            multi-sort
            light
            :class="
              viewPortValue !== 'mobile'
                ? 'custom_header_table'
                : 'custom_header_table custom-height elevation-1 '
            "
            @click:row="handleClick"
            style="cursor: pointer"
          >
            <template #[`item.stt`]="{ item }">
              {{ getItemIndex(item) }}
            </template>
            <template #[`item.fromTime`]="{ item }">
              {{ item.fromTime.slice(0, 10) }}
            </template>
            <template #[`item.toTime`]="{ item }">
              {{ item.toTime.slice(0, 10) }}
            </template>
            <template #[`item.address`]="{ item }">
              <div style="max-width: 200px">
                {{ item.address }}
              </div>
            </template>
            <template #[`item.content`]="{ item }">
              <div style="max-width: 200px">
                {{ item.content }}
              </div>
            </template>
            <template #[`item.status`]="{ item }">
              <div v-if="item.status == 1" style="color: #0fae04">
                {{ lang('$vuetify.pageBooking.history.accepter') }}
              </div>
              <div v-else-if="item.status == 2" style="color: #f90d0d">
                {{ lang('$vuetify.pageBooking.history.refuse') }}
              </div>
              <div v-else style="color: #b5acac">
                {{ lang('$vuetify.pageBooking.history.waitForConfirmation') }}
              </div>
            </template>
          </v-data-table>
          <v-row v-if="(items || []).length !== 0" class="py-5">
            <v-col cols="3" class="py-0" />
            <v-col
              cols="6"
              class="px-1 py-0 color-pagination depressed-pagination"
            >
              <v-pagination
                v-model="page"
                :length="totalPages"
                circle
                :total-visible="7"
              />
            </v-col>
            <v-col
              cols="3"
              class="py-0"
              style="
                font-size: 14px;
                align-items: center;
                display: flex;
                justify-content: flex-end;
              "
            />
          </v-row>
        </v-card>
      </div>
      <comfirm-booking
        v-show="action === 2"
        :open="action"
        :data="detailBooking"
        @toggle="action = 1"
        @success="BookingHistoryList"
      />
    </v-container>

    <search-booking
      :open="openSearch"
      :itemsstatus="itemsStatus"
      @toggle="openSearch = !openSearch"
      @success="callSearch"
    />
  </div>
</template>

<script>
import comfirmBooking from './comfirmBooking'
import searchBooking from '~/components/booking/history/searchBooking'
export default {
  components: {
    comfirmBooking,
    searchBooking,
  },
  data() {
    return {
      openSearch: false,
      detailBooking: {},
      openDialogConfirm: false,
      page: 1,
      items: [],
      totalPages: 0,
      search: '',
      phoneNumber: '',
      menu1: false,
      endDate: '',
      date1: '',
      menu: false,
      startDate: '',
      date: '',
      status: '',
      itemsStatus: [],
      action: 1,
    }
  },
  computed: {
    headerBooking() {
      return [
        {
          text: 'STT',
          width: 30,
          align: 'center',
          value: 'stt',
          sortable: false,
        },
        {
          text: this.lang('$vuetify.pageBooking.history.bookingCode'),
          width: 90,
          align: 'center',
          value: 'bookingCode',
          sortable: false,
        },
        {
          text: this.checkUser()
            ? this.lang('$vuetify.pageBooking.history.customerName')
            : this.lang('$vuetify.pageBooking.history.artistName'),
          width: 150,
          align: 'center',
          value: this.checkUser() ? 'custName' : 'artistName',
          sortable: false,
        },
        {
          text: this.lang('$vuetify.pageBooking.history.bookingTime'),
          width: 110,
          align: 'center',
          value: 'createTime',
          sortable: false,
        },
        {
          text: this.lang('$vuetify.startTime'),
          width: 120,
          align: 'center',
          value: 'fromTime',
          sortable: false,
        },
        {
          text: this.lang('$vuetify.endTime'),
          width: 120,
          align: 'center',
          value: 'toTime',
          sortable: false,
        },
        {
          text: this.lang('$vuetify.phoneNumber'),
          width: 110,
          align: 'center',
          value: this.checkPhone() ? 'phone' : 'mnPhone',
          sortable: false,
        },
        {
          text: this.lang('$vuetify.place'),
          width: 200,
          align: 'center',
          value: 'address',
          sortable: false,
        },
        {
          text: this.lang('$vuetify.historyBooking.table.Note'),
          width: 200,
          align: 'center',
          value: 'content',
          sortable: false,
        },
        {
          text: this.lang('$vuetify.Status'),
          width: 120,
          align: 'center',
          value: 'status',
          sortable: false,
        },
      ]
    },
    viewPortValue() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          return 'mobile'
        case 'sm':
          return 'tablet'
        case 'md':
          return 'tablet'
        case 'lg':
          return 'desktop'
        case 'xl':
          return 'desktop'
        default:
          return ''
      }
    },
  },
  watch: {
    date(val) {
      this.startDate = this.formatDate(this.date)
    },
    date1(val) {
      this.endDate = this.formatDate(this.date1)
    },
    page() {
      this.BookingHistoryList()
    },
    '$store.state.login.info'() {
      this.BookingHistoryList()
    },
    '$store.state.app.dataLanguage'() {
      this.itemsStatus = [
        { text: this.lang('$vuetify.pageBooking.history.refuse'), value: 2 },
        { text: this.lang('$vuetify.pageBooking.history.accepter'), value: 1 },
        {
          text: this.lang('$vuetify.pageBooking.history.waitForConfirmation'),
          value: 0,
        },
      ]
    },
  },
  mounted() {
    this.BookingHistoryList()
    this.itemsStatus = [
      { text: this.lang('$vuetify.pageBooking.history.refuse'), value: 2 },
      { text: this.lang('$vuetify.pageBooking.history.accepter'), value: 1 },
      {
        text: this.lang('$vuetify.pageBooking.history.waitForConfirmation'),
        value: 0,
      },
    ]
  },
  methods: {
    checkPhone() {
      return (
        this.$store.state.login.role &&
        this.$store.state.login.role.includes('ARTIST')
      )
    },
    checkUser() {
      return (
        this.$store.state.login.role &&
        !this.$store.state.login.role.includes('CUSTOMER')
      )
    },
    callSearch(value) {
      this.endDate = value.endDate
      this.phoneNumber = value.phoneNumber
      this.search = value.search
      this.startDate = value.startDate
      this.status = value.status
      this.BookingHistoryList()
    },
    handleClick(value) {
      // detail
      this.detailBooking = value
      this.action = 2
      // this.acceptBooking(value)
    },
    lang(value) {
      if (value) {
        return this.$vuetify.lang.t(value)
      }
    },
    getItemIndex(item) {
      return (this.page - 1) * 10 + this.items.indexOf(item) + 1
    },
    acceptBooking(item) {
      this.detailBooking = item
      this.changeStatus()
    },
    changeStatus() {
      this.openDialogConfirm = true
    },
    formatDate(date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${day}/${month}/${year}`
    },
    BookingHistoryList() {
      const data = {
        pageIndex: this.page,
        pageSize: 10,
        status: this.status,
        fromTime: this.startDate,
        toTime: this.endDate,
        address: this.search,
        phone: this.phoneNumber,
      }
      if (
        this.$store.state.login.role &&
        this.$store.state.login.role.includes('CUSTOMER')
      ) {
        data.custId = this.$store.state.login.info.account.id
      }
      this.$store.dispatch('booking/BookingHistoryList', data).then((res) => {
        if (!res.error) {
          this.items = res.data.data.data
          this.totalPages = res.data.data.totalPages
          this.action = 1
        }
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@media (min-width: 1904px) {
  .customContainer {
    max-width: 1300px !important;
    padding: 0px;
  }
  .customContainer1 {
    max-width: 1180px !important;
    padding: 0px;
  }
}
</style>
