<template>
  <v-app dark class="app">
    <client-only>
      <alert group="main" :duration="7000" position="top right" :max="5" />
    </client-only>
    <client-only>
      <!-- <notifications
        group="main"
        :duration="7000"
        position="top right"
        :max="5"
      /> -->
    </client-only>
    <v-app-bar
      fixed
      app
      :clipped-left="clipped"
      flat
      light
      class="color-header"
      style="background-image: url(/Menu.jpg); max-height: 48px !important"
    >
      <v-container class="px-1 py-0">
        <v-row no-gutters>
          <v-col
            class="d-flex"
            :class="viewPortValue == 'mobile' ? 'justify-content-center' : ''"
            :order="viewPortValue == 'mobile' ? '1' : ''"
          >
            <img
              style="cursor: pointer"
              :src="logo"
              :width="viewPortValue == 'mobile' ? 110 : 120"
              max-height="48"
              height="48"
              @click="roleHome"
            />
          </v-col>
          <template v-if="viewPortValue !== 'mobile'">
            <template v-for="(item, index) in ListMenu">
              <v-col
                v-if="checkTabLogin(item)"
                :key="index"
                cols="auto"
                style="max-height: 48px"
                class="d-flex align-center"
              >
                <v-hover>
                  <template #default="{ hover }">
                    <v-btn
                      class="btn-custom"
                      :color="
                        hover || tab == item.url ? 'rgb(104 185 214)' : 'white'
                      "
                      text
                      @click="roleLink(item)"
                    >
                      {{ item.name }}
                    </v-btn>
                  </template>
                </v-hover>
              </v-col>
            </template>
            <v-col
              v-if="$store.state.login.token"
              style="max-height: 48px"
              class="d-flex align-center ml-5"
              cols="auto"
            >
              <v-menu
                v-model="menu"
                transition="scroll-y-transition"
                offset-y
                left
                nudge-bottom="10"
              >
                <template #activator="{ on }">
                  <v-avatar
                    style="cursor: pointer"
                    size="30px"
                    class="mt-1"
                    v-on="on"
                  >
                    <v-img :src="avatar()" />
                  </v-avatar>
                  <template v-if="viewPortValue !== 'tablet'">
                    <div
                      v-if="$store.state.login.accountLogin"
                      class="pl-2 white--text hove-name fs-15"
                      style="cursor: pointer"
                      v-on="on"
                    >
                      {{ $store.state.login.accountLogin }}
                    </div>
                    <div
                      v-else
                      class="pl-2 white--text hove-name fs-15"
                      style="cursor: pointer"
                      v-on="on"
                    >
                      <!-- {{ $store.state.login.info.account.fullName }} -->
                    </div>
                  </template>
                </template>
                <v-list
                  dense
                  width="240"
                  class="py-0"
                  style="
                    background-color: #22318b !important;
                    color: white !important;
                  "
                >
                  <v-list-item-group v-model="action">
                    <v-list-item class="px-3" @click="actionPersonal">
                      <v-avatar
                        style="cursor: pointer"
                        size="30px"
                        class="mr-3"
                      >
                        <v-img :src="avatar()" />
                      </v-avatar>
                      <v-list-item-content class="white--text py-4">
                        <v-list-item-title>
                          <div
                            v-if="$store.state.login.accountLogin"
                            class="font-weight-medium fs-15"
                          >
                            {{ $store.state.login.accountLogin }}
                          </div>
                          <div v-else class="font-weight-medium fs-15">
                            <!-- {{ $store.state.login.info.account.fullName }} -->
                          </div>
                        </v-list-item-title>
                        <v-list-item-title>
                          <h5
                            v-if="$store.state.login.accountLogin"
                            class="font-weight-medium"
                          >
                            <!-- ({{ $store.state.login.info.account.fullName }}) -->
                          </h5>
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-divider color="#525478" />
                    <!-- màn pc --- Trang cá nhân -->
                    <v-list-item
                      @click="openInfo = true"
                      v-if="
                        $store.state.login.role
                          ? $store.state.login.role.includes('CUSTOMER')
                          : ''
                      "
                    >
                      <v-list-item-icon class="mr-0">
                        <v-icon size="21" color="white">
                          {{ 'mdi-account' }}
                        </v-icon>
                      </v-list-item-icon>

                      <v-list-item-content>
                        <v-list-item-title class="nuxt-link">
                          <h4 class="white--text font-weight-medium pl-2">
                            {{
                              $vuetify.lang.t(
                                '$vuetify.default.personalInformation'
                              )
                            }}
                          </h4>
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item
                      v-if="
                        $store.state.login.role
                          ? !$store.state.login.role.includes('CUSTOMER')
                          : false
                      "
                      @click="actionPersonal"
                    >
                      <v-list-item-icon class="mr-0">
                        <v-icon size="21" color="white">
                          {{ 'mdi-account' }}
                        </v-icon>
                      </v-list-item-icon>

                      <v-list-item-content>
                        <v-list-item-title class="nuxt-link">
                          <h4 class="white--text font-weight-medium pl-2">
                            {{
                              $vuetify.lang.t('$vuetify.default.personalPage')
                            }}
                          </h4>
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>

                    <v-list-item v-else @click="openHistory">
                      <v-list-item-icon class="mr-0">
                        <v-icon size="21" color="white">
                          {{ 'mdi-calendar-text' }}
                        </v-icon>
                      </v-list-item-icon>

                      <v-list-item-content>
                        <v-list-item-title class="nuxt-link">
                          <h4 class="white--text font-weight-medium pl-2">
                            {{
                              $vuetify.lang.t('$vuetify.default.bookingHistory')
                            }}
                          </h4>
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>

                    <v-list-item @click="openChangePass = true">
                      <v-list-item-icon class="mr-0">
                        <v-icon size="21" color="white">
                          {{ 'mdi-lock' }}
                        </v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title class="nuxt-link">
                          <h4 class="white--text font-weight-medium pl-2">
                            {{
                              $vuetify.lang.t('$vuetify.footer.ChangePassword')
                            }}
                          </h4>
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item @click="openDialogYesNo = true">
                      <v-list-item-icon class="mr-0">
                        <v-icon size="21" color="white">
                          {{ 'mdi-logout' }}
                        </v-icon>
                      </v-list-item-icon>

                      <v-list-item-content>
                        <v-list-item-title class="nuxt-link">
                          <h4 class="white--text font-weight-medium pl-2">
                            {{ $vuetify.lang.t('$vuetify.footer.logOut') }}
                          </h4>
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
              </v-menu>
              <v-btn x-small icon dark class="ml-2">
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </v-col>
            <v-col
              class="d-flex align-center"
              style="max-height: 48px"
              cols="auto"
            >
              <v-menu
                v-model="showMenu"
                left
                transition="scroll-y-transition"
                offset-y
                offset-x
                nudge-top="3"
                nudge-right="42"
              >
                <template #activator="{ on }">
                  <v-btn icon class="btnLanguage" width="50" v-on="on">
                    <v-img
                      :class="(viewPortValue === 'desktop' && '') || 'd-flex'"
                      :src="
                        $vuetify.lang.current === 'vi'
                          ? '/icon/vi_flag.png'
                          : '/icon/co_anh.png'
                      "
                      :max-width="(viewPortValue === 'desktop' && 30) || 30"
                      align="start"
                    />
                  </v-btn>
                </template>

                <v-list width="150" class="pa-1 border-list">
                  <v-list-item
                    v-for="(item, index) in items"
                    :key="index"
                    @click="changeLanguage(item)"
                  >
                    <v-list-item-icon class="mr-2">
                      <v-img
                        v-if="index == 0"
                        width="25"
                        src="/icon/vi_flag.png"
                      />
                      <v-img v-else width="25" src="/icon/co_anh.png" />
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title style="font-size: 14px">
                        {{ item.name }}
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-menu>
            </v-col>
          </template>
          <!-- menu khi bật màn điện thoại -->
          <v-col v-else cols="auto" align="end" class="px-0">
            <v-app-bar-nav-icon color="cyan" @click="drawer = !drawer" />
          </v-col>
          <v-col
            v-if="viewPortValue == 'mobile'"
            order="12"
            cols="auto"
            align="end"
            class="px-0"
          >
            <v-avatar
              v-if="!$store.state.login.token"
              style="cursor: pointer"
              size="30px"
              class="mt-2"
              @click="roleLink({ name: 'Đăng nhập' })"
            >
              <v-img :src="'/logo/user.png'" />
            </v-avatar>
            <div v-else class="d-flex align-center" cols="auto">
              <v-avatar
                style="cursor: pointer"
                size="30px"
                class="mt-2"
                @click="menu = !menu"
              >
                <v-img :src="avatar()" />
              </v-avatar>
              <!-- <div @click="menu = !menu">
                {{
                  !$store.state.login.accountLogin
                    ? $store.state.login.accountLogin
                    : ''
                }}
              </div> -->
              <v-menu v-model="menu" transition="scroll-y-transition " offset-y>
                <template #activator="{ on }">
                  <v-btn class="mt-1" x-small icon dark v-on="on">
                    <v-icon>mdi-dots-vertical</v-icon>
                  </v-btn>
                </template>
                <v-list
                  dense
                  width="179"
                  class="py-0"
                  style="background-color: #22318b !important"
                >
                  <v-list-item-group v-model="action">
                    <v-list-item @click="actionPersonal">
                      <v-avatar
                        style="cursor: pointer"
                        size="35px"
                        class="mr-2"
                      >
                        <v-img :src="avatar()" />
                      </v-avatar>
                      <v-list-item-content class="white--text py-4">
                        <v-list-item-title>
                          <div
                            v-if="$store.state.login.accountLogin"
                            class="font-weight-medium"
                          >
                            {{ $store.state.login.accountLogin }}
                          </div>
                          <div v-else class="font-weight-medium pl-2">
                            <!-- {{ $store.state.login.info.account.fullName }} -->
                          </div>
                        </v-list-item-title>
                        <v-list-item-title>
                          <h5
                            v-if="$store.state.login.accountLogin"
                            class="font-weight-medium"
                          >
                            <!-- ({{ $store.state.login.info.account.fullName }}) -->
                          </h5>
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-divider />
                    <v-list-item
                      @click="openInfo = true"
                      v-if="$store.state.login.role.includes('CUSTOMER')"
                    >
                      <v-list-item-icon class="mr-0">
                        <v-icon size="21" color="white">
                          {{ 'mdi-account' }}
                        </v-icon>
                      </v-list-item-icon>

                      <v-list-item-content>
                        <v-list-item-title class="nuxt-link">
                          <h4 class="white--text font-weight-medium pl-2">
                            {{
                              $vuetify.lang.t(
                                '$vuetify.default.personalInformation'
                              )
                            }}
                          </h4>
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item @click="openChangePass = true">
                      <v-list-item-icon class="mr-0">
                        <v-icon size="21" color="white">
                          {{ 'mdi-lock' }}
                        </v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title class="nuxt-link">
                          <h4 class="white--text font-weight-medium pl-2">
                            {{
                              $vuetify.lang.t('$vuetify.footer.ChangePassword')
                            }}
                          </h4>
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-divider />
                    <v-list-item
                      v-if="
                        $store.state.login.role
                          ? !$store.state.login.role.includes('CUSTOMER')
                          : false
                      "
                      @click="actionPersonal"
                    >
                      <v-list-item-icon class="mr-0">
                        <v-icon size="21" color="white">
                          {{ 'mdi-account' }}
                        </v-icon>
                      </v-list-item-icon>

                      <v-list-item-content>
                        <v-list-item-title class="nuxt-link">
                          <h4 class="white--text font-weight-medium pl-2">
                            {{
                              $vuetify.lang.t('$vuetify.default.personalPage')
                            }}
                          </h4>
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item v-else @click="openHistory">
                      <v-list-item-icon class="mr-0">
                        <v-icon size="21" color="white">
                          {{ 'mdi-calendar-text' }}
                        </v-icon>
                      </v-list-item-icon>

                      <v-list-item-content>
                        <v-list-item-title class="nuxt-link">
                          <h4 class="white--text font-weight-medium pl-2">
                            {{
                              $vuetify.lang.t('$vuetify.default.bookingHistory')
                            }}
                          </h4>
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-divider />
                    <v-list-item @click="openDialogYesNo = true">
                      <v-list-item-icon class="mr-0">
                        <v-icon color="white" size="21">
                          {{ 'mdi-logout' }}
                        </v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title>
                          <div class="white--text nuxt-link pl-2">
                            {{ $vuetify.lang.t('$vuetify.footer.logOut') }}
                          </div>
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
              </v-menu>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </v-app-bar>
    <v-main>
      <nuxt />
    </v-main>
    <v-navigation-drawer
      v-if="viewPortValue == 'mobile'"
      v-model="drawer"
      :left="true"
      width="240px"
      src="/logo/Bg_menu_VAB.png"
      class="#253494"
      temporary
      fixed
    >
      <v-list-item>
        <div>
          <v-avatar style="cursor: pointer" size="40px" class="mr-2">
            <v-img :src="avatar()" />
          </v-avatar>
        </div>
        <v-list-item-content>
          <v-list-item-title
            class="text-h6 white--text d-flex"
            style="align-items: center"
          >
            <div
              v-if="$store.state.login.accountLogin"
              class="font-weight-medium fs-15"
            >
              {{ $store.state.login.accountLogin }}
            </div>
            <div v-else class="font-weight-medium fs-15">
              <!-- <template v-if="$store.state.login.info.account.fullName"> -->
              <!-- {{ $store.state.login.info.account.fullName }} -->
              <!-- </template> -->
            </div>
            <v-spacer />
            <v-menu v-model="showMenu" absolute offset-y>
              <template #activator="{ on }">
                <v-btn icon class="btnLanguage" width="50" v-on="on">
                  <v-img
                    :class="(viewPortValue === 'desktop' && '') || 'd-flex'"
                    :src="
                      $vuetify.lang.current === 'vi'
                        ? '/icon/vi_flag.png'
                        : '/icon/co_anh.png'
                    "
                    :max-width="(viewPortValue === 'desktop' && 30) || 30"
                    align="start"
                  />
                </v-btn>
              </template>

              <v-list>
                <v-list-item
                  v-for="(item, index) in items"
                  :key="index"
                  @click="changeLanguage(item)"
                >
                  <v-list-item-icon class="mr-2">
                    <v-img
                      v-if="index == 0"
                      width="25"
                      src="/icon/vi_flag.png"
                    />
                    <v-img v-else width="25" src="/icon/co_anh.png" />
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title style="font-size: 14px">
                      {{ item.name }}
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-menu>
          </v-list-item-title>
          <v-list-item-subtitle />
        </v-list-item-content>
      </v-list-item>

      <v-list dense>
        <v-list-item-group>
          <v-list-item
            v-for="(item, i) in ListMenu"
            :key="i"
            @click="roleLink(item)"
          >
            <template v-if="$store.state.login.token ? i != 4 : true">
              <!-- <v-list-item-icon>
                <v-img :src="item.icon" width="25" height="23" />
              </v-list-item-icon> -->
              <v-list-item-content>
                <v-list-item-title class="white--text" v-text="item.name" />
              </v-list-item-content>
            </template>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <v-footer
      absolute
      app
      class="color-header footer-bottom"
      :height="viewPortValue == 'mobile' ? 764 : 275"
    >
      <footerVab @tab="roleLink($event)" />
    </v-footer>
    <dialoglogin :view-port-value="viewPortValue" @toggle="tab = oldValue" />
    <yes-no-alert
      :alertmsg="$vuetify.lang.t('$vuetify.default.titleLogo')"
      :open="openDialogYesNo"
      @toggle="openDialogYesNo = !openDialogYesNo"
      @OK="logOut"
    />
    <!-- dialogName="Đổi mật khẩu tài khoản" -->
    <Dialog
      :dialogname="$vuetify.lang.t('$vuetify.default.ChangeAccountPassword')"
      :open="openChangePass"
      max_width="600px"
      @actionsUser="changePass"
      @toggle="toggleChangePass"
    >
      <v-container fluid class="pb-0">
        <v-col class="pa-0">
          <v-text-field
            ref="password"
            :value="selectedItem.password.value"
            :error="selectedItem.password.invalid"
            :error-messages="selectedItem.password.invalidMsg"
            dense
            outlined
            class="mt-3"
            :label="$vuetify.lang.t('$vuetify.default.oldPassword')"
            :type="showPassword ? 'text' : 'password'"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            @input="change($event, 'password')"
            @click:append="showPassword = !showPassword"
          />
          <v-text-field
            ref="password"
            :value="selectedItem.newPass.value"
            :error="selectedItem.newPass.invalid"
            :error-messages="selectedItem.newPass.invalidMsg"
            dense
            outlined
            :label="$vuetify.lang.t('$vuetify.default.newPassword')"
            :type="showNewPassword ? 'text' : 'password'"
            :append-icon="showNewPassword ? 'mdi-eye' : 'mdi-eye-off'"
            @input="change($event, 'newPass')"
            @click:append="showNewPassword = !showNewPassword"
          />
          <v-text-field
            ref="password"
            :value="selectedItem.reNewPass.value"
            :error="selectedItem.reNewPass.invalid"
            :error-messages="selectedItem.reNewPass.invalidMsg"
            dense
            outlined
            :label="$vuetify.lang.t('$vuetify.default.retypeNewPassword')"
            :type="showReNewPassword ? 'text' : 'password'"
            :append-icon="showReNewPassword ? 'mdi-eye' : 'mdi-eye-off'"
            @input="change($event, 'reNewPass')"
            @click:append="showReNewPassword = !showReNewPassword"
          />
        </v-col>
      </v-container>
    </Dialog>
    <dialogInfo :open="openInfo" @toggle="openInfo = !openInfo"></dialogInfo>
  </v-app>
</template>

<script>
import Cookies from 'js-cookie'
import logoPNG from '@/assets/logo/logo.png'
import footerVab from './footerVab'
import alert from '~/components/alert/index'
import dialoglogin from '~/components/login/dialoglogin'
import YesNoAlert from '~/components/YesNoAlert'
import URL from '~/assets/configurations/Base_Url'
import APIs from '~/assets/configurations/API_Config'
import Dialog from '~/components/Dialog'
import dialogInfo from '~/components/login/dialogInfo.vue'
export default {
  components: {
    dialoglogin,
    YesNoAlert,
    alert,
    footerVab,
    Dialog,
    dialogInfo,
  },
  data() {
    return {
      selectedItem: {
        password: {
          value: '',
          invalid: false,
          invalidMsg: '',
        },
        newPass: {
          value: '',
          invalid: false,
          invalidMsg: '',
        },
        reNewPass: {
          value: '',
          invalid: false,
          invalidMsg: '',
        },
      },
      email: '',
      action: '',
      menu: '',
      showMenu: false,
      items: [],
      ListMenu: [],
      listItem: [
        { text: 'Trang chủ', icon: '/imgFake/home.png' },
        { text: 'Về chúng tôi', icon: '/imgFake/ve_chung_toi.png' },
        { text: 'Booking', icon: '/imgFake/booking.png' },
        { text: 'Dịch vụ', icon: '/imgFake/dichVu.png' },
        { text: 'Đăng nhập', icon: '/imgFake/login.png' },
      ],
      openChangePass: false,
      showPassword: false,
      showNewPassword: false,
      showReNewPassword: false,
      viewPort: '',
      tab: 0,
      token: false,
      logo: logoPNG,
      clipped: false,
      drawer: false,
      fixed: false,
      openDialogYesNo: false,
      oldValue: '',
      value: 1,
      active: true,
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js',
      openInfo: false,
    }
  },

  computed: {
    viewPortValue() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          return 'mobile'
        case 'sm':
          return 'tablet'
        case 'md':
          return 'tablet'
        case 'lg':
          return 'desktop'
        case 'xl':
          return 'desktop'
        default:
          return ''
      }
    },
  },

  watch: {
    '$store.state.app.dataLanguage'() {
      this.getFooter()
    },
    '$store.state.login.openLogin'() {
      setTimeout(() => {
        this.checkTab()
      }, 0)
    },
    '$store.state.artists.tabs'() {
      this.tab = '/artists'
    },
    '$vuetify.breakpoint.name'(value) {
      switch (value) {
        case 'xs':
          this.$store.commit('app/setViewPort', 'mobile')
          break
        case 'sm':
          this.$store.commit('app/setViewPort', 'tablet')
          break
        case 'md':
          this.$store.commit('app/setViewPort', 'desktop')
          break
        case 'lg':
          this.$store.commit('app/setViewPort', 'desktop')
          break
        case 'xl':
          this.$store.commit('app/setViewPort', 'desktop')
          break
      }
    },
  },

  mounted() {
    this.setDataState()
    this.language()
    this.$store.commit('app/setViewPort', this.viewPortValue)
    this.email = !Cookies.get('email') ? Cookies.get('email') : ''
    this.getFooter()
  },
  methods: {
    setInvalid(payload) {
      this.selectedItem[payload.field] = {
        ...this.selectedItem[payload.field],
        invalid: true,
        invalidMsg: payload.message,
      }
    },
    // hàm đổi pass
    async changePass() {
      let error = false
      if (this.selectedItem.password.value === '') {
        error = true
        this.setInvalid({
          field: 'password',
          message: 'Không được để trống',
        })
      }
      if (this.selectedItem.newPass.value === '') {
        error = true
        this.setInvalid({
          field: 'newPass',
          message: 'Không được để trống',
        })
      } else if (this.selectedItem.newPass.value.length < 8) {
        error = true
        this.setInvalid({
          field: 'newPass',
          message: 'Không được ít hơn 8 ký tự',
        })
      }
      if (this.selectedItem.reNewPass.value === '') {
        error = true
        this.setInvalid({
          field: 'reNewPass',
          message: 'Không được để trống',
        })
      } else if (
        this.selectedItem.reNewPass.value !== this.selectedItem.newPass.value
      ) {
        error = true
        this.setInvalid({
          field: 'reNewPass',
          message: 'Mật khẩu không khớp',
        })
      } else if (
        this.selectedItem.password.value === this.selectedItem.newPass.value
      ) {
        error = true
        this.setInvalid({
          field: 'newPass',
          message: 'Mật khẩu không trùng với mật khẩu cũ',
        })
      }
      if (!error) {
        const data = {
          pass_old: this.selectedItem.password.value,
          pass_new: this.selectedItem.newPass.value,
        }
        try {
          const response = this.checkUser()
            ? await this.$changePassUser(data)
            : await this.$changePassUser1(data)
          const errorCode = response.data.error.code
          if (errorCode === APIs.responses.OK.code) {
            this.toggleChangePass()
            this.$store.dispatch('notification/set_notifications', {
              type: 'success',
              color: 'success',
              text: this.$vuetify.lang.t(
                '$vuetify.default.changePasswordSuccessfully'
              ),
              dark: true,
            })
          }
        } catch (errors) {
          // this.$store.dispatch('notification/set_notifications', {
          //   type: 'warning',
          //   color: 'warning',
          //   text: this.$vuetify.lang.t('$vuetify.default.changePasswordFailed'),
          //   dark: true,
          // })
        }
      }
    },
    // event input change
    change(value, field) {
      this.selectedItem[field] = {
        ...this.selectedItem[field],
        value,
        invalid: false,
        invalidMsg: '',
      }
    },
    openHistory() {
      this.tab = '/artists'
      this.$router.push('/lich-su-booking-khach-hang')
    },
    setDataState() {
      this.$store.commit('login/setRole', Cookies.get('role'))
      this.$store.commit('login/setAvatar', Cookies.get('avatar'))
      if (!this.$isNullOrEmpty(Cookies.get('account'))) {
        this.$store.commit('login/setAccountLogin', Cookies.get('account'))
      } else {
        this.$store.commit('login/setAccountLogin', '')
      }
      this.$store.commit('login/setToken', Cookies.get('token'))
      this.$store.commit('login/Seturl', this.$route)
      if (Cookies.get('dataInfo')) {
        this.$store.commit(
          'login/setDataInfo',
          JSON.parse(Cookies.get('dataInfo'))
        )
      }
    },
    toggleChangePass() {
      this.selectedItem = {
        password: {
          value: '',
          invalid: false,
          invalidMsg: '',
        },
        newPass: {
          value: '',
          invalid: false,
          invalidMsg: '',
        },
        reNewPass: {
          value: '',
          invalid: false,
          invalidMsg: '',
        },
      }
      this.openChangePass = !this.openChangePass
      this.rightDrawer = false
    },
    checkTabLogin(item) {
      if (
        (item.name === 'Đăng nhập' && this.$store.state.login.token) ||
        (item.name === 'Login' && this.$store.state.login.token) ||
        (item.name === 'Sign in' && this.$store.state.login.token)
      ) {
        return false
      } else {
        return true
      }
    },
    getFooter() {
      const data = {
        menuId: 1,
      }
      this.$store.dispatch('setting/getFooter', data).then((res) => {
        this.ListMenu = res.data.data
        this.checkTab()
      })
    },
    avatar() {
      if (this.$isNullOrEmpty(this.$store.state.login.avatar)) {
        return '/logo/user.png'
      } else {
        return URL.urlImg + this.$store.state.login.avatar
      }
    },
    language() {
      this.$store.dispatch('language/language').then((res) => {
        if (!res.error) {
          this.items = res.data.data
        }
      })
    },
    checkTab() {
      for (let i = 0; i < this.ListMenu.length; i++) {
        if (this.ListMenu[i].url === this.$route.path) {
          this.tab = this.ListMenu[i].url
        } else if (
          this.$route.name === 'booking' ||
          this.$route.name === 'lich-su-booking-khach-hang'
        ) {
          this.tab = '/artists'
        } else if (
          '/' + this.$route.params.pathMatch ===
          this.ListMenu[i].url
        ) {
          this.tab = this.ListMenu[i].url
        }
      }
    },
    actionPersonal() {
      if (
        this.$store.state.login.role
          ? !this.$store.state.login.role.includes('CUSTOMER')
          : false
      ) {
        this.tab = '/artists'
        // this.$router.push(`/booking/${Cookies.get('accountId')}`)
        let plan = Cookies.get('accountId')
        this.$router.push({
          path: `/booking/${this.$removeAccents(Cookies.get('account')).replace(
            / /g,
            '-'
          )}`,
          query: { plan },
        })
        this.$store.commit('app/callInfoArtist')
      }
    },
    checkUser() {
      return this.$store.state.login.role
        ? !this.$store.state.login.role.includes('CUSTOMER')
        : false
    },
    changeLanguage(languageId) {
      this.$vuetify.lang.current = languageId.code

      if (languageId.code === 'vi') {
        this.$store.commit('app/setLanguage', 1)
      } else {
        this.$store.commit('app/setLanguage', 2)
      }
    },
    logOut() {
      // this.$router.app.$notify({
      //   group: 'main',
      //   type: 'success',
      //   text: this.$vuetify.lang.t('$vuetify.default.successfulLogout'),
      // })
      this.$store.dispatch('notification/set_notifications', {
        type: 'success',
        color: 'success',
        text: this.$vuetify.lang.t('$vuetify.default.successfulLogout'),
        dark: true,
      })
      this.tab = '/'
      this.$logout(this.$router)
      this.$store.commit('login/setRole', '')
      this.$store.commit('login/setToken', '')
      this.$store.commit('login/setAvatar', '')
      this.$store.commit('login/setAccountLogin', '')
      this.$router.push(`/`)
    },
    roleHome() {
      this.tab = 0
      this.$router.push('/')
    },
    roleLink(value) {
      if (
        value.name !== 'Đăng nhập' &&
        value.name !== 'Login' &&
        value.name !== 'Sign in'
      ) {
        this.tab = value.url
        if (value.pageType === 0) {
          this.$router.push(`/vab/${value.url}`)
        } else {
          this.$router.push(value.url)
        }
      } else if (!this.$store.state.login.accountLogin) {
        this.$store.commit('login/setLogin')
        this.$store.commit('login/unsetItem')
        this.$store.commit('login/clearErrors')
      }
    },
  },
}
</script>
<style lang="scss">
.nuxt-link {
  text-decoration: none;
  color: #ff296b !important;
}

.customTab:hover::before {
  opacity: 0 !important;
}
@media (max-width: 1050px) {
  .custumContainer {
    max-width: 334px !important;
  }
}
@media (min-width: 1904px) {
  .container {
    max-width: 1300px !important;
  }
}
.app {
  // .custom-btn {

  // }
  .fone {
    font-size: 14px;
  }
  .border-list {
    border-radius: 7px !important;
    background-color: #eff4ff !important;
  }
  .centerRow {
    display: flex;
    justify-content: center;
  }
  .color-header {
    background-color: #222222 !important;
  }
  .v-tabs-slider {
    background-color: #222222 !important;
  }
  .btn-custom {
    font-weight: 500 !important;
    text-transform: none !important;
    .v-ripple__container {
      display: none !important;
    }
  }
  .btn-custom:hover::before {
    opacity: 0 !important;
  }
  .v-footer {
    padding: 0px;
  }
  .row {
    margin: 0px;
  }
  .footer-vab {
    width: 100%;
    color: white;
  }
  .ctm-tabs {
    .v-tab {
      color: white !important;
      padding-left: 0px;
      padding-right: 0px;
    }
    .v-tab--active {
      color: #2f55ed !important;
    }
  }
  .customInput {
    background-color: #cfcccca6;
    border-radius: 45px;
    padding: 3px;
    .v-input__slot {
      border-radius: 45px;
      background-color: #cfcccc00 !important;
      box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%),
        0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 1px 5px 0px rgb(0 0 0 / 0%) !important ;
    }
    i {
      color: white !important;
    }
    label {
      color: white !important;
    }
    input {
      color: white !important;
    }

    span.v-btn__content {
      color: white !important;
    }
  }
  .hove-name:hover {
    color: #68b9d6 !important;
  }
}
</style>
