<template>
  <v-row>
    <v-col cols="12" class="pa-0">
      <!-- <v-img
        :min-height="viewPortValue == 'mobile' ? 230 : 130"
        src="/footer.jpg"
        class="customImg"
        max-width="100%"
      >
        <v-container class="px-0">
          <v-row style="color: white" class="centerRow">
            <v-col
              cols="12"
              md="6"
              sm="6"
              :class="viewPortValue == 'mobile' ? 'mt-4' : 'mt-4 pl-0'"
            >
              <h1 class="font-weight-regular">
                {{ $vuetify.lang.t('$vuetify.footer.REGISTRATION') }}
              </h1>
              <div class="fs-14">
                {{ $vuetify.lang.t('$vuetify.footer.Subscribe') }}
              </div>
            </v-col>
            <v-col cols="12" md="6" sm="6" class="pr-5">
              <div class="d-flex customInput mt-7">
                <v-text-field
                  v-model="email"
                  :dense="viewPortValue === 'mobile'"
                  :label="$vuetify.lang.t('$vuetify.footer.EmailAddress')"
                  light
                  hide-details
                  prepend-inner-icon="mdi-email-outline"
                  solo
                />
                <div
                  class="px-7"
                  :style="viewPortValue === 'mobile' ? '' : 'margin-top: 6px'"
                >
                  <v-btn depressed color="#cfcccc00" @click="demo">
                    {{ $vuetify.lang.t('$vuetify.footer.REGISTRATION') }}
                  </v-btn>
                </div>
              </div>
            </v-col>
          </v-row>
        </v-container>
      </v-img> -->
      <v-img
        src="/footer-bottom.jpg"
        :min-height="viewPortValue == 'mobile' ? 593 : 233"
        class="customImg"
        max-width="100%"
      >
        <v-container class="footer-vab pa-0">
          <v-row
            class="centerRow"
            style="
              border-bottom: 1px solid #151515;
              min-height: 211px;
              display: flex;
              justify-content: space-between;
            "
          >
            <v-col
              cols="12"
              md="auto"
              sm="auto"
              :class="viewPortValue == 'mobile' ? '' : 'px-0'"
            >
              <v-img :src="logo" width="160" height="64" />
              <div class="pt-2">
                <div class="mb-4 fs-14">
                  {{ $vuetify.lang.t('$vuetify.footer.FollowUs') }}
                </div>
                <div class="mt-2 d-flex">
                  <v-hover v-if="response.fbLink" v-slot="{ hover }">
                    <a :href="response.fbLink" target="_blank">
                      <v-img
                        v-if="hover"
                        src="/imgFooter/facebook1.png"
                        width="28"
                        height="28"
                      />
                      <v-img
                        v-else
                        src="/imgFooter/facebook2.png"
                        width="28"
                        height="28"
                      />
                    </a>
                  </v-hover>
                  <v-hover v-if="response.insLink" v-slot="{ hover }">
                    <a :href="response.insLink" target="_blank">
                      <v-img
                        v-if="hover"
                        src="/imgFooter/instagram1.png"
                        width="28"
                        height="28"
                      />
                      <v-img
                        v-else
                        src="/imgFooter/instagram2.png"
                        width="28"
                        height="28"
                      />
                    </a>
                  </v-hover>
                  <v-hover v-if="response.snapchat" v-slot="{ hover }">
                    <a :href="response.snapchat" target="_blank">
                      <v-img
                        v-if="hover"
                        src="/imgFooter/ma1.png"
                        width="28"
                        height="28"
                      />
                      <v-img
                        v-else
                        src="/imgFooter/ma2.png"
                        width="28"
                        height="28"
                      />
                    </a>
                  </v-hover>
                  <v-hover v-if="response.twtLink" v-slot="{ hover }">
                    <a :href="response.twtLink" target="_blank">
                      <v-img
                        v-if="hover"
                        src="/imgFooter/tw1.png"
                        width="28"
                        height="28"
                      />
                      <v-img
                        v-else
                        src="/imgFooter/tw2.png"
                        width="28"
                        height="28"
                      />
                    </a>
                  </v-hover>
                  <v-hover v-if="response.linked" v-slot="{ hover }">
                    <a :href="response.linked" target="_blank">
                      <v-img
                        v-if="hover"
                        src="/imgFooter/in1.png"
                        width="28"
                        height="28"
                      />
                      <v-img
                        v-else
                        src="/imgFooter/in2.png"
                        width="28"
                        height="28"
                      />
                    </a>
                  </v-hover>
                </div>
              </div>
            </v-col>
            <v-col cols="12" md="auto" sm="auto" class="pt-0">
              <div class="d-flex mt-5">
                <div
                  class="mr-1 font-weight-bold fs-14"
                  style="border-bottom: 3px solid"
                >
                  {{ $vuetify.lang.t('$vuetify.footer.contact') }}
                </div>
                <div
                  v-if="$vuetify.lang.current == 'vi'"
                  class="font-weight-bold"
                >
                  HỆ
                </div>
              </div>
              <div>
                <div class="mt-5">
                  <div class="d-flex">
                    <v-hover v-slot="{ hover }">
                      <a
                        :href="`tel:${phone}`"
                        class="py-1 d-flex fs-14"
                        style="text-decoration: none"
                      >
                        <div
                          :style="hover ? 'color:#68b9d6' : 'color:white'"
                          class="d-flex"
                          style="align-items: center"
                        >
                          <v-img
                            v-if="hover"
                            src="/imgFooter/call1.png"
                            class="mr-2"
                            width="17"
                            height="17"
                          />
                          <v-img
                            v-else
                            src="/imgFooter/call2.png"
                            class="mr-2"
                            width="17"
                            height="17"
                          />
                          Phone: {{ phone }}
                        </div>
                      </a>
                    </v-hover>
                  </div>
                  <div class="d-flex">
                    <v-hover v-slot="{ hover }">
                      <a
                        :href="`mailto:${emailFooter}`"
                        class="py-1 fs-14 d-flex"
                        style="text-decoration: none"
                      >
                        <div
                          :style="hover ? 'color:#68b9d6' : 'color:white'"
                          class="d-flex"
                          style="align-items: center"
                        >
                          <v-img
                            v-if="hover"
                            src="/imgFooter/email1.png"
                            class="mr-2"
                            width="17"
                            height="12"
                          />
                          <v-img
                            v-else
                            src="/imgFooter/email2.png"
                            class="mr-2"
                            width="17"
                            height="12"
                          />
                          Email: {{ emailFooter }}
                        </div>
                      </a>
                    </v-hover>
                  </div>
                  <div class="d-flex">
                    <v-hover v-slot="{ hover }">
                      <a
                        :href="link"
                        class="py-1 fs-14"
                        style="text-decoration: none"
                        target="_blank"
                      >
                        <div
                          :style="hover ? 'color:#68b9d6' : 'color:white'"
                          class="d-flex"
                          style="align-items: center"
                        >
                          <div style="padding-top: 3px">
                            <v-img
                              v-if="hover"
                              src="/imgFooter/internet1.png"
                              class="mr-2"
                              width="17"
                              height="17"
                            />
                            <v-img
                              v-else
                              src="/imgFooter/internet2.png"
                              class="mr-2"
                              width="17"
                              height="17"
                            />
                          </div>
                          {{ link }}
                        </div>
                      </a>
                    </v-hover>
                  </div>
                </div>
              </div>
            </v-col>
            <v-col cols="12" md="auto" sm="auto" class="pt-0">
              <div class="d-flex mt-5">
                <div
                  class="mr-1 font-weight-bold fs-14"
                  style="border-bottom: 3px solid"
                >
                  {{ $vuetify.lang.t('$vuetify.footer.policy') }}
                </div>
                <div
                  v-if="$vuetify.lang.current == 'vi'"
                  class="font-weight-bold"
                >
                  SÁCH
                </div>
              </div>
              <div>
                <div class="mt-5">
                  <template v-for="item in dataBooks">
                    <div :key="item.id" class="d-flex">
                      <div style="cursor: pointer" class="py-1">
                        <v-hover v-slot="{ hover }">
                          <div
                            :style="hover ? 'color:#68b9d6' : 'color:white'"
                            class="fs-14"
                            @click="routerPage(item)"
                          >
                            {{ item.name }}
                          </div>
                        </v-hover>
                      </div>
                    </div>
                  </template>
                </div>
              </div>
            </v-col>
            <v-col cols="12" md="auto" sm="auto" class="mb-4 pr-5 pt-0">
              <div class="d-flex mt-5 mb-5">
                <div
                  class="mr-1 font-weight-bold fs-14"
                  style="border-bottom: 3px solid"
                >
                  {{ $vuetify.lang.t('$vuetify.footer.link') }}
                </div>
                <div
                  v-if="$vuetify.lang.current == 'vi'"
                  class="font-weight-bold pb-1"
                >
                  KẾT
                </div>
              </div>
              <template v-for="(item, index) in listmenu">
                <div
                  v-if="checkTabLogin(index + 1)"
                  :key="index"
                  style="cursor: pointer"
                  class="py-1 fs-14"
                >
                  <div class="d-flex">
                    <v-hover v-slot="{ hover }">
                      <div
                        :style="hover ? 'color:#68b9d6' : 'color:white'"
                        @click="roleLink(item)"
                      >
                        {{ item.name }}
                      </div>
                    </v-hover>
                  </div>
                </div>
              </template>
            </v-col>
          </v-row>
          <div style="padding: 19px; text-align: center">
            © 2022 Vietnam Artist Network
          </div>
        </v-container>
      </v-img>
    </v-col>
  </v-row>
</template>

<script>
import logoPNG from '@/assets/logo/logo.png'
export default {
  data() {
    return {
      response: '',
      listmenu: [],
      dataBooks: [],
      phone: '',
      emailFooter: '',
      link: '',
      logo: logoPNG,
      email: '',
    }
  },
  computed: {
    viewPortValue() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          return 'mobile'
        case 'sm':
          return 'tablet'
        case 'md':
          return 'tablet'
        case 'lg':
          return 'desktop'
        case 'xl':
          return 'desktop'
        default:
          return ''
      }
    },
  },
  watch: {
    '$store.state.login.info'(value) {
      this.email = value.account.email
    },
    '$store.state.app.dataLanguage'() {
      this.getInformation()
      this.getFooter(2)
      this.getFooter(3)
    },
  },
  mounted() {
    this.getInformation()
    this.getFooter(2)
    this.getFooter(3)
  },
  methods: {
    demo() {
      this.$store.dispatch('notification/set_notifications', {
        type: 'success',
        color: 'success',
        text: 'Đăng ký thành công',
        dark: true,
      })
    },
    getInformation() {
      const data = {}
      this.$store.dispatch('setting/getInformation', data).then((res) => {
        this.response = res.data.data
        const response = res.data.data
        this.phone = response.phone
        this.emailFooter = response.email
        this.link = response.website
      })
    },
    checkTabLogin(index) {
      if (index !== this.listmenu.length) {
        return true
      } else if (!this.$store.state.login.token) {
        return true
      } else {
        return false
      }
    },
    roleLink(value) {
      this.$emit('tab', value)
    },
    routerPage(item) {
      this.$store.commit('setting/setPage')
      this.$router.push(`/vab/${item.url}`)
    },
    getFooter(number) {
      const data = {
        menuId: number,
      }
      this.$store.dispatch('setting/getFooter', data).then((res) => {
        if (number === 2) {
          this.dataBooks = res.data.data
        } else {
          this.listmenu = res.data.data
        }
      })
    },
  },
}
</script>

<style lang="scss">
.customImg {
  .v-responsive__content {
    max-width: 100% !important;
    width: auto !important;
  }
}
@media (min-width: 1904px) {
  .customContainer {
    max-width: 1300px !important;
    padding: 0px;
  }
}
</style>
