<template>
  <div class="home">
    <v-carousel
      cycle
      hide-delimiter-background
      show-arrows-on-hover
      :height="height()"
    >
      <v-carousel-item v-for="(slide, i) in slides" :key="i">
        <img
          style="width: 100%; object-fit: inherit; height: 100%"
          :src="UrlImg(slide.image)"
        />
      </v-carousel-item>
    </v-carousel>
    <v-container
      class="px-0"
      :style="
        $store.state.app.viewPort == 'mobile'
          ? 'width:100% ; padding: 0px;'
          : ''
      "
    >
      <!-- news -->
      <v-row>
        <v-col cols="12" class="px-0">
          <h2 class="py-1 px-1">
            {{ $vuetify.lang.t('$vuetify.pageHome.internalNews') }}
          </h2>
          <client-only>
            <news :dataproduct="dataProduct" />
          </client-only>
          <h2 class="py-1 pt-6 px-1">
            {{ $vuetify.lang.t('$vuetify.pageHome.featuredProducts') }}
          </h2>
        </v-col>
      </v-row>
    </v-container>
    <!-- Sản phẩm nổi bật -->
    <v-carousel
      cycle
      hide-delimiter-background
      show-arrows-on-hover
      :height="heightSP('10.625rem', '22rem', '41rem')"
      class="tustom-carousel"
    >
      <v-carousel-item v-for="(item, i) in ListProduct" :key="i">
        <div style="background-color: #222222">
          <v-container class="px-1">
            <a :href="item.embeddedUrl" target="_blank">
              <v-img
                :height="heightSP('8.625rem', '20rem', '39rem')"
                :src="UrlImg(item.imageUrl)"
              />
            </a>
          </v-container>
        </div>
      </v-carousel-item>
    </v-carousel>
    <v-container
      class="px-0"
      :style="
        $store.state.app.viewPort == 'mobile'
          ? 'width:100% ; padding: 0px;'
          : ''
      "
    >
      <v-row class="px-1">
        <v-col cols="12" class="px-0">
          <h2>
            {{ $vuetify.lang.t('$vuetify.pageHome.featuredArtist') }}
          </h2>
        </v-col>
        <v-col
          v-for="(item, index) in blocks"
          :key="`artist-${item.id}-${index}`"
          cols="6"
          md="3"
          :class="
            $store.state.app.viewPort == 'mobile' ? 'px-1 pt-0' : 'pr-5 pl-0'
          "
        >
          <v-hover class="brick">
            <template #default="{ hover }">
              <v-card elevation="0" rounded="lg" class="border-radius-10">
                <v-card class="border-radius-10">
                  <v-img
                    width="100%"
                    :height="heightArtist()"
                    :src="showAvatar(item.avatar)"
                    alt=""
                    @error="errorImg(index)"
                    @click="detail(item)"
                  >
                    <div style="position: absolute; right: 8px; top: 6px">
                      <v-btn
                        v-if="item.favoriteStatus == 1"
                        class="mx-2"
                        fab
                        dark
                        x-small
                        color="#00000042"
                        depressed
                        @click="clickLike(item)"
                      >
                        <v-icon
                          dark
                          style="font-size: 16px !important"
                          :color="
                            item.favoriteStatus == 1 ? '#ff5959' : '#d9d9d9'
                          "
                        >
                          {{ 'mdi-heart' }}
                        </v-icon>
                      </v-btn>
                    </div>
                    <v-overlay
                      :absolute="true"
                      :value="hover"
                      :opacity="0.7"
                      class="flex-end"
                      width="100%"
                    >
                      <div
                        class="d-flex flex-column justify-end h-100 text-center"
                      >
                        <div class="pb-2">
                          <div style="position: absolute; right: 8px; top: 6px">
                            <v-btn
                              class="mx-2"
                              fab
                              dark
                              x-small
                              color="#00000042"
                              depressed
                              @click="clickLike(item)"
                            >
                              <v-icon
                                dark
                                style="font-size: 16px !important"
                                :color="
                                  item.favoriteStatus == 1
                                    ? '#ff5959'
                                    : '#d9d9d9'
                                "
                              >
                                {{ 'mdi-heart' }}
                              </v-icon>
                            </v-btn>
                          </div>
                          <v-btn
                            v-if="checktoken()"
                            depressed
                            color="#00000042"
                            style="
                              text-transform: none;
                              width: 45%;
                              border-radius: 7px;
                              color: #d9d9d9;
                              border: thin solid #ffffff1f;
                            "
                            class="mr-1"
                            @click="openDialogBooking(item)"
                          >
                            Booking
                          </v-btn>
                          <v-btn
                            v-if="checktoken()"
                            depressed
                            color="#00000042"
                            style="
                              text-transform: none;
                              width: 45%;
                              border-radius: 7px;
                              color: #d9d9d9;
                              border: thin solid #ffffff1f;
                            "
                            @click="profileDetail(item)"
                          >
                            {{ $vuetify.lang.t('$vuetify.pageHome.detail') }}
                          </v-btn>
                        </div>
                      </div>
                    </v-overlay>
                  </v-img>
                </v-card>
                <div class="font-weight-bold mt-3">
                  {{ item.artistName }}
                </div>
                <div class="caption">
                  {{ item.works }}
                </div>
              </v-card>
            </template>
          </v-hover>
        </v-col>
      </v-row>
      <div class="text-center" style="display: flex; justify-content: center">
        <v-col cols="7" md="2">
          <v-hover v-slot="{ hover }" close-delay="200">
            <v-card
              :elevation="hover ? 6 : 0"
              :class="{ 'on-hover': hover }"
              class="text-center mt-8 btnHover"
              @click="routerBooking"
            >
              <div>
                <!-- {{ artistOther - 8 }} -->
                {{ $vuetify.lang.t('$vuetify.pageBooking.OtherArtists') }}
              </div>
            </v-card>
          </v-hover>
        </v-col>
      </div>
      <v-row class="px-0 pb-6">
        <v-col cols="12" class="px-1 mb-4">
          <h2 class="mt-12">
            {{ $vuetify.lang.t('$vuetify.pageHome.mediaPartner') }}
          </h2>
        </v-col>
        <v-col cols="12" class="px-0 pb-12">
          <v-sheet class="mx-auto" elevation="0" max-width="100%">
            <v-slide-group v-model="model" class center-active show-arrows>
              <v-slide-item v-for="n in listDoiTac" :key="n.id">
                <div>
                  <v-tooltip bottom>
                    <template #activator="{ on, attrs }">
                      <v-img
                        class="mb-0 mx-5"
                        :src="UrlImg(n.image)"
                        :height="
                          $store.state.app.viewPort == 'mobile' ? 60 : 81
                        "
                        :width="
                          $store.state.app.viewPort == 'mobile' ? 116 : 140
                        "
                        v-bind="attrs"
                        v-on="on"
                      />
                    </template>
                    <span>{{ n.name }}</span>
                  </v-tooltip>
                </div>
              </v-slide-item>
            </v-slide-group>
          </v-sheet>
        </v-col>
      </v-row>
    </v-container>
    <dialogBooking
      :id="idBooking"
      :avatar="avatarBooking"
      :title="titleBooking"
      :amountMoney="amountMoney"
      :open="openBooking"
      @toggle="openBooking = !openBooking"
    />
  </div>
</template>

<script>
import Cookies from 'js-cookie'
import dialogBooking from '~/components/booking/dialogBooking'
import URL from '~/assets/configurations/Base_Url'
import news from '~/components/homePage/news'
export default {
  components: {
    news,
    dialogBooking,
  },
  async asyncData({ store }) {
    let overlay = true
    let blocks = []
    let artistOther = ''
    try {
      const res = await store.dispatch('artists/listArtists', {
        pageIndex: 1,
        pageSize: 8,
      })

      overlay = false
      blocks = res.data.data.data

      artistOther = res.data.data.totalRecords
      blocks.sort((a, b) => {
        return a.rank - b.rank
      })
    } catch (e) {
      overlay = false
    }

    return {
      overlay,
      blocks,
      artistOther,
    }
  },
  data() {
    return {
      idBooking: null,
      avatarBooking: '',
      titleBooking: '',
      amountMoney: null,
      openBooking: false,
      breakpoint: 'xl',
      news: 0,
      slides: [],
      model: null,
      ListProduct: [],
      dataProduct: [
        {
          nameUrl: 'nghe-si-hang-dau',
          name: 'Sẽ ra mắt sàn giao dịch điện tử cho nghệ sĩ Việt Nam.',
          avatar: '/imgFake/1.png',
        },
        {
          nameUrl: 'nghe-si-hang-hai',
          name: 'Dàn sao Việt khám phá bản thân qua AR Filter Vũ trụ nói gì về bạn?',
          avatar: '/imgFake/4.png',
        },
        {
          nameUrl: 'nghe-si-hang-3',
          name: 'Nghệ sĩ Việt hào hứng lần đầu có sàn giao dịch điện tử riêng',
          avatar: '/imgFake/3.png',
        },
        {
          nameUrl: 'nghe-si-hang-4',
          name: 'Trưởng nhóm INFINITE ký hợp đồng độc quyền với VAN',
          avatar: '/imgFake/2.png',
        },
        {
          nameUrl: 'nghe-si-hang-4',
          name: 'Trưởng nhóm INFINITE ký hợp đồng độc quyền với VAN',
          avatar: '/imgFake/2.png',
        },
      ],
      listDoiTac: [],
    }
  },
  watch: {
    '$vuetify.breakpoint.name'(value) {
      this.breakpoint = value
    },
  },
  mounted() {
    this.breakpoint = this.$vuetify.breakpoint.name
    this.AnhDoiTac()
    this.AnhBanner()
    this.AnhSpHot()
  },
  created() {
    this.approvalStatus = Cookies.get('approvalStatus')
  },
  methods: {
    AnhSpHot() {
      this.$store
        .dispatch('home/listSpHot', {
          salientStatus: 1,
        })
        .then((res) => {
          if (!res.error) {
            this.ListProduct = res.data.data
          }
        })
    },
    AnhBanner() {
      this.$store.dispatch('home/listBanner').then((res) => {
        if (!res.error) {
          this.slides = res.data.data
        }
      })
    },
    AnhDoiTac() {
      this.$store.dispatch('home/listDoiTac').then((res) => {
        if (!res.error) {
          this.listDoiTac = res.data.data
        }
      })
    },
    openDialogBooking(item) {
      if (this.$store.state.login.role !== '') {
        if (this.$store.state.login.role.includes('CUSTOMER')) {
          this.idBooking = item.id
          this.avatarBooking = item.avatar
          this.titleBooking = item.artistName
          this.amountMoney = item.amountMoney
          this.openBooking = true
        } else {
          this.profileDetail(item)
        }
      }
    },
    checktoken() {
      return Cookies.get('token')
    },
    detail(item) {
      if (!this.checktoken()) {
        this.$store.commit('login/setLogin')
      }
    },
    heightArtist() {
      if (this.$store.state.app.viewPort === 'mobile') {
        return '12.185rem'
      } else {
        return '17.185rem'
      }
    },
    clickLike(data) {
      if (!Cookies.get('token')) {
      } else if (data.favoriteStatus === 0) {
        this.$store
          .dispatch('profile/favorite', {
            artistId: data.id,
          })
          .then((res) => {
            this.pageIndex -= 1
            if (data.favoriteStatus === 0) {
              data.favoriteStatus = 1
            } else {
              data.favoriteStatus = 0
            }
          })
      } else {
        this.$store
          .dispatch('profile/unFavorite', {
            artistId: data.id,
          })
          .then((res) => {
            if (!res.error) {
              if (!res.error) {
                this.pageIndex -= 1
                if (data.favoriteStatus === 0) {
                  data.favoriteStatus = 1
                } else {
                  data.favoriteStatus = 0
                }
              }
            }
          })
      }
    },
    heightSP(mobile, tablet, desktop) {
      if (this.breakpoint === 'lg' || this.breakpoint === 'xl') {
        return desktop
      } else if (this.breakpoint === 'md' || this.breakpoint === 'sm') {
        return tablet
      } else {
        return mobile
      }
    },
    height() {
      if (this.breakpoint === 'lg' || this.breakpoint === 'xl') {
        return '28rem'
      } else if (this.breakpoint === 'md' || this.breakpoint === 'sm') {
        return '16rem'
      } else {
        return '6rem'
      }
    },
    checkText() {},
    routerBooking() {
      this.$router.push('/artists')
      this.$store.commit('artists/setTabs')
    },
    profileDetail(item) {
      let plan = item.id
      this.$store.commit('artists/setTabs')
      this.$router.push({
        path: `/booking/${this.$removeAccents(item.fullName).replace(
          / /g,
          '-'
        )}`,
        query: { plan },
      })
    },
    errorImg(index) {
      this.blocks[index].avatar = '/icon/nghesi.png'
    },
    UrlImg(value) {
      return URL.urlImg + value
    },
    showAvatar(avatar) {
      if (avatar === '/icon/nghesi.png') {
        return avatar
      } else {
        return URL.urlImg + avatar
      }
    },
  },
}
</script>

<style lang="scss">
.home {
  .tustom-carousel {
    .v-carousel__controls {
      bottom: 11px;
      .v-btn--icon {
        color: rgb(104, 185, 214) !important;
      }
    }
  }
  .v-carousel__controls {
    .v-btn--icon {
      color: rgb(104, 185, 214) !important;
    }
  }
  .flex-end {
    .v-overlay__content {
      height: 100%;
      width: 100%;
    }
  }
  .VueCarousel-pagination {
    .VueCarousel-dot-container {
      margin-top: 0px !important;
    }
  }
}
</style>

<style lang="scss" scoped>
.home {
  @media (min-width: 1904px) {
    .customContainer {
      max-width: 1300px !important;
    }
  }
  .v-carousel__item {
    .v-responsive__sizer {
      padding-bottom: 0px !important;
      height: 100%;
    }
    .v-image {
      height: 100%;
    }
  }
  .btnHover {
    border: 1px solid;
    border-radius: 40px;
    cursor: pointer;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 375px) {
  .VueCarousel-slide {
    max-width: 50% !important;
  }
}
</style>
