<template>
  <div v-if="(dataproduct || []).length !== 0">
    <v-carousel
      v-model="carousel"
      cycle
      show-arrows-on-hover
      hide-delimiters
      :height="viewPortValue == 'mobile' ? '254px' : '342px'"
    >
      <v-carousel-item v-for="(item, i) in listAnh" :key="i">
        <div class="px-1 d-flex" style="justify-content: space-between">
          <div
            v-for="(img, idx) in item"
            :key="idx"
            :style="
              $store.state.app.viewPort === 'mobile'
                ? 'width: 48%'
                : 'width: 23.8%'
            "
          >
            <v-hover v-if="JSON.stringify(img) !== '{}'">
              <template #default="{ hover }">
                <v-tooltip bottom>
                  <template #activator="{ on, attrs }">
                    <v-card
                      color="white"
                      rounded="lg"
                      :to="`/news/${img.id}`"
                      class="transition-swing my-3"
                      :elevation="hover ? 3 : 0"
                      v-bind="attrs"
                      v-on="on"
                    >
                      <v-img
                        style="border-radius: 8px"
                        :src="UrlImg(img.image)"
                        :height="
                          $store.state.app.viewPort == 'mobile'
                            ? '7.79rem'
                            : '13.79rem'
                        "
                        width="100%"
                      />
                      <h3
                        class="py-0 px-2 black--text fs-14"
                        style="
                          text-align: start !important;
                          max-height: 72px;
                          min-height: 72px;
                        "
                      >
                        {{ textNews(img.name) }}
                      </h3>
                      <div class="caption d-flex px-2 py-0 black--text">
                        <v-icon small color="black">
                          {{ 'mdi-clock-outline' }}
                        </v-icon>
                        <div class="text-start">{{ img.createTime }}</div>
                      </div>
                    </v-card>
                  </template>
                  <span>{{ img.name }}</span>
                </v-tooltip>
              </template>
            </v-hover>
          </div>
        </div>
      </v-carousel-item>
    </v-carousel>
    <div class="text-center">
      <template
        v-for="(item, index) in Math.ceil(
          dataproduct.length / ($store.state.app.viewPort == 'mobile' ? 2 : 4)
        )"
      >
        <v-btn
          :key="index"
          :ripple="{ center: true }"
          fab
          dark
          class="icon-23"
          :color="carousel == index ? '#2456ca3d' : 'white'"
          depressed
          @click="carousel = index"
        >
          <v-icon
            style="font-size: 16px"
            dark
            :color="carousel == index ? '#2456ca' : '#2c2c2c47'"
          >
            mdi-circle
          </v-icon>
        </v-btn>
      </template>
    </div>
  </div>
</template>

<script>
import URL from '~/assets/configurations/Base_Url'
export default {
  data() {
    return {
      dataproduct: [],
      listAnh: [],
      carousel: 0,
      breakpoint: 'xl',
    }
  },
  computed: {
    viewPortValue() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          return 'mobile'
        case 'sm':
          return 'tablet'
        case 'md':
          return 'tablet'
        case 'lg':
          return 'desktop'
        case 'xl':
          return 'desktop'
        default:
          return ''
      }
    },
  },
  watch: {
    '$vuetify.breakpoint.name'(value) {
      this.breakpoint = value
    },
    dataproduct() {
      this.chonAnh()
    },
  },
  mounted() {
    this.breakpoint = this.$vuetify.breakpoint.name
    this.getList()
  },
  methods: {
    textNews(text) {
      if (text) {
        if (text.length > 40) {
          return text.slice(0, 50) + '...'
        } else {
          return text
        }
      }
    },
    getList() {
      this.$store
        .dispatch('home/news', {
          langId: 1,
          pageIndex: 1,
          pageSize: 10,
        })
        .then((res) => {
          if (!res.error) {
            this.dataproduct = res.data.data.data
          }
        })
        .catch((e) => {
          this.overlay = false
        })
    },
    UrlImg(value) {
      return URL.urlImg + value
    },
    chonAnh() {
      const listAnh = []
      let childList = []
      const mobile = this.$store.state.app.viewPort === 'mobile' ? 2 : 4
      for (let index = 0; index < this.dataproduct.length; index++) {
        if ((index + 1) % mobile === 0) {
          childList.push(this.dataproduct[index])
          listAnh.push(childList)
          childList = []
        } else {
          childList.push(this.dataproduct[index])
        }
      }
      if ((childList || []).length !== 0) {
        if (childList.length === 3) {
          childList.push({})
        } else if (childList.length === 2) {
          childList.push({})
          childList.push({})
        } else if (childList.length === 1) {
          childList.push({})
          childList.push({})
          childList.push({})
        }
        listAnh.push(childList)
      }
      this.listAnh = listAnh
    },
  },
}
</script>

<style lang="scss" scoped>
.VueCarousel-slide {
  max-width: 25% !important;
  .v-responsive__content {
    border-radius: 4px !important;
  }
}
@media (max-width: 1024px) {
  .VueCarousel-slide {
    max-width: 50% !important;
  }
}
</style>
