<template>
  <div class="position-fixed-top-right notification pa-2">
    <v-slide-y-transition group>
      <div
        v-for="(notification, idx) in $store.state.notification.notifications"
        :key="`notification-${idx}`"
        class="notification-item"
        @click="dismiss_alert(notification)"
      >
        <v-alert
          elevation="4"
          :color="notification.type"
          class="pa-1 py-2 px-4 white--text align-center d-flex"
        >
          {{ notification.text }}
        </v-alert>
      </div>
    </v-slide-y-transition>
  </div>
</template>
<script>
// import successIcon from './successIcon'
// import errorIcon from './errorIcon'
export default {
  components: {
    // successIcon,
    // errorIcon,
  },
  methods: {
    dismiss_alert(notification) {
      this.$store.commit('notification/remove_notification', notification)
    },
  },
}
</script>
<style lang="scss">
.notification {
  z-index: 203;
  overflow-y: hidden !important;
  overflow-x: visible !important;
  max-height: 100% !important;
  .notification-item {
    cursor: pointer;
  }
}
</style>
