<template>
  <svg
    id="Group_160"
    data-name="Group 160"
    xmlns="http://www.w3.org/2000/svg"
    width="28"
    height="28"
    viewBox="0 0 28 28"
  >
    <circle
      id="Ellipse_27"
      data-name="Ellipse 27"
      cx="14"
      cy="14"
      r="14"
      fill="#1453bf"
    />
    <path
      id="Path_67"
      data-name="Path 67"
      d="M4634.055,7186.175l3.33,3.329,6.183-6.183"
      transform="translate(-4624.605 -7172.471)"
      fill="none"
      stroke="#fff"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    />
  </svg>
</template>
