<template>
  <div>
    <v-dialog
      :value="open"
      max-width="1000px"
      persistent
      @keydown="$event.key === 'Escape' && toggle()"
    >
      <v-card style="border-radius: 6px">
        <v-img src="/logo/anhNen.png" class="customImg">
          <v-card-title
            class="pt-1 pb-7 pl-3 w-100"
            style="font-size: 1.12rem !important"
          >
            Hướng dẫn
          </v-card-title>
          <v-card-text>
            <div
              style="position: absolute; right: 0px; cursor: pointer; top: 7px"
              class="text-center"
              @click="toggle"
            >
              <v-img height="26" width="26" class="mr-2" src="/logo/x.png" />
            </div>
            <div class="mb-12" v-html="dataDeatail" />
          </v-card-text>
        </v-img>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: {
    open: {
      type: Boolean,
    },
    path: {
      type: String,
      default: '',
    },
  },

  data() {
    return {
      dataDeatail: '',
    }
  },
  watch: {
    open(value) {
      this.getFooter()
    },
  },
  methods: {
    getFooter() {
      const data = {
        path: this.path,
      }
      this.$store.dispatch('setting/detailFooter', data).then((res) => {
        if (!res.error) {
          if ((res.data.data || []).length !== 0) {
            this.dataDeatail = res.data.data[0].content
          }
        }
      })
    },
    toggle() {
      this.$emit('toggle')
    },
  },
}
</script>

<style lang="scss" scoped></style>
